{# src/Zeega/CommunityBundle/Resources/views/About/about.html.twig #}

{% extends 'ZeegaCommunityBundle:About:about_base.html.twig' %}

{% block title %}Mission{% endblock %}
{% block backgroundurl %}{{ asset('images/about/about_mwmc.gif')}}{% endblock%}

{% block body %}
<!-- Background Color Div - creates the transparent layer over the background image -->
	<div id="background-color">
	</div>
	<!-- Background Color Div ends -->
	
	<!-- Page Intro Begins -->
	
	<div class="container new-section">
	
		<div class="row">
	
			<div class="page-intro span11">
			
				<h1>MISSION</h1>
			</div>
		
		</div>
	
	</div>
	
	<!-- Page Intro Ends -->
	
	
	<!-- Page Content Begins -->
	
	<div class="container new-section">
	
		<div class="row">
			
			<!-- Main Column Begins -->
					
			<div class="span9 article">
				<h2>The Internet is a wild place. We like that. Too often, though, it's overwhelming. And full of too many choices.<br><br> 
				Little by little, we want to help remake the Internet. To make it a more beautiful place. To make the web's wilds accessible to anyone for new forms of creative expression.<br><br>
				Zeega is revolutionizing web publishing and interactive storytelling for a future beyond blogs. The blog is still the dominant paradigm for web publishing, but is built on a print model. Media types are separated and text drives navigation. We believe we're on the cusp of a sea change in what web publishing looks like.<br><br>
				Zeega is ushering in an era when audio, image and pacing define web experiences, enabling authors to seamlessly mix media. Combating information overload, links are fewer, visual and contextual. Zeega sites are self-contained, smaller and as easy-to-share and embed as YouTube videos. With Zeega, the website finally becomes a genuinely new medium that everyone can join in making. This new form of website is collaborative, integrating media from across the web, experienced via maps and other interfaces.<br><br>
				We're calling this new medium, this next generation website, a Zeega. The name is inspired by one of the world's greatest modern artists, Dziga Vertov, a filmmaker and radio journalist who nearly a century ago defined the radical potential for new forms of media-making.<br><br>
				Built within the Symfony PHP framework and using JS libraries such as Backbone and Popcorn, Zeega runs on its own API, making for simple customization and data access. Take a peek on <a href="https://github.com/Zeega/Zeega-Core" target="_blank">Github</a>.<br><br>
				Early support for Zeega has come from the Berkman Center for Internet and Society, AIR, PRX, The Sensory Ethnography Lab, Harvard's Academic Technology Group, UnionDocs and metaLAB (at) Harvard. Initial funding has been provided by the Knight Foundation and Harvard Library Lab.</h2>
			</div>
			
			<!-- Main Column Ends -->
			
				<div id ="home-cards" ></div>
	<script>
	
	var homeCards =[
		{
			url:"{{asset("images/home/home_edit.jpg")}}",
			title:"EDIT WITH DRAG-AND-DROP EASE",
			subtitle: "Zeega enables anyone to experiment with the web as a creative medium. No programming knowledge required : )",
			seperator: "Scroll down to learn more"
		},
		{
			url:"{{asset("images/home/home_addmedia.jpg")}}",
			title:"USE ANY MEDIA YOU WANT",
			subtitle: "Currently liberated APIs include Dropbox, YouTube, Flickr, SoundCloud, Archive.org, Tumblr and Mapbox.",
			seperator: ""
		},
		{
			url:"{{asset("images/home/home_expression.jpg")}}",
			title:"FREEDOM OF EXPRESSION",
			subtitle: "Set timings. Add text. Use street view. Layer media.",
			seperator: ""
		},
		{
			url:"{{asset("images/home/home_interface.jpg")}}",
			title:"INVENT YOUR OWN INTERFACE",
			subtitle: "Turn any part of an image or video into a link.",
			seperator: ""
		},
		{
			url:"{{asset("images/home/home_credit.jpg")}}",
			title:"CREDIT EVERYONE",
			subtitle: "All media is properly cited to its original author and tracked back to its source location.",
			seperator: ""
		},
		{
			url:"{{asset("images/home/home_share.jpg")}}",
			title:"SHARE FULL-SCREEN EXPERIENCES",
			subtitle: "You can embed your Zeega on any site and it automatically opens in full-screen.",
			seperator: ""
		},
		{
			url:"{{asset("images/home/home_dziga.jpg")}}",
			title:"AND THE NAME...",
			subtitle: "One of our favorite films is <a href='http://www.youtube.com/watch?v=op2sOtF113M&feature=watch-now-button&wide=1' target='_blank'>Man with a Movie Camera</a>, made in 1929 by Dziga Vertov. We changed the spelling slightly.",
			seperator: ""
		},
		{
			url:"",
			title:"A CULTURE OF EXPERIMENTATION",
			subtitle: "Zeega is a community of artists, filmmakers, journalists, educators, designers and other makers passionate about inventing a new medium together.",
			seperator: ""
		}
		
	
	]
	
	</script>
	
			
			<!-- Sidebar Begins -->
			
			<div class="span4 offset1">
			
				<!-- Sign Up Button Begins -->
				<a href="{{path('fos_user_registration_register')}}">
				<div class="go-button new-section">

						<div class="valign">
							<div class="valign-content">	
					
								<h4>
								Sign Up For Zeega</a>
								</h4>
							
							</div>
						</div>

				</div>
				</a>
				<!-- Sign Up Button Ends -->
				
				<!-- Sidebar Productions Begins -->
				<div class="sidebar-module new-section">
				
					<div class="sidebar-button">
	
							<div class="valign">
								<div class="valign-content">	
						
									<h4>Productions</h4>
								
								
								</div>
							</div>
	
					</div>
					
					<p class="sidebar">
						<a href="{{ path('ZeegaCommunityBundle_productions')}}">Zeega Productions</a> is a growing series of innovative storytelling projects that span the globe and uncover new perspectives on the human experience. Some works are co-productions with leading partners in the radio, film, journalism and interactive worlds; others are lead by Zeega's internal team.
					</p>
				
				</div>
				<!-- Sidebar Meet The Team Ends -->
				
				<!-- Sidebar Meet The Team Begins -->
				<div class="sidebar-module new-section">
				
					<div class="sidebar-button">
	
							<div class="valign">
								<div class="valign-content">	
						
									<h4>Meet The Team</h4>
								
								
								</div>
							</div>
	
					</div>
					
					<p class="sidebar">
						<a href="{{ path('ZeegaCommunityBundle_team')}}">The Zeega Team</a> is built on the principle that innovation in storytelling requires deep integration of editorial, design and technology perspectives throughout the creative process. Say hi to the folks.
					</p>
				
				</div>
				<!-- Sidebar Meet The Team Ends -->
				
				<!-- Sidebar Enquiries Begins -->
				<div class="sidebar-module new-section">
				
					<div class="sidebar-button">
	
							<div class="valign">
								<div class="valign-content">	
						
									<h4>Ask a Question</h4>
								
								
								</div>
							</div>
	
					</div>
					
					<p class="sidebar">General inquiries: <a href="mailto: info@zeega.org">info@zeega.org</a></p>
					<p class="sidebar">Press inquiries: <a href="mailto: press@zeega.org">press@zeega.org</a></p>
				
				</div>
				<!-- Sidebar Enquiries Ends -->
				
				<!-- Sidebar Links Begins -->
				<div class="sidebar-module new-section">
				
					<div class="sidebar-button">
	
							<div class="valign">
								<div class="valign-content">	
						
									<h4>Elsewhere</h4>
								
								</div>
							</div>
	
					</div>
					
					<p class="sidebar"><a href="http://twitter.com/Zeega"><img src="{{ asset('images/social-icons/twitter.png') }}" alt="twitter" width="20" height="20">Follow us on Twitter</a></p>
					<p class="sidebar"><a href="https://www.facebook.com/pages/Zeega/242930292457056"><img src="{{ asset('images/social-icons/facebook.png') }}" alt="facebook" width="20" height="20">Follow us on Facebook</a></p>
				
				</div>
				<!-- Sidebar LINKS Ends -->
			
			</div>
			
			<!-- Sidebar Ends -->
		
		</div>
	
	</div>
	
	<!-- Page Content Ends -->


{% endblock %}
