{# src/Zeega/CommunityBundle/Resources/views/Productions/productions.html.twig #}

{% extends 'ZeegaCommunityBundle:About:about_base.html.twig' %}

{% block title %}Zeega Web Documentaraies :: Media And Place Productions{% endblock %}
{% block backgroundurl %}{{asset("images/about/productions.gif")}}{% endblock%}


{% block body %}
<!-- Background Color Div - creates the transparent layer over the background image -->
	<div id="background-color-lightest">
	</div>
	<!-- Background Color Div ends -->
	
	<!-- Page Intro Begins -->
	
	<div class="container new-section">
	
		<div class="row">
	
			<div class="page-intro span11">
			
				<h1>Zeega Web Documentaries</h1>
				
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Page Content Begins -->
	
	<div class="container new-section">
	
		<div class="row">
			
			<!-- Main Column Begins -->
					
			<div class="span14 article">
			
				<h2>Media And Place Productions is a 501(c)3 non-profit. Using the Zeega platform and other technologies, our creative, editorial and technology team co-produced a series of web documentaries that span the globe and uncover new perspectives on the human experience. We are passionate about beautiful, surprising, immersive digital experiences that foster curiosity and enrich understanding of the world around us.</h2>
				
				</div>
		</div>
	</div>
	
	<!-- Page Intro Ends -->
	
	<!-- Special Project Separator Begins -->
	
	<br><br><br><br>
		<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2>Scroll down to explore</h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	<!-- Special Project Separator Ends -->
	
	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/productions/bgb.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign" style="width: 800px">
							<div class="valign-content">	
					
								<h1><small>How oil changed North Dakota</small><br><a href="http://roughride.blackgoldboom.com" target="_blank">Rough Ride</a></h1>
								
							</div>
						</div>
						
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Special Project Ends -->
	
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>

	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/productions/amm.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign" style="width: 800px">
							<div class="valign-content">	
					
								<h1><small>Explore Austin's diverse sonic geography</small><br><a href="http://austinmusicmap.com" target="_blank">Austin Music Map</a></h1>
								
							</div>
						</div>
						
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Special Project Ends -->
	
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>

	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/productions/reinvention.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign" style="width: 800px">
							<div class="valign-content">	
					
								<h1><small>How does a town of inventors reinvent itself?</small><br><a href="http://reinventionstories.org" target="_blank">Reinvention Stories</a></h1>
								
							</div>
						</div>
						
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Special Project Ends -->
	
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>

		<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/productions/planettakeout.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign" style="width: 800px">
							<div class="valign-content">	
					
								<h1><small>Local Chinese takeouts become spaces for community storytelling</small><br><a href="http://planettakeout.org" target="_blank">Planet Takeout</a></h1>
								
							</div>
						</div>
						
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Special Project Ends -->
	
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/productions/makingof.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign" style="width: 800px">
							<div class="valign-content">	
					
								<h1><small>Chronicling art and innovation in Northern California</small><br><a href="http://blogs.kqed.org/makingof/studio/" target="_blank">The Making Of...</a></h1>
								
							</div>
						</div>
						
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Special Project Ends -->
	
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>	
	
	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/productions/sonictrace.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign" style="width: 800px">
							<div class="valign-content">	
					
								<h1><small>Oral history mosaic about local life in Los Angeles today</small><br><a href="http://sonictrace.org" target="_blank">Sonic Trace</a></h1>
								
							</div>
						</div>
						
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Special Project Ends -->

	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>

		<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/productions/cc.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign">
							<div class="valign-content">	
					
								<h1><small>Transforming journalism through opening up the editorial process</small><br><a href="http://curiouscity.wbez.org/" target="_blank">Curious City</a></h1>
								
							</div>
						</div>
						
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	
	
	<!-- Special Project Ends -->
	
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>

		<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/productions/isee.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign">
							<div class="valign-content">	
					
								<h1><small>Community observations about seasonal shifts in the weather</small><br><a href="https://www.facebook.com/iSeeChange" target="_blank"><span class="lower-case">i</span>SeeChange</a></h1>
								
							</div>
						</div>
						
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>




	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/productions/localore.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign" style="width: 800px">
							<div class="valign-content">	
					
								<h1><small>Laying tracks for a new, 21st-century Public Media</small><br><a href="http://localore.net" target="_blank">Localore</a></h1>
								
							</div>
						</div>
						
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Special Project Ends -->

	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>


	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/productions/evpoetry.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign" style="width: 800px">
							<div class="valign-content">	
					
								<h1><small>Tour a neighborhood's cultural history with Jim Jarmusch</small><br><a href="http://eastvillagepoetrywalk.org" target="_blank">East Village Poetry Walk</a></h1>
								
							</div>
						</div>
						
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	


	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/productions/jda.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign" style="width: 800px">
							<div class="valign-content">	
					
								<h1><small>Participatory archive and site of shared memory</small><br><a href="http://jdarchive.org/" target="_blank">Digital Archive of Japan's 2011 Disasters</a></h1>
								
							</div>
						</div>
						
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Special Project Ends -->
	
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	

	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/productions/cloudofunknowing.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign" style="width: 800px">
							<div class="valign-content">	
					
								<h1><small>Art-based research project on the Nyanza superfund site in Ashland, MA</small><br><a href="http://zeega.com/69241" target="_blank">Cloud of Unknowing</a></h1>
								
							</div>
						</div>
						
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Special Project Ends -->
	
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/productions/sensate.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign" style="width: 800px">
							<div class="valign-content">	
					
								<h1><small>A Journal for Experiments in Critical Media Practice</small><br><a href="http://sensatejournal.com/" target="_blank">Sensate Journal</a></h1>
								
							</div>
						</div>
						
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Special Project Ends -->



{% endblock %}