{# src/Zeega/CommunityBundle/Resources/views/Productions/productions.html.twig #}

{% extends 'ZeegaCommunityBundle:About:about_base.html.twig' %}

{% block title %}Productions{% endblock %}
{% block backgroundurl %}http://25.media.tumblr.com/tumblr_m4yj6w8x261qg39ewo1_500.gif{% endblock%}


{% block body %}
<!-- Background Color Div - creates the transparent layer over the background image -->
	<div id="background-color-lightest">
	</div>
	<!-- Background Color Div ends -->
	
	<!-- Page Intro Begins -->
	
	<div class="container new-section">
	
		<div class="row">
	
			<div class="page-intro span11">
			
				<h1>PRODUCTIONS</h1>
				
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Page Content Begins -->
	
	<div class="container new-section">
	
		<div class="row">
			
			<!-- Main Column Begins -->
					
			<div class="span14 article">
			
				<h2>Zeega Productions is our R&D division, a growing series of innovative storytelling projects that span the globe and uncover new perspectives on the human experience. </h2>
				
				</div>
		</div>
	</div>
	
	<!-- Page Intro Ends -->
	
	<!-- Special Project Separator Begins -->
	
	<br><br><br><br><br><br><br>
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2>We regularly work with leading partners in the radio, film, journalism and interactive worlds.</h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	<!-- Special Project Separator Ends -->
	
	
	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/productions/mms.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign">
							<div class="valign-content">	
					
								<h1><small>Collaborative documentary creating a new map of the country</small><br><a href="http://mappingmainstreet.org" target="_blank">Mapping Main Street</a></h1>
							
							</div>
						</div>
							
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Special Project Ends -->
	
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/productions/evpoetry.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign">
							<div class="valign-content">	
					
								<h1><small>Tour a neighborhood's cultural history with Jim Jarmusch</small><br><a href="http://eastvillagepoetrywalk.org" target="_blank">East Village Poetry Walk</a></h1>
								
							</div>
						</div>
						
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	


<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/productions/jda.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign">
							<div class="valign-content">	
					
								<h1><small>Participatory archive and site of shared memory</small><br><a href="http://beta.jdarchive.org/" target="_blank">Digital Archive of Japan's 2011 Disasters</a></h1>
								
							</div>
						</div>
						
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Special Project Ends -->
	
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	
	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/productions/thereandhere.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign">
							<div class="valign-content">	
					
								<h1><small>Data, field visits and interviews tell the stories of remittances</small><br><a href="http://thereandhere.org" target="_blank">There and Here</a></h1>
								
							</div>
						</div>
						
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Special Project Ends -->
	
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	
	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/productions/bgb.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign">
							<div class="valign-content">	
					
								<h1><small>How oil changed North Dakota</small><br><a href="http://blackgoldboom.com" target="_blank">Black Gold Boom</a></h1>
								
							</div>
						</div>
						
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Special Project Ends -->
	
	<!-- Special Project Ends -->
	
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/productions/amm.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign">
							<div class="valign-content">	
					
								<h1><small>Explore Austin's diverse sonic geography</small><br><a href="http://austinmusicmap.com" target="_blank">Austin Music Map</a></h1>
								
							</div>
						</div>
						
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Special Project Ends -->
	
	<!-- Special Project Ends -->
	
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/productions/cc.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign">
							<div class="valign-content">	
					
								<h1><small>Transforming journalism through opening up the editorial process</small><br><a href="http://curiouscity.wbez.org/" target="_blank">Curious City</a></h1>
								
							</div>
						</div>
						
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	
	
	<!-- Special Project Ends -->
	
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	
	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/productions/planettakeout.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign">
							<div class="valign-content">	
					
								<h1><small>Local Chinese takeouts become spaces for community storytelling</small><br><a href="http://planettakeout.org" target="_blank">Planet Takeout</a></h1>
								
							</div>
						</div>
						
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Special Project Ends -->
	

<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/productions/localore.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign">
							<div class="valign-content">	
					
								<h1><small>Creating a 21st-century public media</small><br><a href="http://localore.net/" target="_blank">Localore</a></h1>
								
							</div>
						</div>
						
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	
	
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	
	
	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/productions/sonictrace.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign">
							<div class="valign-content">	
					
								<h1><small>Oral history mosaic about local life in Los Angeles today</small><br><a href="https://www.facebook.com/SonicTrace" target="_blank">Sonic Trace</a></h1>
								
							</div>
						</div>
						
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Special Project Ends -->
	
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/productions/makingof.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign">
							<div class="valign-content">	
					
								<h1><small>Chronicling art and innovation in Northern California</small><br><a href="http://kitchensisters.org/" target="_blank">The Making Of...</a></h1>
								
							</div>
						</div>
						
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Special Project Ends -->
	
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/productions/isee.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign">
							<div class="valign-content">	
					
								<h1><small>Community observations about seasonal shifts in the weather</small><br><a href="https://www.facebook.com/iSeeChange" target="_blank"><span class="lower-case">i</span>SeeChange</a></h1>
								
							</div>
						</div>
						
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	
	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/productions/reinvention.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign">
							<div class="valign-content">	
					
								<h1><small>How does a town of inventors reinvent itself?</small><br><a href="http://wyso.org/reinvention" target="_blank">Reinvention Stories</a></h1>
								
							</div>
						</div>
						
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Special Project Ends -->
	
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/productions/sensate.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign">
							<div class="valign-content">	
					
								<h1><small>A Journal for Experiments in Critical Media Practice</small><br><a href="http://sensatejournal.com/" target="_blank">Sensate Journal</a></h1>
								
							</div>
						</div>
						
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Special Project Ends -->



{% endblock %}