{# src/Zeega/CommunityBundle/Resources/views/Team/team.html.twig #}

{% extends 'ZeegaCommunityBundle:About:about_base.html.twig' %}
{% block title %}Zeega::Team{% endblock %}
{% block backgroundurl %}{{asset("images/team/team_top.gif")}}{% endblock %}


{% block body %}
<!-- Background Color Div - creates the transparent layer over the background image -->
	<div id="background-color-lighter">
	</div>
	<!-- Background Color Div ends -->
	
	<!-- Page Intro Begins -->
	
	<div class="container new-section">
	
		<div class="row">
	
			<div class="page-intro span11">
			
				<h1>Team</h1>
				
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Page Intro Ends -->
	
	<!-- Page Content Begins -->
	
	<div class="container new-section">
	
		<div class="row">
								
			<div class="span14 article">
			
				<h2>The Zeega Team is built on the principle that innovation in storytelling requires deep integration of editorial, design and technology perspectives throughout the creative process.</h2>
				
				</div>
		</div>
	</div>
	
	<br><br><br><br><br><br><br><br><br>
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2>Currently, we are a small team with wildly diverse backgrounds, from entrepreneurship to documentary, from music to architecture, from urban design to artificial intelligence.</h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	
		
	<div class="special-team" style="background: url({{asset('images/team/team_bottom.gif')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
			
	<div class="container new-section">
	
		<div class="row">
			
			<!-- Main Column Begins -->
					
			<div class="span14 article">
			

				<br><br>
			

				<div class="dark-background">

					</a><div class="bioWrapper">
					<div class="bioPhoto">
					<img src="{{ asset('images/team/jesseNew.jpg') }}" width="150px" />
					<span class="identity">
					<a href="http://twitter.com/jshapins" target="_blank">@jshapins</a><br>
					jesse[at]zeega.com
					</span>
					</div>
					<div class="bioNew">
					<span class="bioName">Jesse Shapins</span> is Zeega's CEO. He is a  social entrepreneur and media artist. His work has been featured in <i>The New York Times</i>, <i>Metropolis</i>, and <i>Wired</i>, and been exhibited at MoMA, among other venues. He holds a Phd in architecture and media from Harvard, and is on the faculty of architecture at the Harvard Graduate School of Design and is co-creator of <a href="http://yellowarrow.net" target="_blank">Yellow Arrow</a>, the groundbreaking platform for location-based storytelling. More at: <a href="http://jesseshapins.net">www.jesseshapins.net</a><br><br>
					</div>
					<div class="clear">
					</div>
					</div>

				</div>

				<div class="dark-background">
				<div class="bioWrapper">
					<div class="bioPhoto">
					<span class="identity">
					<img src="{{ asset('images/team/kara.jpg') }}" />
					<a href="http://twitter.com/karaoehler" target="_blank">@karaoehler</a><br>
					kara[at]zeega.com
					</span>
					</div>
					<div class="bioNew">
					<span class="bioName">Kara Oehler</span> is Zeega's Chief Creative Officer. She is a Peabody award-winning audio documentarian, and her work has aired on shows such as RadioLab, Hearing Voices, Studio 360, and been exhibited at venues such as MoMA. She is a <a href="http://www.radcliffe.edu/fellowships/fellows_2012koehler.aspx" target="_blank">Radcliffe/Film Study Center Fellow</a> at Harvard University and a Rockefeller Fellow with <a href="http://www.usafellows.org/" target="_blank">United States Artists</a>. She is also co-creator of the interactive documentary <a href="http://yellowarrow.net/v3/projects_cop.html" target="_blank">Capitol of Punk</a>. More at: <a href="http://karaoehler.com" target="_blank">karaoehler.com</a>
					<br><br></div>
					<div class="clear">
					</div>
					</div>	
				</div>

				<div class="dark-background">

					<div class="bioWrapper">
					<div class="bioPhoto">
					<span class="identity">
					<img src="{{ asset('images/team/james.jpg') }}" />
					<a href="http://twitter.com/jameburn" target="_blank">@jameburn</a><br>
					james[at]zeega.com
					</span>
					</div>
					<div class="bioNew">
					<span class="bioName">James Burns</span> is Zeega's Chief Technology Officer. He is a media artist and hacker, who built the API-driven website Mapping Main Street, constructing a system that automatically interrelates media feeds from across the web into thematic and geographic pathways. He holds a PhD in Economics from Harvard University. More at <a href="http://matroidblues.com" target="_blank">www.matroidblues.com</a> 
					<br><br><br></div>
					<div class="clear">
					</div>
					</div>

				</div>
				

				<div class="dark-background">

					<div class="bioWrapper">
					<div class="bioPhoto">
					<img src="{{ asset('images/team/joseph.jpg') }}" />
					<span class="identity">
					<a href="http://twitter.com/jbergen" target="_blank">@jbergen</a><br>
					joseph[at]zeega.com
					</span>
					</div>
					<div class="bioNew">
					<span class="bioName">Joseph Bergen</span> is Zeega's Lead Interaction Designer/Developer. He is an engineer and designer whose interests revolve around technology, data, and art in relation to physical place. A self-taught programmer, he enjoys the challenge presented by large, complex, and dynamic data sets and teasing out otherwise hidden relationships with interactive visualizations. His work has been featured on FastCoDesign, the Wall Street Journal blog, and visualizing.org and has received top awards from Google. More at: <a href="http://www.josephbergen.com" target="_blank">www.josephbergen.com</a>
					</div>
					<div class="clear">
					</div>
					</div>
				</div>

				<div class="dark-background">

					<div class="bioWrapper">
					<div class="bioPhoto">
					<img src="{{ asset('images/team/filipe.jpg') }}" />
					<span class="identity">
					<a href="http://twitter.com/luisfbrandao" target="_blank">@luisfbrandao</a><br>
					filipe[at]zeega.com
					</span>
					</div>
					<div class="bioNew">
					<span class="bioName">Lu&iacute;s Filipe Brand&atilde;o</span> is Zeega's Lead Database Designer/Developer. He is a software engineer specialized in machine learning who likes working on large distributed systems and scaling web applications. Before starting to work at Zeega, he was a graduate student in Artificial Intelligence at the University of Amsterdam, and spent several years working as a software developer. Lu&iacute;s is originally from Lisbon but currently lives between Boston and San Francisco. More at <a href="http://luisbrandao.net" target="_blank">luisbrandao.net</a>
					</div>
					<div class="clear">
					</div>
					</div>


					
					</div>
					
					<div class="dark-background">

					<div class="bioWrapper">
					<div class="bioPhoto">
					<img src="{{ asset('images/team/ahmed.jpg') }}" />
					<span class="identity">
					<a href="http://twitter.com/AhmedKabil" target="_blank">@AhmedKabil</a><br>
					ahmed[at]zeega.com
					</span>
					</div>
					<div class="bioNew">
					<span class="bioName">Ahmed Kabil</span> is Zeega's Community Coordinator. He is a storyteller, budding documentarian, and creator of <a href="http://zeega.com/41616" target="_blank">Geodesic Domes or No Direction Home</a>, a Zeega project forthcoming in Places Journal. He recently moved to Cambridge from San Francisco, where he was involved with 826 Valencia, a non-profit writing center for youth. He is a Fellow at the metaLAB (at) Harvard. More at: <a href="http://www.ahmedkabil.com" target="_blank">www.ahmedkabil.com</a>.<br><br><br>
					</div>
					<div class="clear">
					</div>
					
					</div>
					</div>
					
				<div class="dark-background">

					<div class="bioWrapper">
					<div class="bioPhoto">
					<img src="{{ asset('images/team/eric.jpg') }}" />
					<span class="identity">
					
					</span>
					</div>
					<div class="bioNew">
					<span class="bioName">Eric Demicco</span> is a Creative Technologist at Zeega. He is a (mostly) self-taught developer who likes building and fixing things. Previously he worked on large-scale web projects for an interactive agency, and previous to that he typeset advertisements for pizza places. He enjoys urban design and transportation, and would be a pretty good drummer if he spent more time practicing and less time coming up with ridiculous band names. 
					</div>
					<div class="clear">
					</div>
					</div>
					
				</div>	
				
					
				
				
				<h1>ADVISORY BOARD</h1>


				<div class="dark-background">

					
					<a href="http://cyber.law.harvard.edu/people/cmaclay" target="_blank">Colin Maclay (Chair)</a><br>
					Berkman Center for Internet and Society
					<span class="break"></span> 

					<a href="https://twitter.com/#!/jakeshapiro">Jake Shapiro</a><br>
					PRX
					<span class="break"></span> 

					
					<a href="http://www.knightfoundation.org/staff/benoit-wirz/">Benoit Wirz</a><br>
					Knight Foundation
					<span class="break"></span> 
					
				</div>

				<h1>ADVOCATE NETWORK</h1>
				
				<div class="dark-background">

					
				<a href="http://www.uniondocs.org/people/christopher/" target="_blank">Christopher Allen</a><br /> 
				<small>UnionDocs</small> 
				<span class="break"></span> 
				
				<a href="http://www.knightfoundation.org/staff/john-bracken/" target="_blank">John Bracken</a><br /> 
				<small>Knight Foundation</small> 	
				<span class="break"></span> 
			
				<a href="http://sel.fas.harvard.edu/" target="_blank">Lucien Castaing-Taylor</a><br /> 
				<small>Sensory Ethnography Lab and Film Study Center</small> 
				<span class="break"></span> 
				
				<a href="http://matter.vc/team/" target="_blank">Corey Ford</a><br /> 
				<small>Matter Ventures</small> 
				<span class="break"></span> 
				
				<a href="http://www.canaan.com/team/partner/ross-fubini" target="_blank">Ross Fubini</a><br /> 
				<small>Canaan Ventures</small> 
				<span class="break"></span> 

				<a href="http://brianhouse.net/about/" target="_blank">Brian House</a><br /> 
				<small>R&D, New York Times Company</small>
				<span class="break"></span> 
				
				<a href="http://www.augustcap.com/team/david_hornik/" target="_blank">David Hornik</a><br /> 
				<small>August Capital</small> 
				<span class="break"></span> 
				
				<a href="http://jpalfrey.andover.edu/top/bio/" target="_blank">John Palfrey</a><br /> 
				<small>Andover</small> 
				<span class="break"></span> 
				
				<a href="http://danparham.com/" target="_blank">Dan Parham</a><br /> 
				<small>Neighborland</small> 	
				<span class="break"></span> 
			
				<a href="http://www.sigmaprime.com/team/raju-rishi" target="_blank">Raju Rishi</a><br /> 
				<small>Sigma Prime Ventures</small> 	
				<span class="break"></span> 
				
				<a href="http://www.airmedia.org/" target="_blank">Sue Schardt</a><br /> 
				<small>Association of Independents in Radio (AIR)</small>
				<span class="break"></span> 
			
				<a href="http://jeffreyschnapp.com/" target="_blank">Jeffrey Schnapp</a><br /> 
				<small>metaLAB (at) Harvard</small><br />
				<span class="break"></span> 
				
				<a href="http://www.hugovanvuuren.com/" target="_blank">W. Hugo Van Vuuren</a><br /></span> 
				<small>xFund</small><br /> 
				<span class="break"></span> 
					
				</div>
	
				<h1>ALUMNI</h1>


				<div class="dark-background">

					
					<span class="bioName">Andy Cavatorta</span> is a roboticist, artist, musician, and filmmaker. He was at MIT's Media Lab from 2007 to 2010. Recently, he's been making musical robots for Bj&ouml;rk, such as <a href="http://andycavatorta.com/2011/07/02/gravity-harps/" target="_blank">the gravity harp</a>.
					<span class="break"></span> 


					<span class="bioName">Catherine D'Ignazio</span>, a.k.a. kanarinka, is an artist, software developer and educator. She founded the Institute for Infinitely Small Things and leads the Experimental Geography Research Cluster at RISD's Digital+Media program. Her artwork has been exhibited at the ICA Boston, Eyebeam, MASSMoCA, and the Western Front among other locations. More at: <a href="http://www.kanarinka.com">www.kanarinka.com</a>
					<span class="break"></span> 


					<span class="bioName">Ari Kardasis</span> is a mathematician, an architect, a computer scientist and a cook. He has an ScB in Mathematics from Brown, an MArch from Princeton and a research degree in Design and Computation from MIT. Ari has a passion for teaching that he as developed at Princeton and MIT's architecture departments as well as at MIT's Media Lab, with the Mediated Matter group.
					<span class="break"></span> 
					
					<span class="bioName">Lindsey Wagner</span> was Zeega's Director of Projects and User Experiennce, leading the production of eight groundbreaking works of interactive storytelling for the Localore initiative. Previously, she worked in a Los Angeles woodshop before founding a user experience design division at a leading interactive agency, responsible for projects such as <a href="http://www.mfa.org/">MFA.org</a>.
					<span class="break"></span> 


					
				</div>	


				<h1>SPECIAL THANKS</h1>
				<div class="dark-background">
					
				Our work would not be possible without the exceptional support and generosity of so many people and organizations. We would like to especially thank: David Ardia, Amar Ashar, Allison Austin, Matthew Battles, Annie Berman, Ben Berman, Jeremy Blatter, Eve Blau, Dan Borelli, Svetlana Boym, Emma Brenner-Malin, Sophy Burns, Giuliana Bruno, Philip Cartelli, Stephanie Chang, Peter Clowney, Daniel Collis-Puro, Margaret Crawford, Louisa Denison, Sebastian Diaz, Judith Donath, Barbara Elfman, Ben Fowlie, Sean Flynn, Helen Fu, Daniel Garber, Benjamin Gaydos, Jeff Goldenson, Daniel Goldhaber, Barrett Golding, Ann Heppermann, Jeffrey Hermes, Steve Holmgren, Paul Hunter, Kimberley Isbell, Daniel Jamous, Sarah Jeong, Allison K. Jones, Ingrid Kopp, Sue Kriegsman, Michael Kugler, Daniele Ledda, Nancy Levinson, Will Martin, Shannon Mattern, Laura Mayer, Michael Maness, Peter McMurray, Ashley Merchant, Ann Moss, Anh-Thu Ngo, Cameron, Eric, Ian and Kathy Oehler, Ashley Panzera, Kyle Parry, Andrew Parsons, Mayur Patel, Souvik Paul, Antoine Picon, R. Gerard Pietrusko, Joana Pimenta, Lily Pollans, James Ren, Julia Rooney, Lizzie Rose, Andy Sellars, Jerry Shapins, Joshua Gen Solondz, Chris Sopher, Mary Spidle, Laurie Sumiye, Rebecca Tabasky, Daniel Terna, Thacher Tiffany, Dalia Topelson, William Uricchio, Katie Vale, Benjamen Walker, David Weinberger, Matt White, Rosa White, Sarah Wolozin, Ben Wirz, Julia Yezbick, Seth Young and Matthew Yoka.
					
				</div>
				
				</div> <!-- Main Column Ends -->
		</div> <!--row-->
	</div><!--new-container-section-->		
		
		</div>
	
	
	<!-- Page Content Ends -->


{% endblock %}
