{# src/Zeega/CommunityBundle/Resources/views/Notfound/notfound.html.twig #}




	

{% extends '::base.html.twig' %}

{% block title %}Zeega{% endblock %}


{%  block stylesheets %}
	<!--- FOR DEVELOPMENT ONLY -- Less CSS files are cached in localStorage so we have to empty that or else your CSS changes will never take effect and you will beat your head on your keyboard and get a big bruise -->

	<style type="text/css">
	
		/*
			Background image code lives here, not in CSS, because this is specific to each page
			and could be made dynamic too (i.e. randomly picking a different image each load)
			quite easily. Exposing the code here should be helpful.
		*/
	
		html { 
		background: url(http://25.media.tumblr.com/tumblr_m3goai5V2b1qg39ewo1_500.gif) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		
		}
		
	
	</style>
	
	
	<!-- Less -- LOAD variables.less FIRST and then other stuff and then style.less at the end -->
	<link rel="stylesheet/less" type="text/css" href="{{ asset('css/less/community/bootstrap.less')}}">

	<link href='http://fonts.googleapis.com/css?family=Podkova:400,700' rel='stylesheet' type='text/css'> <!-- Including Google's Font -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>

	
	
{% endblock %}

{% block scripts %}

	<script type="text/javascript" language="Javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script data-main="{{ asset('js/loaders/home') }}" src="{{ asset('js/lib/require.js') }}"></script>
	
	<script type="text/javascript" language="Javascript" src="{{ asset('js/lib/less-1.3.0.min.js') }}"></script>
	
	
{% endblock %}
{% block header %}
<header>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				
				<a class="brand" href="{{path('ZeegaCommunityBundle_home')}}">
					<img src="{{ asset('images/zeega-logo-header.png') }}"/>
				</a>
				
				<ul class="nav">
					
				
					
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							About
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							
							<li><a href="{{path('ZeegaCommunityBundle_about')}}">Mission</a></li>
							<li><a href="{{path('ZeegaCommunityBundle_productions')}}">Productions</a></li>
							<!--<li><a href="{{path('ZeegaCommunityBundle_engine')}}">Engine</a></li>-->
							<li><a href="{{path('ZeegaCommunityBundle_team')}}">Team</a></li>
							<li><a href="{{path('ZeegaCommunityBundle_contact')}}">Contact</a></li>
							<li><a href="{{path('ZeegaCommunityBundle_news')}}">News</a></li>
							<li class="divider"></li>
							<li><a href="{{path('ZeegaCommunityBundle_terms')}}">Terms of Use</a></li>
							<li><a href="{{path('ZeegaCommunityBundle_privacy')}}">Privacy Policy</a></li>
							<li><a href="{{path('ZeegaCoreBundle_faq')}}">FAQ</a></li>
							
							
						</ul>
					</li>
				</ul>
				
			</div>
		</div>
	</div>
</header>
{% endblock %}

{% block body %}
</br></br></br>
<div class="gifcredit"><a href="http://gifmovie.tumblr.com" target="_blank">gifmovie.tumblr.com</a></div>

	<!-- Background Color Div - creates the transparent layer over the background image -->
	<div id="background-color">
	</div>
	<!-- Background Color Div ends -->
	<!-- Page Intro Begins -->
	
	<div class="container new-section">
	
		<div class="row">
	
			<div class="page-intro span11">
			
				<h1>SORRY! We can't find the page you requested.</h1>
				<h2 style="margin-bottom:350px;">Give us a chance to make it up to you by <a href="mailto:info@zeega.org">emailing us</a> and letting us know what you were looking for.</h2>
				
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Page Intro Ends -->
	
	
	


{% endblock %}

{% block footer %}
	<div class="footer">					
		<div class="container">		
			<div class="row">
			
			<div class="span5">
				<img src="{{ asset('images/zeega-logo.png') }}" alt="zeega-logo" width="134" height="43">
				<div class="strapline">
				Remake the Internet
				</div>
				<p><small>Zeega is dedicated to inventing new forms of interactive storytelling. We are passionate about beautiful, surprising, immersive digital experiences that foster curiosity and enrich understanding of the world around us.</small></p>
				<p><small>
					Send us a message: <a href="mailto:info@zeega.org">info@zeega.org</a><br>
					Maybe tweet us: <a href="http://www.twitter.com/zeega">@zeega</a><br>
					Or send a package: 364a Broadway, Cambridge MA 02139
				</small></p>
			</div>
			
			<div class="footer-navigation span3 offset6">
				<div>
					<p><a href="{{ path('ZeegaCommunityBundle_home')}}">Home</a></p>
					<p><a href="{{ path('ZeegaCommunityBundle_about')}}">About</a></p>
					<p><a href="{{path('ZeegaCoreBundle_faq')}}">FAQ</a></p>
					<p><a href="{{ path('ZeegaCommunityBundle_terms')}}">Terms of Use</a></p>
					<p><a href="{{ path('ZeegaCommunityBundle_privacy')}}">Privacy Policy</a></p>
				</div>
			</div>
			
			</div>
		
		</div>
	
	</div>
{% endblock %}
