{# src/Zeega/CommunityBundle/Resources/views/Productions/productions.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Zeega{% endblock %}


{%  block stylesheets %}
	<!--- FOR DEVELOPMENT ONLY -- Less CSS files are cached in localStorage so we have to empty that or else your CSS changes will never take effect and you will beat your head on your keyboard and get a big bruise -->

	<script type="text/javascript">
		window.localStorage.clear();
	</script>
	<style type="text/css">
	
		/*
			Background image code lives here, not in CSS, because this is specific to each page
			and could be made dynamic too (i.e. randomly picking a different image each load)
			quite easily. Exposing the code here should be helpful.
		*/
	
		html { 
		background: url(http://25.media.tumblr.com/tumblr_m4yj6w8x261qg39ewo1_500.gif) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		
		}
		
	
	</style>
	
	
	<!-- Less -- LOAD variables.less FIRST and then other stuff and then style.less at the end -->
	<link rel="stylesheet/less" type="text/css" href="{{ asset('css/less/community/bootstrap.less')}}">

	<link href='http://fonts.googleapis.com/css?family=Podkova:400,700' rel='stylesheet' type='text/css'> <!-- Including Google's Font -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>

	
	
{% endblock %}

{% block scripts %}

	<script type="text/javascript" language="Javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script data-main="{{ asset('js/loaders/home') }}" src="{{ asset('js/lib/require.js') }}"></script>
	
	<script type="text/javascript" language="Javascript" src="{{ asset('js/lib/less-1.3.0.min.js') }}"></script>
	
	
{% endblock %}

{% block body %}
<div class="gifcredit"><a href="http://gifmovie.tumblr.com" target="_blank">gifmovie.tumblr.com</a></div>
<!-- Background Color Div - creates the transparent layer over the background image -->
	<div id="background-color">
	</div>
	<!-- Background Color Div ends -->
	
	<!-- Page Intro Begins -->
	
	<div class="container new-section">
	
		<div class="row">
	
			<div class="page-intro span11">
			
				<h1>Productions</h1>
				
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Page Intro Ends -->
	
	
	<!-- Page Content Begins -->
	
	<div class="container new-section">
	
		<div class="row">
			
			<!-- Main Column Begins -->
					
			<div class="span14 article">
			
				<h2>Zeega Productions is a growing series of innovative storytelling projects that span the globe and uncover new perspectives on the human experience.</h2>
	
	
				<h2>Some works are co-productions with leading partners in the radio, film, journalism, NGO and interactive worlds; others are lead by Zeega's internal team.</h2>
				
				</div>

			<a name="fold"></a>

			<div id="content7">
				
				<a href="http://mappingmainstreet.org" target="_blank">Mapping Main Street</a> is a collaborative documentary that creates a new map of the country through stories, photos and videos recorded on actual Main Streets. Created by Kara Oehler, Jesse Shapins, James Burns and Ann Heppermann with AIR and the Berkman Center for Internet and Society.<br>


			<a href="http://mappingmainstreet.org" target="_blank"><img src="{{ asset('images/about/mms01.jpg')}}" /></a>


				</div>
					
				
				<div id="content7">
				
				<a href="http://eastvillagepoetrywalk.org" target="_blank">The East Village Poetry Walk</a> is a sound-rich chronicle of poets and poetry associated with the East Village. Created by Pejk Malinosvki, and narrated by filmmaker Jim Jarmusch with music by John Zorn. Website conceived and designed by Zeega.<br>


			<a href="http://eastvillagepoetrywalk.org" target="_blank"><img src="{{ asset('images/about/ev03.jpg')}}" /></a>


				</div>
				
				<div id="content7">
				
				<a href="http://dev.zeega.org/thereandhere" target="_blank">There + Here</a> uses data, field visits and interviews to tell the stories of remittances, looking closely at how transnationalism reveals itself in local ways. Produced by Laura Kurgan with Columbia's Spatial Information Design Lab and Zeega.

			<br>
				
				<span class="progress"><i>[IN PROGRESS]</i></span>


			<a href="http://dev.zeega.org/thereandhere" target="_blank"><img src="{{ asset('images/about/thereandhere.jpg')}}" /></a>


				</div>
				

				<div id="content7">
				
				<a href="http://blackgoldboom.com" target="_blank">Black Gold Boom</a> explores the oil boom in western N.D through stories, data and immersive experiences. Produced and designed by Todd Melby with Prairie Public, Zeega and Civic Center as part of Localore, a nation-wide initiative of AIR funded by CPB..<br>
				
				<span class="progress"><i>[IN PROGRESS]</i></span>


			<a href="http://blackgoldboom.com" target="_blank"><img src="{{ asset('images/about/bgb.jpg')}}" /></a>


				</div>
				
				<div id="content7">
				
				<a href="http://curiouscity.wbez.org/" target="_blank">Curious City</a> is an experiment in transforming journalism through opening up the editorial process to curious citizens. Produced and designed by Jennifer Brandel with WBEZ, Zeega and Plural as part of Localore, a nation-wide initiative of AIR funded by CPB..<br>
				
				<span class="progress"><i>[IN PROGRESS]</i></span>


			<a href="http://curiouscity.wbez.org" target="_blank"><img src="{{ asset('images/about/curiouscity.jpg')}}" /></a>


				</div>
				
				<div id="content7">
				
				<a href="http://austinmusicmap.com/" target="_blank">Austin Music Map</a> is a participatory documentary project that explores Austin's diverse sonic geography, creating portraits of the venues and spaces where musical communities gather. Produced and designed by Delaney Hall with KUT, Zeega and Public School as part of Localore, a nation-wide initiative of AIR funded by CPB..<br>
				
				<span class="progress"><i>[IN PROGRESS]</i></span>


			<a href="http://austinmusicmap.com/" target="_blank"><img src="{{ asset('images/about/amm.jpg')}}" /></a>


				</div>
				
				<div id="content7">
				
				<a href="http://planettakeout.org/" target="_blank">Planet Takeout</a> turns local Chinese takeouts into spaces for community storytelling and lenses into local neighborhoods and global immigration patternss. Produced and designed by Val Wang with WGBH, Zeega and Golden Arrows as part of Localore, a nation-wide initiative of AIR funded by CPB..<br>
				
				<span class="progress"><i>[IN PROGRESS]</i></span>


			<a href="http://planettakeout.org/" target="_blank"><img src="{{ asset('images/about/planettakeout.jpg')}}" /></a>


				</div>
				
				<div id="content7">
				
				<a href="http://https://www.facebook.com/SonicTrace/" target="_blank">Sonic Trace</a> is a new storytelling project that begins in the heart of Los Angeles and crosses into Mexico, El Salvador, Guatemala and Honduras. Produced by Anayansi Diaz-Cortes and Eric Pearse Chavez with KCRW and Zeega as part of Localore, a nation-wide initiative of AIR funded by CPB..<br>
				
				<span class="progress"><i>[IN PROGRESS]</i></span>


			<a href="https://www.facebook.com/SonicTrace" target="_blank"><img src="{{ asset('images/about/sonictrace.jpg')}}" /></a>


				</div>
				
				<div id="content7">
				
				<a href="http://wyso.org/reinvention" target="_blank">ReInvention</a> starts with this question for the city of Dayton: how does a town of inventors reinvent itself? Produced by filmmakers Steve Bognar and Julia Reichert with WYSO Public Radio and Zeega as part of Localore, a nation-wide initiative of AIR funded by CPB..<br>
				
				<span class="progress"><i>[IN PROGRESS]</i></span>


			<a href="http://wyso.org/reinvention" target="_blank"><img src="{{ asset('images/about/reinvention.jpg')}}" /></a>


				</div>
				
				<div id="content7">
				
				<a href="https://www.facebook.com/iSeeChange" target="_blank">iSeeChange</a> is a crowdsourced reporting project that draws on community observations about seasonal shifts in the weather. Produced by Julia Kumari Drapkin with KVNF and Zeega as part of Localore, a nation-wide initiative of AIR funded by CPB.<br>
				
				<span class="progress"><i>[IN PROGRESS]</i></span>


			<a href="https://www.facebook.com/iSeeChange" target="_blank"><img src="{{ asset('images/about/iseechange.jpg')}}" /></a>


				</div>


				<div id="content7">
				
				<a href="http://www.uniondocs.org/2012-07-14-living-los-sures-preview/" target="_blank">Living Los Sures</a> uses Diego Echeverria's 1984 film about South Williamsburg, at the time one of NYC's poorest neighborhoods, as a jumping off point for an interactive documentary. Produced by UnionDocs with funding from the NEA.

			<br>
				
				<span class="progress"><i>[IN PROGRESS]</i></span>


			<a href="http://www.uniondocs.org/2012-07-14-living-los-sures-preview/" target="_blank"><img src="{{ asset('images/about/lossures.jpg')}}" /></a>
				
			</div>
			
			<!-- Main Column Ends -->
			
			
			
		
		</div>
	
	</div>
	
	<!-- Page Content Ends -->


{% endblock %}