<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<!-- standard viewport tag to set the viewport to the device's width
			, Android 2.3 devices need this so 100% width works properly and
			doesn't allow children to blow up the viewport width-->
		<meta name="viewport" id="vp" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
		<!-- width=device-width causes the iPhone 5 to letterbox the app, so
			we want to exclude it for iPhone 5 to allow full screen apps -->
		<meta name="viewport" id="vp" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" />
		<!-- provide the splash screens for iPhone 5 and previous -->
		<link href="assets/splashs/splash_1096.png" rel="apple-touch-startup-image" media="(device-height: 568px)">
		<link href="assets/splashs/splash_iphone_2x.png" rel="apple-touch-startup-image" sizes="640x960" media="(device-height: 480px)">


		<title>{{project.getTitle()}}</title>
		<link rel="shortcut icon" type="image/x-icon" href="{{asset('images/zeega.ico')}}"> 
		<meta name="robots" content="noindex,follow">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- FB -->
		
		<meta property="og:site_name" content="Zeega"/>
		<meta property="og:title" content="{{project.getTitle()}}"/>
		<meta property="og:description" content="{{project.getDescription()}}"/>
		<meta property="og:type" content="movie"/>
		<meta property="og:url" content="{{hostname}}{{directory}}{{project.getId()}}"/>
		{% if project.getThumbnailUrl() is defined %}
		<meta property="og:image" content="{{project.getThumbnailUrl()}}"/>
		{% elseif project.getCoverImage() is defined %}
		<meta property="og:image" content="{{project.getCoverImage()}}"/>
		{% else %}
		<meta property="og:image" content="{{asset('images/default_cover.png')}}"/>
		{% endif %}
			
		<!-- END FB -->	

		<base href="/js/app/player.mobile/">

		
		<!--
		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}"  type="text/css" media="screen">
		<link rel="stylesheet" href="{{ asset('css/zeega-bootstrap.css')}}"  type="text/css" media="screen">
		<link rel="stylesheet" href="{{ asset('css/zeega.css')}}">
		-->
		<link rel="stylesheet" type="text/css" href="{{ asset('js/app/player.mobile/dist/debug/index.css') }}">
		


		<script>
			if (!window.console) console = { log: function() {}};
		</script>

		<script> 

			//session data
			sessionStorage.setItem('directory', '{{directory}}');
			sessionStorage.setItem('hostname','{{hostname}}');
			sessionStorage.setItem('projectId','{{project.getId()}}');



			//Google analytics

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-33491977-1']);
			_gaq.push(['_setDomainName', '.zeega.org']); 
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

			//Project data

			var projectJSON = "{{ project_data|e('js') }}";

		</script>

		<script src="{{ asset('js/app/player.mobile/dist/debug/require.js') }}" ></script>
		
		
	</head>

	<body>
		<div role="main" id="main">
			<div id='overlays'></div>
			<div id='player'></div>
		</div>
	</body>
</html>
