{# src/Zeega/CommunityBundle/Resources/views/Home/home.html.twig #}


{% extends '::base.html.twig' %}

{% block title %}Zeega{% endblock %}


{%  block stylesheets %}

<meta name="zeega" content="zeega-editor"
            data-root="{{directory}}"
            data-api= "http:{{hostname}}{{directory}}api/"
        />

    <!-- FOR DEVELOPMENT ONLY - Less CSS files are cached in localStorage so we have to empty that or else your CSS changes will never take effect and you will beat your head on your keyboard and get a big bruise -->

    <style type="text/css">
        /*
            Background image code lives here, not in CSS, because this is specific to each page
            and could be made dynamic too (i.e. randomly picking a different image each load)
            quite easily. Exposing the code here should be helpful.
        */
        html { 
        background: url({{asset("images/home/home.jpg")}}) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        
        }
    </style>

    <!-- Less - LOAD variables.less FIRST and then other stuff and then style.less at the end -->
    {% if app.environment == 'dev' %}
        <link rel="stylesheet/less" type="text/css" href="{{ asset('css/less/community/bootstrap.less')}}">
        <script type="text/javascript" src="{{ asset('js//lib/less-1.3.0.min.js')}}"></script>
        <script> /* Provisory for dev environment: */ localStorage.clear(); </script>
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/zeega.community.css')}}">
    {% endif %}
    <link rel="stylesheet" href="{{ asset('js/app/home/assets/css/style.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Podkova:400,700' rel='stylesheet' type='text/css'> <!-- Including Google's Font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
{% endblock %}

{% block scripts %}
      
     
      <script src="{{ asset('js/app/home/dist/debug/require.js') }}" ></script>
       <script src="{{ asset('js/lib/bootstrap.js') }}"></script>
      
      <script type="text/javascript" language="Javascript">
          window.collections = "{{ collections | e('js') }}";
      </script>
    
{% endblock %}


{% block browser_detection %}
{% endblock browser_detection %}

{% block body %}
    <!-- Background Color Div - creates the transparent layer over the background image -->
    <div id="background-color-home">
    </div>
    <!-- Background Color Div ends -->

      <!-- Featured Content Begins -->
  <div class="container new-section" >
    <div class="row">
      <div class="page-intro span11">
      

      <iframe src="http:{{hostname}}{{directory}}{{topZeega.id}}/embed" width="600" height="376" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>

 

        <!-- Sign Up Button Begins -->

       
        <div style="width: 300px; float: right;">


        {% if is_granted('IS_AUTHENTICATED_FULLY') %}{% else %} 

        <a href="{{path('fos_user_registration_register')}}" style="color: white; font-size: 44px;">

            <div class="valign go-button" style="margin-bottom: 40px; text-align: center;">
              <div class="valign-content"> 

                <h3 style="size:20px">
                Sign Up!
                </h3>
              
              </div>
            </div>
        </a> {% endif %}

        <h2 style="text-align: left; margin-right: -20px;">
Any Zeega created between now and May 30th will be considered for an exhibition at SFMOMA!<br><br>On May 30th - June 1st,<br> "The Making Of..." will take over the museum and Zeegas will be screened. <a href="http://blog.zeega.com/post/50588319724/join-us-in-an-experiment-and-make-zeegas-for" target="_blank">More here ></a></h2>

        </div>
        

        
        <div style="clear:both;"></div>
  
      </div>
    </div>
  </div>
<div role="main" id="main"></div>   


{% endblock %}