{# src/Zeega/CommunityBundle/Resources/views/Home/home.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Zeega{% endblock %}


{%  block stylesheets %}
	<!--- FOR DEVELOPMENT ONLY -- Less CSS files are cached in localStorage so we have to empty that or else your CSS changes will never take effect and you will beat your head on your keyboard and get a big bruise -->

	<script type="text/javascript">
		window.localStorage.clear();
	</script>
	<style type="text/css">
	
		/*
			Background image code lives here, not in CSS, because this is specific to each page
			and could be made dynamic too (i.e. randomly picking a different image each load)
			quite easily. Exposing the code here should be helpful.
		*/
	
		html { 
		background: url(http://24.media.tumblr.com/tumblr_lkmrriDOck1qg39ewo1_500.gif) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		
		}
		
	
	</style>
	
	
	<!-- Less -- LOAD variables.less FIRST and then other stuff and then style.less at the end -->
	<link rel="stylesheet/less" type="text/css" href="{{ asset('css/less/community/bootstrap.less')}}">

	<link href='http://fonts.googleapis.com/css?family=Podkova:400,700' rel='stylesheet' type='text/css'> <!-- Including Google's Font -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>

	
	
{% endblock %}

{% block scripts %}

	<script type="text/javascript" language="Javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script data-main="{{ asset('js/loaders/home') }}" src="{{ asset('js/lib/require.js') }}"></script>
	
	<script type="text/javascript" language="Javascript" src="{{ asset('js/lib/less-1.3.0.min.js') }}"></script>
	{% if projects is defined %}
		<script type="text/javascript" language="Javascript">
			//bootstrapping data
			var projectsJSON = "{{ projects | e('js') }}";
		</script>
	{% endif %}
	
{% endblock %}

{% block body %}
<!-- Background Color Div - creates the transparent layer over the background image -->
	<div id="background-color-home">
	</div>
	<!-- Background Color Div ends -->
	
	<!-- Featured Content Begins -->
	
	<div class="container new-section">
	
		<div class="row">
	
			<div class="page-intro span11">
			
				<h1>Create Immersive Experiences</h1>
				<h2>Join a community of makers and start experimenting now.  {% if is_granted('IS_AUTHENTICATED_FULLY') %}{% else %} <a href="{{ path('fos_user_registration_register') }}">Ready to begin?</a> {% endif %} </h2>
			
			</div>
		
		</div>
		
	</div>
	
	<!--<div class="container new-section">
		
		<div class="row">
		
			<div class="span14">
			
				<h2 class="section-title">Featured Zeegas</h2>
			
			</div>
		
			<div id="zeega-user-projects">
			</div>
			
		
		</div>
	
	</div>-->
	
	<!-- Featured Content Ends -->
	
	

	<!-- Special Project Separator Begins -->
	
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2>Zeega is an open-source, HTML5 platform for inventing new forms of interactive storytelling.</h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	<!-- Special Project Separator Ends -->
	
	
	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/home/home_edit.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign">
							<div class="valign-content">	
					
								<h1>EDIT WITH DRAG-AND-DROP EASE</h1>
								<h2>Zeega enables anyone to anyone to experiment with the web as a creative medium. No programming knowledge required : )</h2>

							</div>
						</div>
							
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Special Project Ends -->	
	
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	<!-- Special Project Separator Ends -->
	
	
	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/home/home_addmedia.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign">
							<div class="valign-content">	
					
								<h1>USE ANY MEDIA YOU WANT</h1>
								<h2>Currently liberated APIs include Dropbox, YouTube, Flickr, SoundCloud, Archive.org, Tumblr and Mapbox.</h2>

							</div>
						</div>
							
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Special Project Ends -->	
	
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	<!-- Special Project Separator Ends -->
	
	
	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/home/home_expression.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign">
							<div class="valign-content">	
					
								<h1>FREEDOM OF EXPRESSION</h1>
								<h2>Set timings. Add text. Use street view. Layer media.</h2>

							</div>
						</div>
							
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Special Project Ends -->	
	
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	<!-- Special Project Separator Ends -->
	
	
	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/home/home_interface.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign">
							<div class="valign-content">	
					
								<h1>INVENT YOUR OWN INTERFACE</h1>
								<h2>Turn any part of an image or video into a link.</h2>

							</div>
						</div>
							
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Special Project Ends -->	
	
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	<!-- Special Project Separator Ends -->
	
	
	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/home/home_credit.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign">
							<div class="valign-content">	
					
								<h1>CREDIT EVERYONE</h1>
								<h2>All media is properly cited to its original author and tracked back to its source location. </h2>

							</div>
						</div>
							
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Special Project Ends -->	
	
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	<!-- Special Project Separator Ends -->
	
	
	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/home/home_share.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign">
							<div class="valign-content">	
					
								<h1>SHARE FULL-SCREEN EXPERIENCES</h1>
								<h2>You can embed your Zeega on any site and it automatically opens in full-screen.</h2>

							</div>
						</div>
							
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Special Project Ends -->	
	
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	<!-- Special Project Separator Ends -->
	
	
	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/home/home_dziga.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign">
							<div class="valign-content">	
					
								<h1>AND THE NAME...</h1>
								<h2>One of our favorite films is <a href="http://www.youtube.com/watch?v=op2sOtF113M&feature=watch-now-button&wide=1" target="_blank">Man with a Movie Camera</a>, made in 1929 by Dziga Vertov. We changed the spelling slightly.</h2>

							</div>
						</div>
							
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Special Project Ends -->
	
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	<!-- Special Project Separator Ends -->
	
	
	<!-- Special Project Begins -->
	<!-- Note: We place the background code in the HTML as it's not a generic style element but one that may be changed and is unique to this page -->
	
	<div class="special-project" style="background: url({{ asset('images/home/zeegaHome01.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	
	
		<div class="special-gradient">
		
			<div class="container">
			
				<div class="row">
				
					<div class="span10">
					
						<div class="valign">
							<div class="valign-content">	
					
								<h1>A CULTURE OF EXPERIMENTATION</h1>
								<h2>{% if is_granted('IS_AUTHENTICATED_FULLY') %}{% else %} <a href="{{ path('fos_user_registration_register') }}">Join the Zeega community</a> {% endif %}  of artists, filmmakers, journalists, designers and other makers passionate about inventing a new medium together. </h2>

							</div>
						</div>
							
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Special Project Ends -->	
	



{% endblock %}