{% set title = title | default('Unknown') %}
{% set user_id = user_id | default(-1) %}
{% set displayname = displayname | default('Unknown') %}
{% set user_thumb = user_thumb | default('Unknown') %}
{% set local_path = local_path | default('') %}
{% set profile_id = profile_id | default( '' ) %}
{% set tags = tags | default( '' ) %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" style="height:100%" lang="en-US">
    <head>
        <link rel="icon" type="image/png" href="{{ asset('images/zeega.ico')}}">
        <title>{% block title %}Zeega{% endblock %}</title>
        
        <meta name="description" content="Zeega is a community of makers passionate about creating immersive experiences that combine original content with media from across the web.">
        <meta name="keywords" content="zeega, storytelling, documentary, interactive">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        {% block fbshare %}
        
        <!-- FB -->
        <meta property="og:site_name" content="Zeega"/>
        <meta property="og:title" content="Zeega"/>
        <meta property="og:description" content="Zeega is a community of makers passionate about creating immersive experiences that combine original content with media from across the web."/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="http:{{hostname}}"/>
        <meta property="og:image" content="http:{{hostname}}images/z-logo-fb.png"/>
        <!-- END FB --> 
        
        {% endblock %}
         


        <meta name="zeega" content="zeega-home"
            data-directory="{{directory}}"
            data-hostname="{{hostname}}"
            data-api= "http:{{hostname}}{{directory}}api/"
            data-root= "{{directory}}{{local_path}}"
            data-tags="{{ tags }}"
            data-profile-id="{{ profile_id }}"
            data-user-id="{{user_id}}"

        />

        {% block stylesheets %}         
    
            {% if app.environment == 'prod' %}
                <link rel="stylesheet" type="text/css" href="{{ asset('js/app/home/dist/debug/index.css') }}">
            {% else %}
                <link rel="stylesheet" type="text/css" href="{{ asset('js/app/home/dist/release/index.css') }}">

            {% endif %}
                
            <!-- Including Google's Font -->
            <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
        
        {% endblock stylesheets %}
        
        <script type="text/javascript">
        {% if app.environment == 'prod' %}
            
                        var _gaq = _gaq || [];
                        _gaq.push(['_setAccount', 'UA-37456730-1']);
                        _gaq.push(['_trackPageview']);

                        (function() {
                            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                        })();

           
        {% endif %}

        // Because IE sucks
            if ( !window.console ) {
                console = {log: function() {}};
            }

            var feedData = "{{ feed_data|e('js') }}";

        </script>

</head>

  <body>


  <header>
          <a href="{{ path('ZeegaCommunityBundle_home') }}" data-bypass="true" class="ZEEGA-tab">
              <span class="ZTab-logo"></span>
          </a>
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          

            <div class="nav col-left navbar">
              <ul class="pull-left">
                  <li>
                      <a href="{{ path('ZeegaCommunityBundle_dashboard') }}" class="logged-in-user" data-bypass="true" >
                            <span class="profile-token" 
                            {% if user_thumb != "" %}
                                style="background-image: url({{user_thumb}});">
                            {% endif %}
                            </span></a>
                  </li>
                  <li>
                      <a class="btnz create-a-zeega" href="{{ path('ZeegaEditorBundle_new') }}" > Create A New Zeega</a>
                  </li>
                 
              </ul>
          </div>

            <a class="btnz login" href="{{ path('fos_user_security_logout') }}">Logout</a> 


            {% else %}
                <a class="btnz login" href="{{ path('fos_user_security_login') }}">Login</a>
            {% endif %}
          

</header>
    {% if profile_id != "" %}

        <div class="cover"  {% if user.getBackgroundImageUrl() != "" %} style ="background-image:url({{ user.getBackgroundImageUrl()}})" {% endif %} >
            <div   class="profile-token-large" {% if user.getThumbUrl() != "" %}style="background-image:url({{user.getThumbUrl()}})" {% endif %}  ></div>
            <span class="headline">
              <h2>{{user.getDisplayName()}}</h2>
              <p class="bio">{{user.getBio()}}</p>
            </span>
        </div>
    {% else %}       
         <div class="cover homepage" >
            <span class="tagline">
              <h2>Make the web you want</h2>
            </span>
    </div>



    {% endif %}
  <!-- Main container. -->
  <div role="main" id="main"></div>

  <!-- Application source. -->
 
  
{% block player_script %}


    {% if app.environment == 'prod' %}
        <script src="{{ asset('js/app/home/dist/release/require.js') }}" ></script>
    {% else %}
        <script src="{{ asset('js/app/home/dist/debug/require.js') }}" ></script>
    {% endif %}

{% endblock player_script %}



</body>
</html>
