{# src/Zeega/CommunityBundle/Resources/views/Home/home.html.twig #}


<!doctype html>
<html>
    <head>
        <meta charset="utf-8">

        <title>Home</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{asset('images/zeega.ico')}}"> 
        <meta name="robots" content="noindex,follow">
        <meta name="description" content="">
        <meta name="author" content="">

        <meta name="zeega" content="zeega-editor"
            data-root="{{directory}}"
            data-api= "http:{{hostname}}{{directory}}api/"
        />


        <!-- FB -->
        
            <meta property="og:site_name" content="Zeega"/>
    <meta property="og:title" content="Zeega"/>
    <meta property="og:description" content="Zeega is a community of makers passionate about creating immersive experiences that combine original content with media from across the web."/>
      <meta property="og:type" content="website"/>
      <meta property="og:url" content="//zeega.com/"/>
      <meta property="og:image" content="//zeega.com/images/z-logo-fb.png"/>

            
        <!-- END FB --> 

        <!-- Zeega metatags -->

        <!-- STYLESHEETS -->
       
        <link rel="stylesheet" href="{{ asset('js/app/home/assets/css/style.css') }}">
        <!-- END STYLESHEETS -->

        

        <script>
            // Google Analytics

            // var _gaq = _gaq || [];
      //       _gaq.push(['_setAccount', 'UA-37456730-1']);
      //       _gaq.push(['_trackPageview']);

      //       (function() {
      //           var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      //           ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      //           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      //       })();

            // Because IE sucks
            if ( !window.console ) {
                console = {log: function() {}};
            }

   
            window.collections = "{{ collections|e('js') }}";
    
        </script>

        {% include "ZeegaUserBundle:Shared:facebook.html.twig" %}

    </head>

    <body>
         <div class="nav">
            <div class="row">       
                  <div class="span6">
                      <div class="branding"
                          <a href="/"><img src="assets/img/zeega-logo.png" alt="zeega-logo" width="134" height="43"></a>
                          <div class="strapline">
                        Remake the Internet
                          </div>
                      </div>
              </div>
              
              <div class="span8">
                  <div class="navigation">    
                      <div class="">
                          <a href="http://blog.zeega.com/about">About </a> |      
                          <a href="http://zeega.com/team">Team </a> |      
                          <a href="http://blog.zeega.com" target="_blank">News</a> | 
                    
                          {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                          <a href="{{ path('ZeegaCommunityBundle_dashboard')}}">{{displayname}}</a>

                          {% else %}

                          <a href="/register">Sign Up</a> |
                          <a href="/login">Login</a>
                          
                          {% endif %}
                      </div>
                  </div>
              </div>

          </div>
        </div>
        <div class="intro">
          <div class="row">

            <div class="intro-left">

                <br>
                <h2>
                Zeega is revolutionizing web publishing and interactive storytelling for a future beyond blogs.<br><br>

                With Zeega, you can use any media in the cloud, transform the entire screen into your playground, and share your interactive creations with the world.
                </h2>

            </div>

            <div class="intro-right">
                 {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                 {% else %}

                <a href="#" onclick="fbLogin();" style="width: 200px;" ><img src="http://zeega.com/images/registration/login-facebook.png" width="200px"/></a><br>
                <a href="{{ path("ZeegaSocialBundle_twitter_connect") }}"><img src="http://zeega.com/images/registration/login-twitter.png" width="200px"/ ></a> <br/>
                {% endif %}
            </div>

            <div style="clear: both;"></div>

          </div>
        </div>
        <div role="main" id="main"></div>

            <!-- Footer Begins -->
        <div class="footer">
          
          <div class="row">       
          <div class="span6">
              <div class="branding"
                  <a href="/"><img src="assets/img/zeegaRedWhite.png" alt="zeega-logo" width="134" height="43"></a>
                  <div class="strapline">
                Remake the Internet
                  </div>
              </div>

              <div class="bottom-line">
              <br>
              &copy; Zeega Inc. 2013<br>

              421 Bryant St <small>*</small> San Francisco CA 94107

              <br> 

              <a href="mailto:info@zeega.com">info@zeega.com</a> <small>*</small> <a href="http://twitter.com/zeega" target="_blank">@zeega</a>  
               

              <br>

              Accelerated with pride <a href="http://twitter.com/mattervc" target="_blank">@mattervc</a>

              <br>
              <br>
              <br>              
            </div>
          </div>

              
        </div>     
        <script src="{{ asset('js/app/home/dist/debug/require.js') }}" ></script>
    </body>
</html>

