{# src/Zeega/JDABundle/Resources/views/Home/home.html.twig #}

{% extends 'ZeegaJDABundle::base.html.twig' %}

{% block title %}<title>{% trans %}jda.home.title{% endtrans %}</title>{% endblock %}



{% block stylesheets %}



<link href="{{ asset('jda/css/itemPage.css')}}" rel="stylesheet" type="text/css">
<link href="{{ asset('jda/css/textStyles.css')}}" rel="stylesheet" type="text/css">
<link href="{{ asset('jda/css/lightbox.css')}}" rel="stylesheet"	type="text/css">
<link href="{{ asset('jda/css/discovery.css')}}" rel="stylesheet" type="text/css">
<link href="{{ asset('jda/css/collectionsTab.css')}}" rel="stylesheet" type="text/css">
<link href="{{ asset('jda/css/imageStyles.css')}}" rel="stylesheet" type="text/css">


<link href="{{ asset('jda/js/libraries/jquerySVG/jquery.svg.css')}}" rel="stylesheet" type="text/css">
<link href="{{ asset('jda/js/libraries/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css')}}" rel="stylesheet" type="text/css">
<link type="text/css" href="{{ asset('jda/js/libraries/jquery-ui-1.8.16.custom/css/custom-theme/jquery-ui-1.8.16.custom.css')}}" rel="Stylesheet" />
	
{% endblock %}	

{% block scripts %}

<script type="text/javascript" src="http://s3.documentcloud.org/viewer/loader.js"></script>
<script data-main="{{ asset('jda/js/main.search') }}" src="{{ asset('jda/js/libraries/require-jquery.js') }}"></script>


{% endblock %}





{% block content %}

<div id="content"><div id="home-content-english">
		<div class="narrow-container">

			<div id="banner-about" class="hero-unit">
				<div id="search-bar">
						<form method="post" id="search-form">
						<input size="30" class="xlarge span8" type="text" id="home-search-text-field" name="search-text" value="{% trans %}jda.home.search{% endtrans %}">
						<button id="go-button" class="btn info large">go</button>
						</form>
						<span class=""><img class="divider" src="{{ asset('jda/images/divider.png')}}"></span>
						<button id="add-button" class="btn success large">
							<a href="http://jdarchive.org/contribute/?la=en" target="_blank">add to the archive</a>
						</button>
					</div>
			</div>



			<div id="content-row" class="rowx" style="height:800px;">

			
				

			</div>
			<!-- #content-row -->


			<footer>
			<div class="narrow-container">


				<!--<div class='rowx'>

					<div class="footer-nav span16">
						<ul class='unstyled'>
							<li><a href="#">Home</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Contact</a></li>

						</ul>
					</div>
				</div>
				<div class='rowx'>-->
				<div class="span16">

					<h3>Partners</h3>
<ul id="partner-logos" class="">
					
						<li><a href="http://warp.ndl.go.jp/WARP_disaster.html" target="_blank"><img class="thumbnail partnerimg" src="{{ asset('jda/images/partner-logos/nationalDietLibrary.png')}}"></a></li>
						<li><a href="http://www.fas.harvard.edu/~rijs/" target="_blank"><img class="thumbnail partnerimg" src="{{ asset('jda/images/partner-logos/reischauer.png')}}"></a></li>
						<li><a href="http://311archives.jp/" target="_blank"><img class="thumbnail partnerimg" src="{{ asset('jda/images/partner-logos/all311.png')}}"></a></li>
						<li><a href="http://www.dcrc.tohoku.ac.jp/archive/index.html/" target="_blank"><img class="thumbnail partnerimg" src="{{ asset('jda/images/partner-logos/tohoku311.png')}}"></a></li>						
						<li><a href="http://311map.com/" target="_blank"><img class="thumbnail partnerimg" src="{{ asset('jda/images/partner-logos/311Map.png')}}"></a></li>
						<li><a href="http://recorder311.smt.jp/" target="_blank"><img class="thumbnail partnerimg" src="{{ asset('jda/images/partner-logos/logo_cr.png')}}"></a></li>
						<li><a href="http://savemlak.jp/" target="_blank"><img class="thumbnail partnerimg" src="{{ asset('jda/images/partner-logos/saveMLAK.png')}}"></a></li>
						<li><a href="http://recorder311.smt.jp/" target="_blank"><img class="thumbnail partnerimg" src="{{ asset('jda/images/partner-logos/sendaiMedia.png')}}"></a></li>
						
						
						<li><a href="http://www.yahoo.co.jp/" target="_blank"><img class="thumbnail partnerimg" src="{{ asset('jda/images/partner-logos/YahooJapan.gif')}}"></a></li>
						
						
						<li><a href="http://zeega.org" target="_blank"><img class="thumbnail partnerimg" src="{{ asset('jda/images/partner-logos/zeega.png')}}"></a></li>
						<li><a href="http://metalab.harvard.edu" target="_blank"><img class="thumbnail partnerimg" src="{{ asset('jda/images/partner-logos/mlh.gif')}}"></a></li>
						
						
						
						<li><a href="http://www.archive-it.org/collections/2438" target="_blank"><img class="thumbnail partnerimg" src="{{ asset('jda/images/partner-logos/archiveIT.png')}}"></a></li>
						<li><a href="http://worldmap.harvard.edu/japanmap/" target="_blank"><img class="thumbnail partnerimg" src="{{ asset('jda/images/partner-logos/CGA.png')}}"></a></li>
						<li><a href="http://archive.org" target="_blank"><img class="thumbnail partnerimg" src="{{ asset('jda/images/partner-logos/InternetArchive.png')}}"></a></li>
						<li><a href="http://www.loc.gov/index.html" target="_blank"><img class="thumbnail partnerimg" src="{{ asset('jda/images/partner-logos/LibraryOfCongress.png')}}"></a></li>
					</ul>
				</div>

				<div class="rowx">
					<div class="span16 partnerimg" style="text-align: center;">
						Site powered by <a href="http://www.zeega.org" target="_blank">Zeega.org</a><br> <br>
					</div>
				</div>

			</div>
		</footer></div>
		
	</div></div>


{% endblock %}	