{# src/Zeega/JDABundle/Resources/views/Home/home.html.twig #}

{% extends 'ZeegaJDABundle::base.html.twig' %}

{% block title %}<title>{% trans %}jda.home.title{% endtrans %}</title>{% endblock %}



{% block stylesheets %}

<link href="{{ asset('jda/css/bootstrap-2.0.css')}}" rel="stylesheet" type="text/css">

<link href="{{ asset('jda/css/itemPage.css')}}" rel="stylesheet" type="text/css">
<link href="{{ asset('jda/css/textStyles.css')}}" rel="stylesheet" type="text/css">
<link href="{{ asset('jda/css/lightbox.css')}}" rel="stylesheet"	type="text/css">
<link href="{{ asset('jda/css/discovery.css')}}" rel="stylesheet" type="text/css">
<link href="{{ asset('jda/css/collectionsTab.css')}}" rel="stylesheet" type="text/css">
<link href="{{ asset('jda/css/imageStyles.css')}}" rel="stylesheet" type="text/css">


<link href="{{ asset('jda/js/libraries/jquerySVG/jquery.svg.css')}}" rel="stylesheet" type="text/css">
<link href="{{ asset('jda/js/libraries/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css')}}" rel="stylesheet" type="text/css">
<link type="text/css" href="{{ asset('jda/js/libraries/jquery-ui-1.8.16.custom/css/custom-theme/jquery-ui-1.8.16.custom.css')}}" rel="Stylesheet" />
	
{% endblock %}	

{% block scripts %}

<script type="text/javascript" src="http://s3.documentcloud.org/viewer/loader.js"></script>
<script data-main="{{ asset('jda/js/main.search') }}" src="{{ asset('jda/js/libraries/require-jquery.js') }}"></script>


{% endblock %}





{% block content %}

<div class='container'>
			
	<div id="search-bar" class='hero-unit group'>
		<input class="input-medium" type="text" id="home-search-text-field" name="search-text" placeholder="{% trans %}jda.home.search{% endtrans %}"/>
		<div id='search-filters' class="btn-group">
			<a class='btn large active' data-goto-view='list' href="#">LIST</a>
			<a class='btn large' data-goto-view='event' href="#">EVENT</a>
			<a class='btn large' data-goto-view='tag' href="#">TAGS</a>
		</div><!-- btn-group -->
	</div><!-- search-bar -->
			
	<ul id="items-list" class='unstyled'></div>
			
</div><!-- #content -->
			

<!-- Templates -->
<script type="text/template" id="list-item-template">
<div>
	<div class="discovery-list-thumb-container">
		<img class="img-144 discovery-list-thumb" src = "<%= thumbnail_url ? thumbnail_url : "{{ asset('jda/images/blank-144x144.jpg')}}" %>">
	</a></div>
	<div class='discovery-list-info-area'>
		<%= date_created ? "<div class='item-meta'>" + stringToFormatted(date_created['date']) + "</div>" : "" %>

		<p>
			<span class="black-18 discovery-list-title"><%=title%></span>
		</p>
		<p>
			<%= media_creator_username ? "<span class='gray-18'>From: </span>
			  <span class='black-18'>" + media_creator_realname + "</span> " : "" %>
		</p>
		
	</div>
	<div class="lightbox-hider">
	</div>
</div>
</script>

<script type="text/template" id="compact-list-item-template">
<div>
	<div class="discovery-compact-list-thumb-container">
		<img class="img-72" src = "<%= thumbnail_url ? thumbnail_url : "{{ asset('jda/images/blank-72x72.jpg')}}" %>">
	</div>
	<div class='discovery-list-info-area' >
		<p  class="black-12"><%=title%></p>
		<%= media_creator_realname ? "<p><span class='gray-12'>From: </span>
			<span class='black-12'>" + media_creator_realname + "</span></p> " : "" %> 
		<%= date_created ? "<p class='blue-12'>" + stringToFormatted(date_created['date']) + "</p>" : "" %>
	</div>
	<div class="lightbox-hider">
	</div>
</div>
</script>

<script type="text/template" id="lightbox-item-template">
<div>
	<div class='lightbox-preview'></div>
	<div class='lightbox-infobar'>
		<%= title ? "<p class='white-18 lightbox-title'>" + title + "</p>" : "" %>
		<%= media_creator_username ? "<p><span class='white-15'>from</span>
			<span class='white-15'>" + media_creator_username + "</span></p> " : "" %> 
		<%= date_created ? "<p class='blue-15'>" + stringToFormatted(date_created['date']) + "</p>" : "" %>
	</div>
</div>
</script>

<script type="text/template" id="page-item-template">
<div class="page-container">
	<div class='page-preview-area'>
		<p class="page-back-to-results"> < Back to results</p>
		<div class="page-preview"></div>
		<p class="black-15">Description:</p>
		<p class="black-12"><%=description%></p>
	</div>
	<div class='page-metadata-area'>
		<div class='page-metadata-scroll'>
			<p class="blue-18 page-title"><%=title%></p>
			<%= media_creator_username ? "<p><span class='gray-15'>From: </span>
				<span class='black-15'>" + media_creator_username + "</span></p> " : "" %>
			<%= media_creator_username ? "<p><span class='gray-15'>Date: </span>
				<span class='black-15'>" + stringToFormatted(date_created['date']) + "</span></p> " : "" %>
			<p class='gray-15'>Tags:</p>
			<p class='black-15 page-tag-text'></p>
			<p class='black-12'>add tag : <input type="text" id="add-tag" class='metadata-new-tag-input'/></p>
		</div>
	</div>
	<div class="page-related-area">
	</div>
</div>
</script>

{% endblock %}	