{# src/Zeega/CommunityBundle/Resources/views/Terms/terms.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Zeega{% endblock %}


{%  block stylesheets %}
	<!--- FOR DEVELOPMENT ONLY -- Less CSS files are cached in localStorage so we have to empty that or else your CSS changes will never take effect and you will beat your head on your keyboard and get a big bruise -->

	<script type="text/javascript">
		window.localStorage.clear();
	</script>
	<style type="text/css">
	
		/*
			Background image code lives here, not in CSS, because this is specific to each page
			and could be made dynamic too (i.e. randomly picking a different image each load)
			quite easily. Exposing the code here should be helpful.
		*/
	
		html { 
		background: url(http://farm4.staticflickr.com/3265/3201369678_f290fd44be_o.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		
		}
		
	
	</style>
	
	
	<!-- Less -- LOAD variables.less FIRST and then other stuff and then style.less at the end -->
	<link rel="stylesheet/less" type="text/css" href="{{ asset('css/less/community/bootstrap.less')}}">

	<link href='http://fonts.googleapis.com/css?family=Podkova:400,700' rel='stylesheet' type='text/css'> <!-- Including Google's Font -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>

	
	
{% endblock %}

{% block scripts %}

	<script type="text/javascript" language="Javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script data-main="{{ asset('js/loaders/home') }}" src="{{ asset('js/lib/require.js') }}"></script>
	
	<script type="text/javascript" language="Javascript" src="{{ asset('js/lib/less-1.3.0.min.js') }}"></script>
	
	
{% endblock %}

{% block body %}
<!-- Background Color Div - creates the transparent layer over the background image -->
	<div id="background-color">
	</div>
	<!-- Background Color Div ends -->
	
	<!-- Page Intro Begins -->
	
	<div class="container new-section">
	
		<div class="row">
	
			<div class="page-intro span11">
			
				<h1>Terms of Service</h1>
				<h2>This is some legal stuff.</h2>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Page Intro Ends -->
	
	
	<!-- Page Content Begins -->
	
	<div class="container new-section">
	
		<div class="row">
			
			<!-- Main Column Begins -->
					
			<div class="span9 article">
				
				<p>The Internet is a wild place. We like that. Too often though, it's ugly. And full of too many choices. Little by little, we want to help reinvent the Internet. To make it a more beautiful place. Zeega is a new community of makers, passionate about creating surprising, weird, awesome immersive experiences. Our HTML5 editor enables anyone to experiment with the web as a creative medium. No programming knowledge required.</p>
				
				<h2 class="section-title">You Can Use Zeega To...</h2>
				
				<img src="http://www.placehold.it/610x344">
				
				<h2 class="section-title">What else can Zeega do?</h2>
				
				<p>The Zeega platform can be used for indibidual multimedia projects or as the backbone for larger, custom sites. Use cases range from Localore, which expands the reach of public media in local communities, to The Digital Archive of Japan's 2011 Disasters. The code is open-source and up on Github.</p>
				
				<p>We work with partners on custom Zeega implemenations. If you are interested in collaborating, please get in touch.</p>
				
			</div>
			
			<!-- Main Column Ends -->
			
			
			<!-- Sidebar Begins -->
			
			<div class="span4 offset1">
			
				<!-- Sign Up Button Begins -->
				<a href="">
				<div class="go-button new-section">

						<div class="valign">
							<div class="valign-content">	
					
								<h4>Sign Up For Zeega</h4>
							
							</div>
						</div>

				</div>
				</a>
				<!-- Sign Up Button Ends -->
				
				<!-- Sidebar Meet The Team Begins -->
				<div class="sidebar-module new-section">
				
					<div class="sidebar-button">
	
							<div class="valign">
								<div class="valign-content">	
						
									<h4>Meet The Team</h4>
								
								
								</div>
							</div>
	
					</div>
					
					<p class="sidebar">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate scelerisque ante nec lacinia. Pellentesque nec nibh mauris. Aliquam consectetur volutpat ultrices. <a href="{{ path('ZeegaCommunityBundle_team')}}">Find out more here</a>.
					</p>
				
				</div>
				<!-- Sidebar Meet The Team Ends -->
				
				<!-- Sidebar Enquiries Begins -->
				<div class="sidebar-module new-section">
				
					<div class="sidebar-button">
	
							<div class="valign">
								<div class="valign-content">	
						
									<h4>Ask a Question</h4>
								
								
								</div>
							</div>
	
					</div>
					
					<p class="sidebar">General inquiries: <a href="mailto: info@zeega.org">info@zeega.org</a></p>
					<p class="sidebar">Press inquiries: <a href="mailto: press@zeega.org">press@zeega.org</a></p>
					<p class="sidebar">Alpha access: <a href="mailto: alpha@zeega.org">alpha@zeega.org</a></p>
				
				</div>
				<!-- Sidebar Enquiries Ends -->
				
				<!-- Sidebar Links Begins -->
				<div class="sidebar-module new-section">
				
					<div class="sidebar-button">
	
							<div class="valign">
								<div class="valign-content">	
						
									<h4>Elsewhere</h4>
								
								</div>
							</div>
	
					</div>
					
					<p class="sidebar"><a href=""><img src="{{ asset('images/social-icons/twitter.png') }}" alt="twitter" width="20" height="20">Follow us on Twitter</a></p>
					<p class="sidebar"><a href=""><img src="{{ asset('images/social-icons/facebook.png') }}" alt="facebook" width="20" height="20">Follow us on Facebook</a></p>
				
				</div>
				<!-- Sidebar LINKS Ends -->
			
			</div>
			
			<!-- Sidebar Ends -->
		
		</div>
	
	</div>
	
	<!-- Page Content Ends -->


{% endblock %}