<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Zeega Alpha{% endblock %}</title>
         {% block stylesheets %}
            <link rel="icon" type="image/png" href="http://zeega.org/images/zeega.ico">
			<meta name="robots" content="noindex,follow">
			<meta name="description" content="">
			<meta name="keywords" content="">
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			<link rel="stylesheet" media="screen" type="text/css" href="{{ asset('editor/css/zeega.css') }}" />
			<link rel="stylesheet" href="{{ asset('editor/css/bootstrap.css') }}"  type="text/css" media="screen">
			<link rel="stylesheet" href="{{ asset('editor/js/jquery/ui/css/custom-theme/jquery-ui-1.8.14.custom.css') }}" type="text/css" media="screen" />
			<link rel="stylesheet" media="screen" type="text/css" href="{{ asset('editor/js/jquery/plugins/colorpicker/css/colorpicker.css') }}" />
		{% endblock %}
    </head>
    <body>
    	<div id="wrapper" >
    		{% block header %}
				<div id="header">
			<div id="header-title">
				<b>Zeega Alpha: {{title}}</b>
			</div>
	
			<div id="header-nav">

				<ul>
					<li class='item'><a href="http://cb11.zeega.org/faq.php">FAQ</a></li>
					<li class='item'><a href="loader.php">Add Media</a></li>
					<li class='item'><a href="main.php">Edit/View Projects</a> </li>
					
					<li class='drop-down clearfix item'>
						Logged in as <a href='#' class='drop-down-toggle'>{{username}}</a>
						<ul class='drop-down-menu'>
							<li><a href='#'>Admin</a></li>
							<li><a href='#'>Settings</a></li>
							<li><a id='css-change' href='#'>CSS   </a></li>
							<li><a href='#'>Logout</a></li>
						</ul>
					</li>
				</ul>

			</div> <!-- #headerLoggedInWrapper -->
			
		</div> <!-- #header -->	
			{% endblock %}
		</div> <!-- #wrapper -->

        <div id="content">
          	{% block body %}{% endblock %}
        </div>
        
        <div id="footer">
        	{% block footer %}
				<div id="footerWrapper">
					<div id="footer">
				<a href="http://zeega.org">About Zeega</a> * Creative Commons Open Source License
					</div>
				</div>
			{% endblock %}
        </div>
        
    </body>
</html>