{# src/Zeega/EditorBundle/Resources/views/Editor/index.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Zeega Alpha{% endblock %}

{% block body %}
 
		
				<div id="browser">
				<!-- BEGIN BROWSER BODY CODE HERE -->

				<div id="browser-my-collections-wrapper">
					<div id="browser-my-collections-label">
						<p>My Collections</p>
					</div>
					<div id="browser-my-collections">
						<div id="browser-create-new-collection">
							<div class="browser-my-new-collection">
								<p>Drag media to create a new collection</p>
							</div>
						</div>
						<div class="browser-loading"><img src="{{asset('gamma/images/loading.gif')}}"></div>
						<ul id="browser-my-collections-drawer"></ul>
					</div>
				</div>
				<div id="browser-toggles">
					<div id="browser-toggle-all-media-vs-my-media"><ul><li id="browser-my-media" class="browser-selected-toggle">My Media</li> <li id="browser-all-media" class="browser-unselected-toggle">All Media</li> </ul></div>
					
					<div style="clear:both"></div>
				</div>
				<div id="browser-search-filter-toggle">
					<form action="" method="" id="browser-form-search">
						<div id="form-left">
							<select id="database-search-filter" class="">
							  <option value="all">All</option>
							  <option value="image">Images</option>
							  <option value="video">Video</option>
							  <option value="audio">Audio</option>
							  
							</select>
							
							
							<input id="database-search-text" type="text" name="database-search" class="span6" style="color: rgb(51, 51, 51); ">
							
						</div>
						<div id="form-right">
							<!--<input id='database-search-button' class='' type="button" value="go" onclick =' return submitbutton(this)'/>-->
							<input id="database-search-button" class="" type="button" value="go" onclick="return false">
						</div>
					</form>
					<div id="browser-collection-filter"><a id="browser-remove-collection-filter" href=".">X</a> <span id="browser-collection-filter-title">Collection Title</span></div>
					
					
					<div style="clear:both;padding-bottom:4px;"></div>
					
				</div>
				
				<div id="browser-results">
					
					<div id="browser-results-wrapper">
						<div id ="browser-right-sidebar">
							<div class="browser-filter-icon time"></div>
							<div class="browser-filter-icon space"></div>
						</div>
						<div id="browser-toggle-items-vs-collections"><ul><li id="browser-collection-count" class="browser-unselected-toggle">collections</li><li id="browser-item-count" class="browser-selected-toggle">items</li> </ul> </div>
						
						
						<div class="browser-loading"><img src="{{asset('gamma/images/loading.gif')}}"></div>
						<div id="browser-no-results-my-media-message">You don't currently have any media. Want to <a href="#">add some</a>?</div>
						<div id="browser-no-items-results-message">Sorry, no items found.</div>
						<div id="browser-no-collections-results-message">Sorry, no collections found.</div>
						<ul id="browser-results-items">
							</ul>
						<ul id="browser-results-collections">
							
						</ul>
						<div id="browser-show-more-results"><a href=".">Show more results</a> </div>
					</div>
				 	
				 	
				</div>
				
				
				<!-- END BROWSER BODY CODE HERE -->
		   
			<br><br><br>
			

				
			 </div> <!-- #browser -->	

			



{% endblock %}

{% block extras %}
         <!-- TEMPLATES -->
         <div id='templates' class='hidden'>
         	<div id="browser-my-collection-template">
				<p>City Streets <br><span class="browser-item-count">12 items</span></p><img class="browser-img-large" src="http://mlhplayground.org/em/web/images/thumbs/4383_s.jpg" alt="1936 Pittsburgh Flood (Part II)" title="1936 Pittsburgh Flood (Part II)" style="width: 25px; height: 25px; margin-top: 1px; margin-right: 1px; margin-bottom: 1px; margin-left: 1px; ">
				<img class="large" src="http://mlhplayground.org/em/web/images/thumbs/1_s.jpg" alt="Bird Songs of North America -- 403 items" title="Bird Songs of North America -- 403 items" style="width: 25px; height: 25px; margin-top: 1px; margin-right: 1px; margin-bottom: 1px; margin-left: 1px; ">
				<img class="large" src="http://mlhplayground.org/em/web/images/thumbs/1_s.jpg" alt="Bird Songs of North America -- 403 items" title="Bird Songs of North America -- 403 items" style="width: 25px; height: 25px; margin-top: 1px; margin-right: 1px; margin-bottom: 1px; margin-left: 1px; ">
				
			</div>
			<li id="browser-results-collection-template" style=""><a href="#"><img class="browser-img-large" src="http://mlhplayground.org/em/web/images/thumbs/808_s.jpg" alt="Images Of America: Lantern Slide Collection -- 2924 items" title="Images Of America: Lantern Slide Collection -- 2924 items"><p><span class="title">Images Of America: Lantern Slide Collection</span><br><span class="browser-item-count">2924 items</span></p></a></li>

			<div id="browser-results-image-template">
				<a id="" class="fancymedia fancybox" rel="group" title="" href="http://memory.loc.gov/award/mhsdalad/310000/310043r.jpg"><img class="browser-img-large" src="http://mlhplayground.org/em/web/images/thumbs/1823_s.jpg" alt="080120v" title="080120v"></a>
			</div>
			<div id="browser-fancybox-caption-template">
				
				<p class="title">TITLE</p>
				<p><strong>Creator:</strong> <span class="creator">CREATOR</span></p>
				<a id="fancybox-close-button" href="." onClick="parent.jQuery.fancybox.close();return false;">CLOSE &nbsp;&nbsp;X</a>
				<p class="source"><strong>Source:</strong> <a href="#" target="_blank">link</a></p>

			</div>
			<div id="browser-fancybox-video-template">
				<video controls="true" height="480px" width="640px" preload><source src="SOURCE"></video>
				
			</div>
			<div id="browser-fancybox-youtube-template">
				<iframe class="youtube-player" type="text/html" width="640" height="385" src="" frameborder="0">
				</iframe>
				
			</div>
			<div id="browser-fancybox-audio-template">
				<audio controls="true" src="SOURCE"></audio>
				
			</div>
		
         </div>

         <!-- /TEMPLATES -->
         

{% endblock %}

{% block scripts %}
				<!-- SCRIPTS -->
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<script data-main="{{ asset('gamma/js/main.browser.js')}}" src="{{ asset('gamma/js/libraries/require-jquery.js')}}"></script>
		<script src="http://core.zeega.org/Libraries/js/ext-3.2.1/adapter/jquery/ext-jquery-adapter-debug.js"></script>
		<script src="http://core.zeega.org/Libraries/js/ext-3.2.1/ext-all.js"></script>
		<script src="http://core.zeega.org/Libraries/js/aloha/aloha-nodeps.js"></script>
		<script src="http://core.zeega.org/Libraries/js/aloha/plugins/com.gentics.aloha.plugins.Format/plugin.js"></script>
		<script src="http://core.zeega.org/Libraries/js/aloha-config.js"></script>
		
		<!-- FANCYBOX -->
		<!-- Optionaly include easing and/or mousewheel plugins -->
		<script type="text/javascript" src="{{ asset('gamma/js/fancybox/jquery.easing-1.3.pack.js')}}"></script>
		<script type="text/javascript" src="{{ asset('gamma/js/fancybox/jquery.mousewheel-3.0.6.pack.js')}}"></script>

		<!-- Add fancyBox -->
		<link rel="stylesheet" href="{{ asset('gamma/js/fancybox/jquery.fancybox.css')}}" type="text/css" media="screen" />
		<script type="text/javascript" src="{{ asset('gamma/js/fancybox/jquery.fancybox.js')}}"></script>
		<script type="text/javascript" src="{{ asset('gamma/js/fancybox/jquery.fancybox.pack.js')}}"></script>
			
{% endblock %}