{# src/Zeega/EditorBundle/Resources/views/Editor/index.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Zeega Alpha{% endblock %}

{% block body %}
 
		
				<div id="browser">
				<!-- BEGIN BROWSER BODY CODE HERE -->

				<div id="browser-my-collections-wrapper">
					<div id="browser-my-collections-label">
						<p>My Collections <span id="browser-my-collections-count"></span></p>
					</div>
					<div id="browser-my-collections">
						<div id="browser-create-new-collection">
							<div class="browser-my-new-collection">
								<p>Drag media to create a new collection</p>
							</div>
						</div>
						<div class="browser-loading"><img src="{{asset('gamma/images/loading.gif')}}"></div>
						<ul id="browser-my-collections-drawer" class="jcarousel-skin-zeega"></ul>
					</div>
				</div>
				<div id="browser-toggles">
					<div id="browser-toggle-all-media-vs-my-media"><ul><li id="browser-my-media" class="browser-selected-toggle">My Media</li> <li id="browser-all-media" class="browser-unselected-toggle">All Media</li> </ul></div>
					
					<div style="clear:both"></div>
				</div>
				<div id="browser-search-filter-toggle">
					<form action="" method="" id="browser-form-search">
						<div id="form-left">
							<select id="database-search-filter" class="">
							  <option value="all">All</option>
							  <option value="image">Images</option>
							  <option value="video">Video</option>
							  <option value="audio">Audio</option>
							  
							</select>
							
							
							<input id="database-search-text" type="text" name="database-search" class="span6" style="color: rgb(51, 51, 51); ">
							
						</div>
						<div id="form-right">
							<!--<input id='database-search-button' class='' type="button" value="go" onclick =' return submitbutton(this)'/>-->
							<input id="database-search-button" class="" type="button" value="go" onclick="return false">
						</div>
					</form>
					<div id="browser-collection-filter"><a id="browser-remove-collection-filter" href=".">X</a> <span id="browser-collection-filter-title">Collection Title</span><form id="browser-collection-filter-title-form"><input id="browser-update-collection-title" type="text" value="Collection Title"/></form>

					<!-- ICONS for sharing & adding to editor 
					<span id='collection-player-button' style='float:right;cursor:pointer; margin-left:5px;' class="float-left zicon grey zicon-play"></span><span id='collection-to-editor-button' style='float:right; cursor:pointer; margin-left:5px;' class="float-left zicon grey zicon-edit "></span>
					-->
					<a id="collection-to-editor-button" href=".">open in editor</a><br/><a id="collection-player-button" href=".">share link</a>
					</div>
					
					
					<div style="clear:both;padding-bottom:4px;"></div>
					
				</div>
				
				<div id="browser-results">
					
					<div id="browser-results-wrapper">
						<div id ="browser-right-sidebar">
							<div id="browser-filter-icons">
								<div class="browser-filter-icon time">
								</div>
								<div class="browser-filter-icon space"></div>
							</div>
							<div id="browser-time-filter">
							<form>
								<p>Time Filter</p>
								<fieldset>
									
									<select name="valueAA" id="valueAA">
										
											<option selected value="1900">1900</option>
											<option value="1901">1901</option>
											<option value="1902">1902</option>
											<option value="1903">1903</option>
											<option value="1904">1904</option>
											<option value="1905">1905</option>
											<option value="1906">1906</option>
											<option value="1907">1907</option>
											<option value="1908">1908</option>
											<option value="1909">1909</option>
											<option value="1910">1910</option>
											<option value="1911">1911</option>
											<option value="1912">1912</option>
											<option value="1913">1913</option>
											<option value="1914">1914</option>
											<option value="1915">1915</option>
											<option value="1916">1916</option>
											<option value="1917">1917</option>
											<option value="1918">1918</option>
											<option value="1919">1919</option>
											<option value="1920">1920</option>
											<option value="1921">1921</option>
											<option value="1922">1922</option>
											<option value="1923">1923</option>
											<option value="1924">1924</option>
											<option value="1925">1925</option>
											<option value="1926">1926</option>
											<option value="1927">1927</option>
											<option value="1928">1928</option>
											<option value="1929">1929</option>
											<option value="1930">1930</option>
											<option value="1931">1931</option>
											<option value="1932">1932</option>
											<option value="1933">1933</option>
											<option value="1934">1934</option>
											<option value="1935">1935</option>
											<option value="1936">1936</option>
											<option value="1937">1937</option>
											<option value="1938">1938</option>
											<option value="1939">1939</option>
											<option value="1940">1940</option>
											<option value="1941">1941</option>
											<option value="1942">1942</option>
											<option value="1943">1943</option>
											<option value="1944">1944</option>
											<option value="1945">1945</option>
											<option value="1946">1946</option>
											<option value="1947">1947</option>
											<option value="1948">1948</option>
											<option value="1949">1949</option>
											<option value="1950">1950</option>
											<option value="1951">1951</option>
											<option value="1952">1952</option>
											<option value="1953">1953</option>
											<option value="1954">1954</option>
											<option value="1955">1955</option>
											<option value="1956">1956</option>
											<option value="1957">1957</option>
											<option value="1958">1958</option>
											<option value="1959">1959</option>
											<option value="1960">1960</option>
											<option value="1961">1961</option>
											<option value="1962">1962</option>
											<option value="1963">1963</option>
											<option value="1964">1964</option>
											<option value="1965">1965</option>
											<option value="1966">1966</option>
											<option value="1967">1967</option>
											<option value="1968">1968</option>
											<option value="1969">1969</option>
											<option value="1970">1970</option>
											<option value="1971">1971</option>
											<option value="1972">1972</option>
											<option value="1973">1973</option>
											<option value="1974">1974</option>
											<option value="1975">1975</option>
											<option value="1976">1976</option>
											<option value="1977">1977</option>
											<option value="1978">1978</option>
											<option value="1979">1979</option>
											<option value="1980">1980</option>
											<option value="1981">1981</option>
											<option value="1982">1982</option>
											<option value="1983">1983</option>
											<option value="1984">1984</option>
											<option value="1985">1985</option>
											<option value="1986">1986</option>
											<option value="1987">1987</option>
											<option value="1988">1988</option>
											<option value="1989">1989</option>
											<option value="1990">1990</option>
											<option value="1991">1991</option>
											<option value="1992">1992</option>
											<option value="1993">1993</option>
											<option value="1994">1994</option>
											<option value="1995">1995</option>
											<option value="1996">1996</option>
											<option value="1997">1997</option>
											<option value="1998">1998</option>
											<option value="1999">1999</option>
											<option value="2000">2000</option>
											<option value="2001">2001</option>
											<option value="2002">2002</option>
											<option value="2003">2003</option>
											<option value="2004">2004</option>
											<option value="2005">2005</option>
											<option value="2006">2006</option>
											<option value="2007">2007</option>
											<option value="2008">2008</option>
											<option value="2009">2009</option>
											<option value="2010">2010</option>
											<option value="2011">2011</option>
											
									</select>
							
									
									<select name="valueBB" id="valueBB">
											<option value="1900">1900</option>
											<option value="1901">1901</option>
											<option value="1902">1902</option>
											<option value="1903">1903</option>
											<option value="1904">1904</option>
											<option value="1905">1905</option>
											<option value="1906">1906</option>
											<option value="1907">1907</option>
											<option value="1908">1908</option>
											<option value="1909">1909</option>
											<option value="1910">1910</option>
											<option value="1911">1911</option>
											<option value="1912">1912</option>
											<option value="1913">1913</option>
											<option value="1914">1914</option>
											<option value="1915">1915</option>
											<option value="1916">1916</option>
											<option value="1917">1917</option>
											<option value="1918">1918</option>
											<option value="1919">1919</option>
											<option value="1920">1920</option>
											<option value="1921">1921</option>
											<option value="1922">1922</option>
											<option value="1923">1923</option>
											<option value="1924">1924</option>
											<option value="1925">1925</option>
											<option value="1926">1926</option>
											<option value="1927">1927</option>
											<option value="1928">1928</option>
											<option value="1929">1929</option>
											<option value="1930">1930</option>
											<option value="1931">1931</option>
											<option value="1932">1932</option>
											<option value="1933">1933</option>
											<option value="1934">1934</option>
											<option value="1935">1935</option>
											<option value="1936">1936</option>
											<option value="1937">1937</option>
											<option value="1938">1938</option>
											<option value="1939">1939</option>
											<option value="1940">1940</option>
											<option value="1941">1941</option>
											<option value="1942">1942</option>
											<option value="1943">1943</option>
											<option value="1944">1944</option>
											<option value="1945">1945</option>
											<option value="1946">1946</option>
											<option value="1947">1947</option>
											<option value="1948">1948</option>
											<option value="1949">1949</option>
											<option value="1950">1950</option>
											<option value="1951">1951</option>
											<option value="1952">1952</option>
											<option value="1953">1953</option>
											<option value="1954">1954</option>
											<option value="1955">1955</option>
											<option value="1956">1956</option>
											<option value="1957">1957</option>
											<option value="1958">1958</option>
											<option value="1959">1959</option>
											<option value="1960">1960</option>
											<option value="1961">1961</option>
											<option value="1962">1962</option>
											<option value="1963">1963</option>
											<option value="1964">1964</option>
											<option value="1965">1965</option>
											<option value="1966">1966</option>
											<option value="1967">1967</option>
											<option value="1968">1968</option>
											<option value="1969">1969</option>
											<option value="1970">1970</option>
											<option value="1971">1971</option>
											<option value="1972">1972</option>
											<option value="1973">1973</option>
											<option value="1974">1974</option>
											<option value="1975">1975</option>
											<option value="1976">1976</option>
											<option value="1977">1977</option>
											<option value="1978">1978</option>
											<option value="1979">1979</option>
											<option value="1980">1980</option>
											<option value="1981">1981</option>
											<option value="1982">1982</option>
											<option value="1983">1983</option>
											<option value="1984">1984</option>
											<option value="1985">1985</option>
											<option value="1986">1986</option>
											<option value="1987">1987</option>
											<option value="1988">1988</option>
											<option value="1989">1989</option>
											<option value="1990">1990</option>
											<option value="1991">1991</option>
											<option value="1992">1992</option>
											<option value="1993">1993</option>
											<option value="1994">1994</option>
											<option value="1995">1995</option>
											<option value="1996">1996</option>
											<option value="1997">1997</option>
											<option value="1998">1998</option>
											<option value="1999">1999</option>
											<option value="2000">2000</option>
											<option value="2001">2001</option>
											<option value="2002">2002</option>
											<option value="2003">2003</option>
											<option value="2004">2004</option>
											<option value="2005">2005</option>
											<option value="2006">2006</option>
											<option value="2007">2007</option>
											<option value="2008">2008</option>
											<option value="2009">2009</option>
											<option value="2010">2010</option>
											<option selected value="2011">2011</option>
											
										
									</select>
								</fieldset>
								</form>
								<table id="browser-time-bins">
									
									
									<thead>
										<tr>
											<th scope="col">1910 - 1912</th>
											<th scope="col">1920 - 1945</th>
											<th scope="col">1934 - 1936</th>
											<th scope="col">1910 - 1912</th>
											<th scope="col">1920 - 1945</th>
											
										</tr>
									</thead>
									
									<tbody>
										<tr>
											<td><a href=".">1 item</a></td>
											<td><a href=".">33 items</a></td>
											<td><a href=".">343 items</a></td>
											<td><a href=".">0 items</a></td>
											<td><a href=".">9 items</a></td>
											
											
											
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>
						<div id="browser-toggle-items-vs-collections"><ul><li id="browser-collection-count" class="browser-unselected-toggle">collections</li><li id="browser-item-count" class="browser-selected-toggle">items</li> </ul> </div>
						
						
						<div class="browser-loading"><img src="{{asset('gamma/images/loading.gif')}}"></div>
						<div id="browser-no-results-my-media-message">You don't currently have any media. Want to <a href="#">add some</a>?</div>
						<div id="browser-no-items-results-message">Sorry, no items found.</div>
						<div id="browser-no-collections-results-message">Sorry, no collections found.</div>
						<ul id="browser-results-items">
							</ul>
						<ul id="browser-results-collections">
							
						</ul>
						<div id="browser-show-more-results"><a href=".">Show more results</a> </div>
					</div>
				 	
				 	
				</div>
				
				
				<!-- END BROWSER BODY CODE HERE -->
		   
			<br><br><br>
			

				
			 </div> <!-- #browser -->	

			



{% endblock %}

{% block extras %}
         <!-- TEMPLATES -->
         <div id='templates' class='hidden'>
         	<div id="browser-my-collection-template">
				<p>City Streets <br><span class="browser-item-count">12 items</span></p><img class="browser-img-large" src="http://mlhplayground.org/em/web/images/thumbs/4383_s.jpg" alt="1936 Pittsburgh Flood (Part II)" title="1936 Pittsburgh Flood (Part II)" style="width: 25px; height: 25px; margin-top: 1px; margin-right: 1px; margin-bottom: 1px; margin-left: 1px; ">
				<img class="large" src="http://mlhplayground.org/em/web/images/thumbs/1_s.jpg" alt="Bird Songs of North America -- 403 items" title="Bird Songs of North America -- 403 items" style="width: 25px; height: 25px; margin-top: 1px; margin-right: 1px; margin-bottom: 1px; margin-left: 1px; ">
				<img class="large" src="http://mlhplayground.org/em/web/images/thumbs/1_s.jpg" alt="Bird Songs of North America -- 403 items" title="Bird Songs of North America -- 403 items" style="width: 25px; height: 25px; margin-top: 1px; margin-right: 1px; margin-bottom: 1px; margin-left: 1px; ">
				
			</div>
			<li id="browser-results-collection-template" style=""><a href="#"><img class="browser-img-large" src="http://mlhplayground.org/em/web/images/thumbs/808_s.jpg" alt="Images Of America: Lantern Slide Collection -- 2924 items" title="Images Of America: Lantern Slide Collection -- 2924 items"><p><span class="title">Images Of America: Lantern Slide Collection</span><br><span class="browser-item-count">2924 items</span></p></a></li>

			<div id="browser-results-image-template">
				<a id="" class="fancymedia fancybox.image" rel="group" title="" href="http://memory.loc.gov/award/mhsdalad/310000/310043r.jpg"><img class="browser-img-large" src="http://mlhplayground.org/em/web/images/thumbs/1823_s.jpg" alt="080120v" title="080120v"></a>
				<div class="browser-results-image-edit"><a class="browser-remove-from-collection" href=".">remove</a> <a class="browser-change-thumbnail" href=".">make cover</a>
				</div>
			</div>
			<div id="browser-fancybox-caption-template">
				
				<p class="title">TITLE</p>
				<p><strong>Creator:</strong> <span class="creator">CREATOR</span></p>
				<a id="fancybox-close-button" href="." onClick="parent.jQuery.fancybox.close();return false;">CLOSE &nbsp;&nbsp;X</a>
				<p class="source"><strong>Source:</strong> <a href="#" target="_blank">link</a></p>

			</div>
			<div id="browser-fancybox-video-template">
				<video controls="true" height="480px" width="640px" preload><source src="SOURCE"></video>
				
			</div>
			<div id="browser-fancybox-youtube-template">
				<iframe class="youtube-player" type="text/html" width="640" height="385" src="" frameborder="0">
				</iframe>
				
			</div>
			<div id="browser-fancybox-audio-template">
				<audio controls="true" src="SOURCE"></audio>
				
			</div>
			<div id="share-collection-modal" class='modal hidden' >
			<div class="modal-header">
				<a href='#' class='close'>x</a>
				<h3>Share Your Collection</h3>
			</div>
			<div class="modal-body clearfix">
				
			</div>
			<div class="modal-footer">
				<span class='admin-submit'>
					<br />
					<a href='#' id='close-modal' class='btn secondary close-modal'>close</a>
				</span>
			</div>
		</div> <!-- modal -->
		
         </div>

         <!-- /TEMPLATES -->

         

{% endblock %}




{% block scripts %}
				<!-- SCRIPTS -->
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<script data-main="{{ asset('gamma/js/main.browser.js')}}" src="{{ asset('gamma/js/libraries/require-jquery.js')}}"></script>

		
		<!-- FANCYBOX -->
		<!-- Optionaly include easing and/or mousewheel plugins -->
		<script type="text/javascript" src="{{ asset('gamma/js/fancybox/jquery.easing-1.3.pack.js')}}"></script>
		<script type="text/javascript" src="{{ asset('gamma/js/fancybox/jquery.mousewheel-3.0.6.pack.js')}}"></script>

		<!-- Add fancyBox -->
		<link rel="stylesheet" href="{{ asset('gamma/js/fancybox/jquery.fancybox.css')}}" type="text/css" media="screen" />
		<script type="text/javascript" src="{{ asset('gamma/js/fancybox/jquery.fancybox.js')}}"></script>
		<script type="text/javascript" src="{{ asset('gamma/js/fancybox/jquery.fancybox.pack.js')}}"></script>

		<!-- JCarousel -->
		<script type="text/javascript" src="{{ asset('gamma/js/jcarousel/jquery.jcarousel.min.js')}}"></script>
		<link rel="stylesheet" type="text/css" href="{{ asset('gamma/js/jcarousel/skins/zeega/skin.css')}}" />

		<!-- Filament slider for timeline -->
		<script type="text/javascript" src="{{ asset('gamma/js/filamentslider/selectToUISlider.jQuery.js')}}"></script>
		<link rel="stylesheet" type="text/css" href="{{ asset('gamma/js/filamentslider/css/ui.slider.extras.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{ asset('gamma/js/filamentslider/css/jquery-ui-1.8.16.custom.css')}}" />
			
{% endblock %}