{# src/Zeega/EditorBundle/Resources/views/Editor/index.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Zeega Alpha{% endblock %}

{% block body %}
 
		
				<div id="browser">
				<!-- BEGIN BROWSER BODY CODE HERE -->

				<div id="browser-my-collections-wrapper">
					<div id="browser-my-collections-label">
						<p>My Collections <span id="browser-my-collections-count"></span></p>
					</div>
					<div id="browser-my-collections">
						<div id="browser-create-new-collection">
							<div class="browser-my-new-collection">
								<p>Drag media to create a new collection</p>
							</div>
						</div>
						<div class="browser-loading"><img src="{{asset('gamma/images/loading.gif')}}"></div>
						<ul id="browser-my-collections-drawer" class="jcarousel-skin-zeega"></ul>
					</div>
				</div>
				<div id="browser-toggles">
					<div id="browser-toggle-all-media-vs-my-media">
						<ul>
							
							<li id="browser-all-media" class="tab browser-unselected-toggle">All Media</li>
							<li id="browser-my-media" class="tab browser-selected-toggle">My Media</li>
							<li id="browser-collection-filter-tab" class="tab browser-unselected-toggle" style="display:none"><span id="browser-collection-filter-tab-text">A Collection</span><img id="browser-collection-filter-tab-edit-icon" src="{{asset('gamma/images/edit-icon.png')}}">
								<ul id="browser-collection-filter-edit-menu">
									<li id="browser-rename-collection">rename collection</li>
									<li id="browser-delete-collection">delete collection</li>
									<li id="collection-to-editor-button">open in editor</li>
									<li id="collection-player-button">share link</li>
								</ul>
							</li>
						</ul>
					</div>
					
					<div style="clear:both"></div>
				</div>
				<div id="browser-search-filter-toggle">
					<div id="searchbar" class="browser-searchbar">
						<input id="database-search-text" type="text" name="database-search" value="search my media" style="color: rgb(68, 68, 68); ">
						<span><select id="database-search-filter" class="" style='width:98px'>
							  <option value="all">all formats</option>
							  <option value="image">images</option>
							  <option value="video">video</option>
							  <option value="audio">audio</option>
							  
							</select></span>
					</div>
					
					
					
					<div id="browser-toggle-items-vs-collections">View: <span id="browser-collection-count" class="browser-unselected-toggle" style="background-color: #555 !important;">collections</span> | <span id="browser-item-count" class="browser-selected-toggle" style="background-color: #555 !important;">items</span> </div>

					<a href="." id="browser-open-timeline">Open Timeline</a><a href="." id="browser-close-timeline">Close Timeline</a>
					<!-- <div style="clear:both;padding-bottom:4px;"></div>-->
					
				</div>
				
				<div id="browser-results">
					
					<div id="browser-results-wrapper">
						<div id ="browser-right-sidebar">
							
							<div id="browser-time-filter">
							
							</div>
						</div>
						
						
						
						<div class="browser-loading"><img src="{{asset('gamma/images/loading.gif')}}"></div>
						<div id="browser-no-results-my-media-message">You don't currently have any media. Want to <a href="#">add some</a>?</div>
						<div id="browser-no-items-results-message">Sorry, no items found.</div>
						<div id="browser-no-collections-results-message">Sorry, no collections found.</div>
						<ul id="browser-results-items">
							<li id="browser-view-more-item-results"><a href="." class="browser-load-more-results">Load more results</a></li>
						</ul>
						<ul id="browser-results-collections">
							<li id="browser-view-more-collection-results"><a href="." class="browser-load-more-results">Load more results</a></li>
						</ul>
						
					</div>
				 	
				 	
				</div>
				
				
				<!-- END BROWSER BODY CODE HERE -->
		   
			<br><br><br>
			

				
			 </div> <!-- #browser -->	

			



{% endblock %}

{% block extras %}
         <!-- TEMPLATES -->
         <div id='templates' class='hidden'>
         	<div id="browser-time-filter-template">
         		<form>
				<p>Timeline <span class="browser-time-filter-value"></span></p>
						
					<select name="valueAA" id="valueAA-template"></select>
			
					<select name="valueBB" id="valueBB-template"></select>
				
				</form>
				<table class="browser-time-bins">
					
					
					<thead>
						<tr>
							<th class="browser-time-bins-range" scope="col"></th>
							<th class="browser-time-bins-range" scope="col"></th>
							<th class="browser-time-bins-range" scope="col"></th>
							<th class="browser-time-bins-range" scope="col"></th>
							<th class="browser-time-bins-range" scope="col"></th>
							
						</tr>
					</thead>
					
					<tbody>
						<tr>
							<td class="browser-time-bins-results"></td>
							<td class="browser-time-bins-results"></td>
							<td class="browser-time-bins-results"></td>
							<td class="browser-time-bins-results"></td>
							<td class="browser-time-bins-results"></td>
							
							
							
						</tr>
						
					</tbody>
				</table>
         	</div>
         	<div id="browser-my-collection-template">
				<p>City Streets <br><span class="browser-item-count">12 items</span></p><img class="browser-img-large" src="http://mlhplayground.org/em/web/images/thumbs/4383_s.jpg" alt="1936 Pittsburgh Flood (Part II)" title="1936 Pittsburgh Flood (Part II)" style="width: 25px; height: 25px; margin-top: 1px; margin-right: 1px; margin-bottom: 1px; margin-left: 1px; ">
				<img class="large" src="http://mlhplayground.org/em/web/images/thumbs/1_s.jpg" alt="Bird Songs of North America -- 403 items" title="Bird Songs of North America -- 403 items" style="width: 25px; height: 25px; margin-top: 1px; margin-right: 1px; margin-bottom: 1px; margin-left: 1px; ">
				<img class="large" src="http://mlhplayground.org/em/web/images/thumbs/1_s.jpg" alt="Bird Songs of North America -- 403 items" title="Bird Songs of North America -- 403 items" style="width: 25px; height: 25px; margin-top: 1px; margin-right: 1px; margin-bottom: 1px; margin-left: 1px; ">
				
			</div>
			<li id="browser-results-collection-template" style=""><a href="#"><img class="browser-img-large" src="http://mlhplayground.org/em/web/images/thumbs/808_s.jpg" alt="Images Of America: Lantern Slide Collection -- 2924 items" title="Images Of America: Lantern Slide Collection -- 2924 items"><p><span class="title">Images Of America: Lantern Slide Collection</span><br><span class="browser-item-count">2924 items</span></p></a></li>

			<div id="browser-results-image-template">
				<a id="" class="fancymedia fancybox.image" rel="group" title="" href="http://memory.loc.gov/award/mhsdalad/310000/310043r.jpg"><img class="browser-img-large" src="http://mlhplayground.org/em/web/images/thumbs/1823_s.jpg" alt="080120v" title="080120v"></a>
				<div class="browser-results-image-edit"><a class="browser-remove-from-collection" href=".">remove</a> <a class="browser-change-thumbnail" href=".">make cover</a>
				</div>
			</div>
			<div id="browser-fancybox-media-container-template">
				<div id="browser-fancybox-item"><img src=""></div>
				<p class="title">TITLE</p>
				<p><span class="creator">CREATOR</span> <span class="source"><a href="#" target="_blank">View Source</a></span></p>
				
				<div id="browser-fancybox-buttons" class="clearfix">
					<p id="browser-fancybox-more-button"><a href=".">more</a></p><p id="browser-fancybox-delete-button"><a href=".">delete</a></p>
				</div>
				
					<!--<a id="fancybox-close-button" href="." onClick="parent.jQuery.fancybox.close();return false;">CLOSE &nbsp;&nbsp;X</a>-->
				
			</div>
			<div id="browser-fancybox-caption-template">
				
				<p class="title">TITLE</p>
				<p><strong>Creator:</strong> <span class="creator">CREATOR</span></p>
				<a id="fancybox-close-button" href="." onClick="parent.jQuery.fancybox.close();return false;">CLOSE &nbsp;&nbsp;X</a>
				<p class="source"><strong>Source:</strong> <a href="#" target="_blank">link</a></p>

			</div>
			<div id="browser-fancybox-image-template">
				<img src="" width="640px" height="480px"/>
			</div>
			<div id="browser-fancybox-video-template">
				<video controls="true"  width="640px" preload><source src="SOURCE"></video>
				
			</div>
			<div id="browser-fancybox-youtube-template">
				<iframe class="youtube-player" type="text/html" width="640" height="385" src="" frameborder="0">
				</iframe>
				
			</div>
			<div id="browser-fancybox-audio-template">
				<audio controls="true" src="SOURCE"></audio>
				
			</div>
			<div id="share-collection-modal" class='modal hidden' >
			<div class="modal-header">
				<a href='#' class='close'>x</a>
				<h3>Share Your Collection</h3>
			</div>
			<div class="modal-body clearfix">
				
			</div>
			<div class="modal-footer">
				<span class='admin-submit'>
					<br />
					<a href='#' id='close-modal' class='btn secondary close-modal'>close</a>
				</span>
			</div>
		</div> <!-- modal -->
		
         </div>

         <!-- /TEMPLATES -->

         

{% endblock %}




{% block scripts %}
				<!-- SCRIPTS -->
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<script data-main="{{ asset('gamma/js/main.browser.js')}}" src="{{ asset('gamma/js/libraries/require-jquery.js')}}"></script>

		
		<!-- FANCYBOX -->
		<!-- Optionaly include easing and/or mousewheel plugins -->
		<script type="text/javascript" src="{{ asset('gamma/js/fancybox/jquery.easing-1.3.pack.js')}}"></script>
		<script type="text/javascript" src="{{ asset('gamma/js/fancybox/jquery.mousewheel-3.0.6.pack.js')}}"></script>

		<!-- Add fancyBox -->
		<link rel="stylesheet" href="{{ asset('gamma/js/fancybox/jquery.fancybox.css')}}" type="text/css" media="screen" />
		<link rel="stylesheet" href="{{ asset('gamma/js/fancybox/helpers/jquery.fancybox-buttons.css')}}" type="text/css" media="screen" />

		<script type="text/javascript" src="{{ asset('gamma/js/fancybox/jquery.fancybox.js')}}"></script>
		<script type="text/javascript" src="{{ asset('gamma/js/fancybox/jquery.fancybox.pack.js')}}"></script>
		<script type="text/javascript" src="{{ asset('gamma/js/fancybox/helpers/jquery.fancybox-buttons.js')}}"></script>

		<!-- JCarousel -->
		<script type="text/javascript" src="{{ asset('gamma/js/jcarousel/jquery.jcarousel.min.js')}}"></script>
		<link rel="stylesheet" type="text/css" href="{{ asset('gamma/js/jcarousel/skins/zeega/skin.css')}}" />

		<!-- Filament slider for timeline -->
	
		<link rel="stylesheet" type="text/css" href="{{ asset('gamma/js/filamentslider/css/ui.slider.extras.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{ asset('gamma/js/filamentslider/css/jquery-ui-1.8.16.custom.css')}}" />
			
{% endblock %}