{# src/Zeega/EditorBundle/Resources/views/Editor/index.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Zeega Alpha{% endblock %}
{% block headerfix %} {% endblock %}
{% block body %}
 
	<div id='editor'>

			<div id="route-header" class='clearfix'>
				<div id='route-title'>{{projecttitle}}</div>
				<input id="route-id" type="hidden" value="{{route.id}}"/>
				<input id="project-id" type="hidden" value="{{projectid}}"/>
				<div id='route-publish'>
					
					<ul class='pill-buttons'>
						<li><a id='share' href='http://www.getjavascript.com' onclick='shareButton();return false;'>Share</a></li>
						<li><a id='embed' href='http://www.getjavascript.com' onclick='embedButton();return false;'>Embed</a></li>
						<li><a id='preview' href='http://www.getjavascript.com' onclick='Zeega.previewRoute();return false;'>Preview</a></li>
					</ul>
				</div>
			</div>


			<a href="http://#"></a>

				<div id="node-drawer">
					<ul></ul>
					<div id="add-node"><a href="#" onClick="Zeega.addNode();return false;"><img src="{{ asset('gamma/images/addnode.png') }}" height="25" width="25"/></a></div>
				</div>
				<div id="edit-drawer" class='clearfix'>
					
					
						
					<div id="sidebar" class='hidden clearfix' >
						
						<ul class='tabs'>
							<li class='active tab-heads'><a id='database-tab' href="#">Database</a></li>
							<li class='tab-heads'><a id='layers-tab' href="#">Layers</a></li>
							<li class='tab-heads'><a id='branch-tab' href="#">Branches</a></li>
						</ul>
						
						<div id='tab-content' class='clearfix'>
							<div id="tab-database">
								<div id="db-nav-controls">
							
									<div id='database-search' class='clearfix'>

										<form action="" method="">
											<div id='form-left'>
												<select id='database-search-filter' class=''>
												  <option value="all">All</option>
												  <option value="image">Images</option>
												  <option value="video">Video</option>
												  <option value="audio">Audio</option>
												</select>
												
												
												<input id='database-search-text' onKeyPress="return submitenter(this,event)" type='text' name='database-search' value='search' class='span6'/>
												
											</div>
											<div id='form-right'>
												<input id='database-search-button' class='' type="button" value="go" onclick =' return submitbutton(this)'/>
											</div>
										</form>

									</div>
							
								</div>
						
								<div id='asset-preview'>
									<a id='asset-preview-close' href='#'>x</a>
									<div id='asset-preview-media'></div>
									<div id='asset-preview-meta'>Title</div>
								</div>
								
								<a href='#' id='refresh-database' onclick='Database.refresh();return false;'>reset</a>
								<span id="database-pager"></span>
								
								<div id='tab-database-slide-window'></div>
						
							</div>
							<div id="tab-layers">
								<div id='new-layer'>
									<button id='add-new-layer' class='btn success small'>add new layer</button>
								</div>
						
								<ul id="sortable-layers"></ul>
						
						
							</div>
							<div id="tab-branches">
								<div id='branch-info'>
							 		<p class="">Nonlinear branching details coming soon</p>
								</div>
							</div>
						</div><!-- tab-content -->
				
					</div>
					<div id='workspace-wrapper' class='clearfix'>
						<div id="workspace"></div>
						<div id='node-controls'>
							Auto-Advance: 
							<div id="radio">
									<input type="radio" value ='0' id="manual" name="radio" checked="checked"/><label for="manual"> Manually</label>
									<input type="radio" value='-1' id="playback" name="radio"  /><label for="playback"> After playback</label>
									<input type="radio" value='10' id="time" name="radio" /><label for="time"> After <input id='advance-time' class='span1' type='text' name='time' value='10' size='3'/> seconds</label>
								</div>
						</div>
					</div>
				</div>

			


			</div><!--#editor-->

{% endblock %}				

{% block extras %}
	<div id="add-layer-modal" class="modal hide">
		<div class="modal-header">
			<a href="#" class="close">&times;</a>
			<h3>New Layer</h3>
		</div>
		<div class="modal-body">
			<p>Choose a new layer type</p>
			<form>
			<fieldset>
				<select id='new-layer-type'>
				  <option value="Geo">Map</option>
				  <option value="Text">Text</option>
				</select>
			</fieldset>
			</form>
		</div>
		<div class="modal-footer">
			<a href="#" id='add-layer' class="btn primary">Add</a>
			<a href="#" id='cancel-add-layer' class="btn secondary">Cancel</a>
		</div>
	</div>
	<script id='workspace-preview-nav' type='x-jquery-tmpl'>
		<div id='workspace-preview-controls'>
			<div id='preview-left' class='preview-nav-arrow preview-nav'>
				<img src="{{ asset('gamma/images/mediaPlayerArrow_shadow.png') }}" onclick="Zeega.loadLeftNode();return false">
			</div>
			<div id='preview-right' class='preview-nav-arrow preview-nav'>
				<img src="{{ asset('gamma/images/mediaPlayerArrow_shadow.png') }}" onclick="Zeega.loadRightNode();return false">
			</div>
			<div id='preview-media'></div>
		</div>
	</script>
	<script id='branch-overlay-template' type='x-jquery-tmpl'>
		<div id='branch-overlay'>
			<div id='branch-top' class='branch-drop-wrapper'>
				<!--<img class='arrow arrow-top' src='images/mediaPlayerArrow_shadow.png'>-->
				<div class='branch-drop'></div>
			</div>
			<div id='branch-right' class='branch-drop-wrapper'>
				<div class='branch-drop'></div>
				<!--<img class='arrow arrow-right' src='images/mediaPlayerArrow_shadow.png'>-->
			</div>
			<div id='branch-bottom' class='branch-drop-wrapper'>
				<div class='branch-drop'></div>
				<!--<img class='arrow arrow-bottom' src='images/mediaPlayerArrow_shadow.png'>-->
			</div>
			<div id='branch-left' class='branch-drop-wrapper'>
				<!--<img class='arrow arrow-left' src='images/mediaPlayerArrow_shadow.png'>-->
				<div class='branch-drop'></div>
			</div>
		</div>
	</script>
	<div id='templates' class='hidden'>
		
		<div id="database-asset-template" class="hidden">
			<span class="float-left asset-type-icon ui-icon"></span>
			<img/>
			<div class="item-title"></div>
			<div class="item-meta"></div>
		</div>

		<div id="layer-list-template" class="layer-list clearfix">
			<div class='layer-uber-bar clearfix'>
				<div class='layer-icon'>
					<span class="asset-type-icon ui-icon ui-icon-pin-w"></span>
				</div>
				<div class='layer-title'>Layer Name</div>
				<div class='layer-uber-controls'>
					<span class='delete-layer ui-icon ui-icon-trash'></span>
				</div>
				<div class='layer-drag-handle'>
					<span class='ui-icon ui-icon-grip-solid-horizontal'></span>
				</div>
			</div>
			<div class='hidden layer-content clearfix'>
				<div id='controls'></div>
				<br />
				<form id='layer-persist'>
					<input id='persist' type="checkbox" name="vehicle" value="persist" /> <label for='persist'>Persist layer to route</label>
				</form>
			</div>
		</div>
		
		<div id="node-item-template" class=""><div class='node-overlay'></div><div class='node-background'></div><a href='#' class='delete-node hidden'>&times;</a></div>
		
	</div>
{% endblock %}

{% block scripts %}
			<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
			<script data-main="{{ asset('gamma/js/main.editor.js') }}" src="{{ asset('gamma/js/libraries/require-jquery.js')}}"></script>
			<script src="http://core.zeega.org/Libraries/js/ext-3.2.1/adapter/jquery/ext-jquery-adapter-debug.js"></script>
			<script src="http://core.zeega.org/Libraries/js/ext-3.2.1/ext-all.js"></script>
			<script src="http://core.zeega.org/Libraries/js/aloha/aloha-nodeps.js"></script>
			<script src="http://core.zeega.org/Libraries/js/aloha/plugins/com.gentics.aloha.plugins.Format/plugin.js"></script>
			<script src="http://core.zeega.org/Libraries/js/aloha-config.js"></script>
			
{% endblock %}