{# src/Zeega/EditorBundle/Resources/views/Editor/index.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Zeega Alpha{% endblock %}
{% block headerfix %} {% endblock %}
{% block body %}
 
	<div id='editor'>
		
		<!-- amoeba -->

			<div id="route-header" class='clearfix'>
				<div id='route-title'>{{projecttitle}}</div>
				<input id="route-id" type="hidden" value="{{route.id}}"/>
				<input id="project-id" type="hidden" value="{{projectid}}"/>
				<div id='route-publish'>
					
					<ul class='pill-buttons'>
						<!--<li><a id='share' href='http://www.getjavascript.com' onclick='shareButton();return false;'>Share</a></li>-->
						<li><a id='embed' href='http://www.getjavascript.com' onclick='embedButton();return false;'>Export</a></li>
						<li><a id='preview' href='#' onclick='Zeega.previewRoute();return false;'>Preview</a></li>
					</ul>
				</div>
			</div>


			<a href="http://#"></a>

				<div id="node-drawer">
					<ul></ul>
					<div id="add-node"><a href="#" onClick="Zeega.addNode();return false;"><img src="{{ asset('gamma/images/addnode.png') }}" height="25" width="25" style="background-color:#555; 	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#555));"/></a></div>
				</div>
				<div id="edit-drawer" class='clearfix'>
					
					
						
					<div id="sidebar" class='hidden clearfix' >
						
						<ul class='tabs'>
							<li class='active tab-heads'><a id='database-tab' href="#">Database</a></li>
							<li class='tab-heads'><a id='layers-tab' class="dark" href="#">Layers</a></li>
							<!-- <li class='tab-heads'><a id='branch-tab' href="#">Branches</a></li> -->
						</ul>
						
						<div id='tab-content' class='clearfix'>
							<div id="tab-database">
								<div id="db-nav-controls">
							
									<div id='database-search' class='clearfix'>

										<form action="" method="">
											<div id='form-left'>
												<select id='database-search-filter' class=''>
												  <option value="all">All</option>
												  <option value="image">Images</option>
												  <option value="video">Video</option>
												  <option value="audio">Audio</option>
												  <option value="-" disabled ="true">---</option>
												  <option value="mine">Mine</option>
												</select>
												
												
												<input disabled id='database-search-text' onKeyPress="return submitenter(this,event)" type='text' name='database-search' value='search coming soon' class='span6'/>
												
											</div>
											<div id='form-right'>
												<!--<input id='database-search-button' class='' type="button" value="go" onclick =' return submitbutton(this)'/>-->
												<input id='database-search-button' class='' type="button" value="go" onclick ='return false' style="cursor:progress"/>
											</div>
										</form>

									</div>
							
								</div>
						
								<div id='asset-preview'>
									<a id='asset-preview-close' href='#'>x</a>
									<div id='asset-preview-media'></div>
									<div id='asset-preview-meta'>Title</div>
								</div>
								
								<a href='#' id='refresh-database' onclick='Database.refresh();return false;'>reset</a>
								<span id="database-pager"></span>
								
								<div id='tab-database-slide-window'></div>
						
							</div>
							<div id="tab-layers">
								<div id='new-layer' class='clearfix'>
									
									<ul>

										<li class='new-layer-icon' ><a href="#" onclick='addLayer("Geo");return false;'><img src="{{ asset('gamma/images/geo_layer.png') }}" height=20 width=20 /></a></li>
										<li class='new-layer-icon' ><a href="#"onclick='addLayer("Text");return false;'><img src="{{ asset('gamma/images/text_layer.png') }}" height=20 width=20 /></a></li>
										<li class='new-layer-icon' ><a href="#"onclick='addLayer("Twilio");return false;'><img src="{{ asset('gamma/images/twilio_layer.png') }}" height=20 width=20 /></a></li>

									</ul>

								</div>
						
								<ul id="sortable-layers">
									
									<div class=​"alert-message warning">
										<strong>No layers to display. Add some?</strong>
									</div>
									
								</ul>
						
						
							</div>
							<div id="tab-branches">
								<div id='branch-info'>
							 		<p class="">Nonlinear branching details coming soon</p>
								</div>
							</div>
						</div><!-- tab-content -->
				
					</div>
					<div id='workspace-wrapper'>
						<div id='visual-editor-wrapper' class='wrapper clearfix'>
							<div id='visual-editor-bar' class='clearfix'>
								<div class='bar-title' onclick='toggleWorkspace(this);return false;'><a href="#" id='ve-toggle' >–</a>&nbsp;Visual Editor</div>
								<div id='visual-icon-tray' class='icon-tray'></div>
							</div>
							
							<div id="workspace" class='workspace'></div>
							
						</div>
						
						<div id='interaction-editor-wrapper'>

							<div id='interaction-editor-bar' class='clearfix'>
								<div class='bar-title'>Interaction Editor</div>
								<div id='interaction-icon-tray' class='icon-tray'>ilayer</div>
							</div>

							<div id='interaction-workspace' class='workspace'></div>
				
							
							<div id="node-advance" class="i-layer layer-wrapper">
								<div class='i-layer-uber-bar clearfix' onclick="expandLayer(this);return false;">
									<div class='layer-icon'>
										<span class="asset-type-icon ui-icon ui-icon-pin-w"></span>
									</div>
									<div class='i-layer-title'></span>Advance</div>
								</div>
								<div class='layer-content clearfix'>
									<div id='controls'>
										<div id='advance-controls'>
											<input type="radio" value='0' id="playback" name="radio" checked="true" /><label for="playback"> After playback</label>
											<input type="radio" value ='-1' id="manual" name="radio" /><label for="manual"> Manually</label>
											<input type="radio" value='10' id="time" name="radio" /><label for="time"> After <input id='advance-time' class='span1' type='text' name='time' value='10' size='3'/> seconds</label>
										</div>
										<div id='node-advance-random'>
										<!--
											<input type="radio" value='right' id="right" name="radio" checked="true" /><label for="playback"> After playback</label>
											<input type="radio" value='left' id="left" name="radio" /><label for="playback"> After playback</label>
											<input type="radio" value='random' id="random" name="radio" /><label for="playback"> After playback</label>
										-->
											<input type='checkbox' value='random' id='random'><label for='random'> Randomize next node</label>
										
										</div>
									</div>
								</div>
							</div>
							
							
							
						</div>
					</div>
				</div>

			


			</div><!--#editor-->

{% endblock %}

{% block extras %}
	<div id='templates' class='hidden'>
		
		<div id="database-asset-template" class="hidden">
			<span class="float-left asset-type-icon ui-icon"></span>
			<img/>
			<div class="item-title"></div>
			<div class="item-meta"></div>
		</div>


		<div id="export" class='modal hidden' >
			<div class="modal-header">
				<a href='#' class='close'>x</a>
				<h3>Data Export</h3>
			</div>
			<div class="modal-body clearfix">
				<textarea id='export-json' rows="2" cols="20" readonly></textarea>
				<p>Copy and Paste the JSON into a text editor of your choice</p>
			</div>
			<div class="modal-footer">
				<span class='admin-submit'>
				<br />
				
					<a href='#' id='close-modal' class='btn secondary'>close</a>
				</span>
			</div>
			
				
			</div>
		<div >

		
		
		<div id="node-item-template" class=""><div class='node-overlay'></div><div class='node-background'></div><a href='#' class='delete-node hidden'>&times;</a></div>
		
	</div>
{% endblock %}

{% block scripts %}
			<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
			<script data-main="{{ asset('gamma/js/main.editor.js') }}" src="{{ asset('gamma/js/libraries/require-jquery.js')}}"></script>
			<script src="http://core.zeega.org/Libraries/js/ext-3.2.1/adapter/jquery/ext-jquery-adapter-debug.js"></script>
			<script src="http://core.zeega.org/Libraries/js/ext-3.2.1/ext-all.js"></script>
			<script src="http://core.zeega.org/Libraries/js/aloha/aloha-nodeps.js"></script>
			<script src="http://core.zeega.org/Libraries/js/aloha/plugins/com.gentics.aloha.plugins.Format/plugin.js"></script>
			<script src="http://core.zeega.org/Libraries/js/aloha-config.js"></script>
			
{% endblock %}