{# src/Zeega/EditorBundle/Resources/views/Editor/index.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Zeega Alpha{% endblock %}

{% block body %}

<div class="item-title" style="font-size: 24px; ">{{displayname}}</div><br><br>
<div class="item-title" style="font-size: 14px; ">{{message}}</div><br><br>
<div style="clear:both;"></div>
 <br><br>
<div id="user-info" style="color:white">
	<div id="user-thumb" style="width:105px; height: 105px; float:left; border: 2px solid white;" ><img width="105px" height="105px" src="{{thumb}}" /></div>
	<div id="user-bio" style="padding-left: 20px; width:380px; height:100px; float:left" >{{ bio }}</div>
</div>
<div style="clear:both;"></div>
<br><br>
			{% if is_granted('ROLE_SUPER_USER') %}

				<div id='add-playground'>
					<ul class="pill-buttons">
						<li><a  href="#">Create New Playground</a></li>
					</ul>
				</div>
				
			{% endif %}
			
			
			<div id="playgrounds-list">
				<div class="item-title" style="font-size: 16px; ">My Playgrounds</div><br><br>
				<div id="my-projects" style="padding-left:5px;">
					{% for playground in playgrounds %}
						<li style="margin-bottom: 5px; padding: 5px; background-color: #444; border-radius: 3px;"><a href="{{ path('ZeegaEditorBundle_playground', { 'short': playground.short }) }}" class="white">{{playground.title}}</a><span class="timeStamp"></span></li> 
					{% endfor %}
				</div>
			</div> <!--#playgrounds-list-->



<br><br>
			
<br><br>


{% endblock %}		

	{% block extras %}
		<div id="playground-add" style='display:none;'>		
				<form class='admin-form' action="" method="post" {{ form_enctype(form) }}>
					{{ form_widget(form) }}
					<span class='admin-submit'>
					<input type="submit" value="Cancel" id="playground-add-cancel" />
					<input type="submit" />
					</span>
				</form>
			</div>
		<div >
{% endblock %}
{% block scripts %}
      <script data-main="{{ asset('gamma/js/main.home.js') }}" src="{{ asset('gamma/js/libraries/require-jquery.js')}}"></script>
{% endblock %}