{# src/Zeega/EditorBundle/Resources/views/Editor/index.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Zeega Alpha{% endblock %}

{% block body %}
 	<div class="item-title" style="font-size: 24px; ">{{playground.title}}</div><br><br>
 	<div class="item-title" style="font-size: 14px; ">{{message}}</div><br><br>
 	<div id="projects">
			<br><br>
	
			
			<br><br>
			
	
				

				<br></br>
				<div class="item-title" style="font-size: 16px; ">Users</div> <br><br>
				<div style="padding-left:20px;">
					<ul>
						{% for user in users %}
							<li><a>{{user.display_name}}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div><br><br>
			<div id="new-user-add-button" style="padding-left:20px;">
					<ul class="pill-buttons">
						<li><a id="new-user" href="#">Add New User</a></li>
						<li><a id="add-user" href="#">Add Existing User</a></li>
						
					</ul>
			</div>
			<div >

				<div class="item-title" style="font-size: 16px; ">Recently Upated Projects</div> <br><br>
				<div style="padding-left:20px;">
					<ul>
						{% for project in projects %}
							<li><a>{{project.title}}</a> <span class="timeStamp"> - </span> <a class='project-delete' style="color:red" data-id="{{project.id}}" href="#">delete</a></li>
						{% endfor %}
					</ul>
				</div>
			</div> <!--#projects-list-->
			
</div>	<!--#projects-->

{% endblock %}	

{% block playgroundadmin %}
		
{% endblock %}

{% block extras %}
		<div id="new-user-add" style='display:none;'>		
				<form class='admin-form' action="" method="post" {{ form_enctype(form) }}>
					{{ form_widget(form) }}
					<span class='admin-submit'>
					<input type="submit" value="Cancel" id="new-user-add-cancel" />
					<input type="submit" />
					</span>
				</form>
			</div>
		<div >	
		
		<div id="user-add" style='display:none;'>		
				<form class='admin-form' action="" method="post">
					<label for="add-user">User</label><input id='add-user' type='text'/>
					<span class='admin-submit'>
					
					<input type="submit" value="Cancel" id="user-add-cancel" />
					<input type="submit" />
					</span>
				</form>
			</div>
		<div >	

{% endblock %}




{% block scripts %}
      <script data-main="{{ asset('gamma/js/main.admin.js') }}" src="{{ asset('gamma/js/libraries/require-jquery.js')}}"></script>
{% endblock %}