{# src/Zeega/EditorBundle/Resources/views/Editor/index.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Zeega Alpha{% endblock %}

{% block body %}
 	<div class="item-title playground-title" data-id="{{playground.id}}"  data-short="{{playground.short}}" style="font-size: 24px; ">{{playground.title}}</div><br><br>
	<div id="projects">
			<br><br>
			<div id="project-create">
					<ul class="pill-buttons">
						<li><a id="new-project" href="#">Create New Project</a></li>
					</ul>
			</div>
			<br><br>
			<div id="projects-lists">
				<div class="item-title" style="font-size: 16px; ">My Projects</div><br><br>
				<div id="my-projects" style="padding-left:20px;">
					<ul>
						{% for project in myprojects %}
							<li class='project-{{project.id}}'><a href="{{ path('ZeegaEditorBundle_editor', { 'id': project.id,'short': playground.short }) }}" >{{project.title}}</a> <span class="timeStamp"> - </span> <a class='project-delete' style="color:red" data-id="{{project.id}}" href="#">delete</a></li>
						{% endfor %}
					</ul>
				</div>

				<br></br>
				<div class="item-title" style="font-size: 16px; ">Recently Upated Projects</div> <br><br>
				<div id="all-projects" style="padding-left:20px;">
					<ul>
						{% for project in myprojects %}
							<li class='project-{{project.id}}'><a>{{project.title}}</a> <span class="timeStamp"> </li>
						{% endfor %}
					</ul>
				</div>
			</div> <!--#projects-list-->
			
</div>	<!--#projects-->

{% endblock %}	
{% block scripts %}
      <script data-main="{{ asset('gamma/js/main.playground.js') }}" src="{{ asset('gamma/js/libraries/require-jquery.js')}}"></script>
{% endblock %}