{# src/Zeega/EditorBundle/Resources/views/Editor/index.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Zeega Alpha{% endblock %}

{% block body %}



<div class="item-title user-editable" style="font-size: 24px; ">{{displayname}}</div>
<div style="clear:both;"></div>
<div class="item-title user-editable" style="font-size: 14px; ">{{email}}</div><br><br>
<div style="clear:both;"></div>
 <br><br>
<div id="user-info" style="color:white">
	<div id="user-thumb" style="width:100px; float:left; border: 2px solid white;" ><img width="96px" height="96px" src="{{thumb}}" /></div>
	<div id="user-bio" class='user-editable' style="padding-left: 20px; width:300px; height:100px; float:left" >{{ bio }}</div>
</div>
<div>

<div id="password-change" style="display:none;">		
				<form  class='admin-form' action="" method="post" {{ form_enctype(form) }}>
					{{ form_widget(form) }}
				
					<input id='password-change-cancel' type="submit" value="Cancel" />
					<input type="submit" value="Enter" />
				</form>
</div>

<br><br>
<div id="password-change-button" style="clear:both;">
			<div  >
					<ul class="pill-buttons">
						<li><a id="new-password" href="#">Change Password</a></li>
					</ul>
			</div>
</div>		
	<br><br>
		 	
		

<br><br>
</div>

{% endblock %}		

	
{% block scripts %}
      <script data-main="{{ asset('gamma/js/main.settings.js') }}" src="{{ asset('gamma/js/libraries/require-jquery.js')}}"></script>
{% endblock %}