{# src/Zeega/EditorBundle/Resources/views/Editor/index.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Zeega Alpha{% endblock %}

{% block body %}

<div class="item-title" style="font-size: 24px; ">{{displayname}}</div><br><br>
<div style="clear:both;"></div>
 <br><br>
<div id="user-info" style="color:white">
	<div id="user-thumb" style="width:100px; float:left; border: 2px solid white;" ><img width="96px" height="96px" src="{{thumb}}" /></div>
	<div id="user-bio" style="padding-left: 20px; width:300px; height:100px; float:left" >{{ bio }}</div>
</div>
<div style="clear:both;"></div>

			<br><br>
			<div id="playgrounds-list">
				<div class="item-title" style="font-size: 16px; ">My Sites</div><br><br>
				<div id="my-projects" style="padding-left:20px;">
					{% for playground in playgrounds %}
						<a href="{{ path('ZeegaEditorBundle_playground', { 'short': playground.short }) }}">{{playground.title}}</a> <span class="timeStamp"></span><br>
					{% endfor %}
				</div>
			</div> <!--#playgrounds-list-->

<div id="usersWrapper"> 
	<div id="changePassWrapper" style="display:none"> 
			 <form method="post"> 
		<label for="email">Old Password</label> 
			<input type="password" name="oldpass" maxlength="60"> 
		<label for="password">New Password</label> 
			<input type="password" name="pass" maxlength="10"> 
		<label for="confirmPassword">Confirm New Password</label> 
			<input type="password" name="pass2" maxlength="10">
		<div id="buttonWrapper"> 
			<div id="enterChangeButton"> 
				<input type="submit" name="submit" id="enterChangeButtonInput" value="Change Password"> 
			</div> 
			<div id="cancelChangeButton"> 
				<input type="submit" id="cancelButton" name="cancel" value="Cancel"> 
			</div> 
			<div id="clear"></div> 
		</div> 
	 </form> 
			
	</div> 
</div>

<br><br>
			<div id="change-password">
					<ul class="pill-buttons">
						<li><a id="new-password" href="#">Change Password</a></li>
					</ul>
			</div>

			<div id="create-playground">
					<ul class="pill-buttons">
						<li><a id="new-playground" href="#">Create New Playground</a></li>
					</ul>
			</div>
<br><br>


{% endblock %}		

	{% block scripts %}
      <script data-main="{{ asset('gamma/js/main.siteadmin.js') }}" src="{{ asset('gamma/js/libraries/require-jquery.js')}}"></script>
{% endblock %}
