<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
       	<meta name="robots" content="noindex,follow">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title %}Zeega Alpha{% endblock %}</title>
         
         
         {% block stylesheets %}
            <link rel="icon" type="image/png" href="{{ asset('images/zeega.ico')}}">
			<meta name="robots" content="noindex,follow">
			<meta name="description" content="">
			<meta name="keywords" content="">
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			
<!-- css imports -->

			<!--

			<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}"  type="text/css" media="screen">
			-->
			<link rel="stylesheet" href="{{ asset('css/visualsearch-datauri.css')}}"  type="text/css" media="screen">
			<link rel="stylesheet" href="{{ asset('js/lib/jquery/ui/css/custom-theme/jquery-ui-1.8.14.custom.css')}}" type="text/css" media="screen" />
			<link rel="stylesheet" href="{{ asset('css/zeega.fancybox.css')}}" />
			<link rel="stylesheet" href="{{ asset('js/lib/farbtastic/farbtastic.css')}}" />
			<link rel="stylesheet" href="{{ asset('js/lib/leaflet/leaflet.css')}}" />
			
			<!-- TODO: import the below COMMON file in every other bootstrap.less file and take the reference
				out of the twig -->
			<link rel="stylesheet/less" type="text/css" href="{{ asset('css/less/common/style.less')}}">


			<!--
			<link rel="stylesheet" href="{{ asset('css/zeega-bootstrap.css')}}"  type="text/css" media="screen">
			-->
			
			<script> /* Provisory for dev environment: */ localStorage.clear(); </script>
			<link rel="stylesheet/less" type="text/css" href="{{ asset('css/less/editor/bootstrap.less')}}">

<!-- end css imports -->
			
			
		{% endblock %}
		<script type="text/javascript" src="{{ asset('js//lib/less-1.3.0.min.js')}}"></script>
		
		{% if app.environment == 'prod' %}
			<script type="text/javascript">
	
				  var _gaq = _gaq || [];
				  _gaq.push(['_setAccount', 'UA-33491977-1']);
				  _gaq.push(['_trackPageview']);
				
				  (function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				  })();
	
			</script>
		{% endif %}

		<script type="text/javascript" src="{{ asset('js//lib/leaflet/leaflet.js')}}"></script>	
		<script> 
			sessionStorage.setItem('directory', '{{directory}}');
			sessionStorage.setItem('hostname','{{hostname}}');
			sessionStorage.setItem('userid','{{user_id}}');

			{% if site %} sessionStorage.setItem('siteid','{{site.getId()}}'); {% endif %}
			
			

var BrowserDetect = {
	init: function () {
		this.browser = this.searchString(this.dataBrowser) || "An unknown browser";
		this.version = this.searchVersion(navigator.userAgent)
			|| this.searchVersion(navigator.appVersion)
			|| "an unknown version";
		this.OS = this.searchString(this.dataOS) || "an unknown OS";
		this.isMobile = navigator.userAgent.match(/(iPhone|iPod|iPad|Android|BlackBerry)/);
	},
	searchString: function (data) {
		for (var i=0;i<data.length;i++)	{
			var dataString = data[i].string;
			var dataProp = data[i].prop;
			this.versionSearchString = data[i].versionSearch || data[i].identity;
			if (dataString) {
				if (dataString.indexOf(data[i].subString) != -1)
					return data[i].identity;
			}
			else if (dataProp)
				return data[i].identity;
		}
	},
	searchVersion: function (dataString) {
		var index = dataString.indexOf(this.versionSearchString);
		if (index == -1) return;
		return parseFloat(dataString.substring(index+this.versionSearchString.length+1));
	},
	dataBrowser: [
		{
			string: navigator.userAgent,
			subString: "Chrome",
			identity: "Chrome"
		},
		{ 	string: navigator.userAgent,
			subString: "OmniWeb",
			versionSearch: "OmniWeb/",
			identity: "OmniWeb"
		},
		{
			string: navigator.vendor,
			subString: "Apple",
			identity: "Safari",
			versionSearch: "Version"
		},
		{
			prop: window.opera,
			identity: "Opera",
			versionSearch: "Version"
		},
		{
			string: navigator.vendor,
			subString: "iCab",
			identity: "iCab"
		},
		{
			string: navigator.vendor,
			subString: "KDE",
			identity: "Konqueror"
		},
		{
			string: navigator.userAgent,
			subString: "Firefox",
			identity: "Firefox"
		},
		{
			string: navigator.vendor,
			subString: "Camino",
			identity: "Camino"
		},
		{		// for newer Netscapes (6+)
			string: navigator.userAgent,
			subString: "Netscape",
			identity: "Netscape"
		},
		{
			string: navigator.userAgent,
			subString: "MSIE",
			identity: "Explorer",
			versionSearch: "MSIE"
		},
		{
			string: navigator.userAgent,
			subString: "Gecko",
			identity: "Mozilla",
			versionSearch: "rv"
		},
		{ 		// for older Netscapes (4-)
			string: navigator.userAgent,
			subString: "Mozilla",
			identity: "Netscape",
			versionSearch: "Mozilla"
		}
	],
	dataOS : [
		{
			string: navigator.platform,
			subString: "Win",
			identity: "Windows"
		},
		{
			string: navigator.platform,
			subString: "Mac",
			identity: "Mac"
		},
		{
			   string: navigator.userAgent,
			   subString: "iPhone",
			   identity: "iPhone/iPod"
	    },
		{
			string: navigator.platform,
			subString: "Linux",
			identity: "Linux"
		}
	]

};
		
		BrowserDetect.init();

	//	if(BrowserDetect.browser!='Chrome'&&BrowserDetect.browser!='Safari') window.location = "{{ path('ZeegaCoreBundle_unsupportedBrowser') }}";
		
		</script>
		
		
		{% block head %}
		{% endblock %}
		
    </head>
  <body   {% block headerfix %} style="padding-top:10px;" {% endblock %}> 

	
 	
    	<div id="wrapper">
    	
    	{% block header %}
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<style type="text/css">
					html { 
						padding-top:60px;
					}
				</style>
					<header>
				<div class="navbar navbar-fixed-top">
					<div class="navbar-inner">
						<div class="container">
							
							<a class="brand" href="{{path('ZeegaEditorBundle_home')}}">
								<img src="{{ asset('images/zeega-logo-header.png') }}"/>
							</a>
							
							<ul class="nav">
								
							
								
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										About
										<b class="caret"></b>
									</a>
									<ul class="dropdown-menu">
										
										<li><a href="#">Mission</a></li>
										<li><a href="#">Productions</a></li>
										<li><a href="#">Engine</a></li>
										<li><a href="#">Team</a></li>
										<li><a href="#">Contact</a></li>
										<li class="divider"></li>
										<li><a href="#">Terms of Use</a></li>
										<li><a href="#">Privacy Policy</a></li>
										
										
									</ul>
								</li>

						
							
								<li class="">
									<a href="{{ path('ZeegaEditorBundle_site', {'short': site.short }) }}">{{title}}</a>
								</li>
								

							

							
							</ul>
							
							<ul class="nav pull-right">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										Projects
										<b class="caret"></b>
									</a>
									<ul class="dropdown-menu">
										
										<li><a class="new-project" href="{{path('ZeegaEditorBundle_new', { 'short': site.short })}}"><i class='zicon-new-document'></i> New Project</a></li>
										<li class="divider"></li>
										
										{% for project in myprojects %}
										<li>
											<a href="{{ path('ZeegaEditorBundle_editor', { 'id': project.id,'short': site.short }) }}">{{project.title}}</a>
										</li>
										{% endfor %}
										
									</ul>
								</li><!-- project .dropdown -->
								
								<li class='item add-media'><a href="#"><i class='zicon-add-media'></i> Add Media</a></li>
								<li class="divider-vertical"></li>
								
								<li><a href="{{ path('ZeegaCoreBundle_faq')}}">FAQ</a>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class='zicon-warning'></i> Report a Bug<b class="caret"></b></a>
									<ul class="dropdown-menu bug-report">
										<li class='bug-unsubmitted'>
											<div><label>Zeega is an experimental beast. We need your help to make it better! Let us know if something is misbehaving by sending us a brief description of what's wrong:</label></div>
											<textarea class='bug-description' rows='3'></textarea>
											<p><i class='icon-ok-sign'></i> a link to the current view will be included automatically</p>
										</li>
										<li class='bug-unsubmitted' >
											<label>Your email (optional):</label>
											<input class='bug-email' type='text'></input>
										</li>
										<li class='bug-unsubmitted'>
											<button class='btn btn-success submit-bug'>submit</button>
										</li>
										<li class='bug-submitted'>
											<h2>Thanks for your feedback!!</h2>
											<h3 style='padding-left:80px'>the Zeega team</h3>
											<br>
										</li>
										<li class='bug-submitted'>
											<button class='btn btn-success close-bug '>close</button>
										</li>
										
									</ul>
							</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class='zicon-user'></i> {{displayname}}<b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="{{ path('ZeegaCommunityBundle_dashboard')}}">User Profile</a></li>
										<li><a href='{{ path('_security_logout')}}'>Logout</a></li>
									</ul>
								</li>
							</ul>

						</div>
					</div>
				</div>
			</header>
    			{% endif %}
		{% endblock %}
		
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		
			<!-- ADD MEDIA modal window -->
			<div class="modal hide" id='add-media'>
			<!--<span class="zicon orange zicon-close" style="position: absolute; right: 5px; top: 5px;"></span>-->
			<button class="close" style="position: relative;top: -18px;right: -9px;">&times;</button>
			<h2 style="margin-bottom:25px">To install the Zeega bookmarklet, follow the directions below:</h2>
						
				<div id="book-one" style="float: left;">
					<img src="{{ asset('images/chrome-logo.gif') }}" style="margin-left: 25px;"/>
					<br>
					<br>
					Access Zeega from the<br>
					<a href="http://google.com/chrome" target="_blank">latest Chrome browser</a>
				</div>
				
				<div id="book-two" style="float: left; margin-left: 20px;">
					<img src="{{ asset('images/view-bookmarks.gif') }}" style="margin-left: 25px; margin-top: 25px;"/>
					<br><br><br>
					<span style="display: block; margin-left: 55px; margin-top: 2px;">
						Under the view menu, select<br>
						"Always show Bookmarks Bar"
					</span>
				</div>
				
				<div id="book-three" style="float: left; margin-left: 30px;">
					<a href="javascript:(function()%7Bvar%20head=document.getElementsByTagName('body')%5B0%5D,script=document.createElement('script');script.id='zeegabm';script.type='text/javascript';script.src='{{hostname}}{{directory}}js/widget/zeega.bookmarklet.js?'%20+%20Math.floor(Math.random()*99999);head.appendChild(script);%7D)();%20void%200"><img src="{{ asset('images/drag-zeega.gif') }}" style="margin-left: 25px; margin-top: 0px;" alt="Add to Zeega"/></a>
					<br>
					<span style="display: block; margin-left: 5px; margin-top: 10px;">
						Drag this icon to the<br>
						Bookmarks Bar within<br>
						the browser
					</span>

				</div>
				
				<div id="book-four" style="float: left; margin-left: 30px;">
					<img src="{{ asset('images/bookmark-confirm.gif') }}" style="margin-left: 35px; margin-top: 13px;"/>
					<br>
					<span style="display: block; margin-left: 17px; margin-top: 10px;">
						"Add to Zeega" will now appear in your Bookmarks<br> Bar. As you find media across the web, click this<br> to open the bookmarklet plugin.
					</span>

				</div>
				
			<div class="clear" style="clear: both;"></div>
			</div><!--#add-media-->
			
		{% else %}
		
			<!-- Header & Nav Begins -->
	<div class="container header new-section">
	
		<div class="row">
		
			<div class="span6">
				<a href="{{ path('ZeegaCommunityBundle_home')}}"><img src="{{ asset('images/zeega-logo.png') }}" alt="zeega-logo" width="134" height="43"></a>
				<div class="strapline">
				Remake The Internet
				</div>
			</div>
			
			<div class="span8">
				<div class="navigation">	
					<div>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret" style="vertical-align:middle;border-top:4px solid #037FB3;opacity:1"></b></a>
							<ul class="dropdown-menu-no-margins dropdown-menu">
										
										<li><a href="{{ path('ZeegaCommunityBundle_about')}}">Mission</a></li>
										<li><a href="{{ path('ZeegaCommunityBundle_productions')}}">Productions</a></li>
										<li><a href="{{ path('ZeegaCommunityBundle_engine')}}">Engine</a></li>
										<li><a href="{{ path('ZeegaCommunityBundle_team')}}">Team</a></li>
										<li><a href="{{ path('ZeegaCommunityBundle_contact')}}">Contact</a></li>
										<li class="divider"></li>
										<li><a href="{{ path('ZeegaCommunityBundle_terms')}}">Terms of Use</a></li>
										<li><a href="{{ path('ZeegaCommunityBundle_privacy')}}">Privacy Policy</a></li>
										
										
									</ul>
							<a href="">SignUp</a><a href='{{ path('_security_logout')}}'>Login</a>









					</div>
				</div>
			</div>
	
		</div>
	
	</div>
	<!-- Header & Nav Ends -->
			
		{% endif %}	
			<div class="modal hide fade" id="unsupported-browser">
				  <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal">×</button>
				    <h3>Please update your browser</h3>
				  </div>
				  <div class="modal-body">
				    <p>Your browser is out of date and your experience is important to us. Please update your browser to ensure you can access all of Zeega's features.</p>
				    <div class="pull-left" style="width:46%;padding:5px;background-color:#fad0d0;margin:5px;border-radius:3px;height:134px;text-align:center"><h4>You are using</h4><span id="unsupported-browser-data" style="font-size:11px;"></span></div>
				    <div class="pull-left" style="width:46%;padding:5px;background-color:#d3fad0;margin:5px;border-radius:3px;height:134px;text-align:center"><h4>We support </h4><a href="http://www.google.com/chrome/"><div class="browser-logo-chrome"></div></a><a href="http://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=0CG8QFjAA&url=http%3A%2F%2Fwww.mozilla.org%2Fen-US%2Ffirefox%2Fnew%2F&ei=q_MXUNe1BMa30QGmkoD4DQ&usg=AFQjCNHXR7GrDNHIc3plcSvQSx_ByCacYQ"><div class="browser-logo-firefox"></div></a><a href=""><div class="browser-logo-safari"></div></a><a href="http://www.microsoft.com/IE9"><div class="browser-logo-ie"></div></a><br/><span style="font-size:11px">Latest versions</span>

				    </div>
				  </div>
				  
			</div>
		
			<div id="editor" class='clearfix'>
				
				{% block body %}{% endblock %}
		   		
		   		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		   			<!-- Logged-in Footer Begins -->
					<div id="footer">
						{% block footer %}
							<div id="footerWrapper">
								<div id="footer">
							&copy; <a href="http://zeega.org" target="_blank">Zeega.org</a> {{ "now"|date("Y")}} * <a href="http://www.gnu.org/licenses/gpl.html" target="_blank">GPL License</a>
								</div>
							</div>
						{% endblock %}
					</div>
					<!-- Logged-in Footer Ends -->
				{% else %}

					<!-- Non-logged-in Footer Begins -->
	
					<div class="footer">
					
						<div class="container">
						
							<div class="row">
							
							<div class="span5">
								<img src="{{ asset('images/zeega-logo.png') }}" alt="zeega-logo" width="134" height="43">
								<div class="strapline">
								Remake The Internet
								</div>
								<p><small>Zeega is a non-profit dedicated to inventing new forms of interactive storytelling. We are passionate about beautiful, surprising, immersive digital experiences that foster curiosity and enrich understanding of the world around us.</small></p>
								<p><small>
									Send us a message: <a href="mailto:info@zeega.org">info@zeega.org</a><br>
									Maybe tweet us: <a href="http://www.twitter.com/zeega">@zeega</a><br>
									Or send a package: 364a Broadway, Cambridge MA 02139
								</small></p>
							</div>
							
							<div class="footer-navigation span3 offset6">
								<div>
									<p><a href="{{ path('ZeegaCommunityBundle_home')}}">Home</a></p>
									<p><a href="{{ path('ZeegaCommunityBundle_about')}}">About</a></p>
									<p><a href="">Signup</a></p>
									<p><a href="">Login</a></p>
								</div>
							</div>
							
							</div>
						
						</div>
					
					</div>
					
					<!-- Non-logged-in Footer Ends -->
				{% endif %}	
			 </div> <!-- #editor -->	
         </div> <!-- #wrapper -->
         
         {% block extras %}
         
         {% endblock %}
         
         {% block scripts %}
			


		{% endblock %}
  
		
		
         
    </body>
</html>