<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
       	<meta name="robots" content="noindex,follow">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title %}Zeega Alpha{% endblock %}</title>
         
         
         {% block stylesheets %}
            <link rel="icon" type="image/png" href="http://zeega.org/images/zeega.ico">
			<meta name="robots" content="noindex,follow">
			<meta name="description" content="">
			<meta name="keywords" content="">
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			
			
			<link rel="stylesheet" href="{{ asset('gamma/css/bootstrap.css')}}"  type="text/css" media="screen">
			<link rel="stylesheet" href="{{ asset('gamma/js/jquery/ui/css/custom-theme/jquery-ui-1.8.14.custom.css')}}" type="text/css" media="screen" />
			
			<link rel="stylesheet" media="screen" type="text/css" href="{{ asset('gamma/css/zeega.css')}}" />
			<link rel="stylesheet" href="{{ asset('gamma/js/jquery/plugins/colorpicker/css/colorpicker.css')}}" />
		{% endblock %}

		
    </head>
  <body   {% block headerfix %} style="padding-top:10px;" {% endblock %}> 
  
  <div id='add-media' style='border: solid 1px black; display:none; padding: 20px; background:white; font-size:16px; color:gray; position:absolute; z-index:100000; left:35%;top:10%; width:30%;'>  <h1> Drag this <a href="javascript:(function(){var head=document.getElementsByTagName('body')[0],script=document.createElement('script');script.type='text/javascript';script.src='http://alpha.zeega.org/test/web/gamma/js/widget/zeega.bookmarklet.js?' + Math.floor(Math.random()*99999);head.appendChild(script);})(); void 0" >Z</a> to your browser's bookmark bar and then simply click on the link whenever you come across media that you would like to add to your project. </h1></div>
  
    	{% block header %}
    	<div id='header-bg'></div>
    	<div id="wrapper" >
    		
    			
    			
				<div id="header">
					<div id="header-title">
						<ul>
						
							<li ><a href="{{path('ZeegaEditorBundle_home')}}"> Zeega Alpha </a></li>
							{% if title %}
							<li>>></li>
								<li class='drop-down clearfix '>
									{% if projectsMenu %}
									<a  class='drop-down-toggle' href="#">  {{title}} </a>
									<ul class='drop-down-menu'>
											{% if adminMenu %}<li><a href="{{ path('ZeegaEditorBundle_admin',{'short':short})}}">Admin</a></li>{% endif %}
											<li><a href="{{path('ZeegaEditorBundle_playground', { 'short': short })}}">Projects</a></li>
									</ul>
									{% elseif adminMenu %}
									<a  class='drop-down-toggle' href="#">  {{title}} </a>
									<ul class='drop-down-menu'>
											<li><a href="{{ path('ZeegaEditorBundle_admin',{'short':short})}}">Admin</a></li>
									</ul>
									{% else %}
									<a  href="#">  {{title}} </a>
									{% endif %}
									
									
								</li>
							{% endif %}
						</ul>
						
						
						
					</div>
					
	
					<div id="header-nav">
		
						<ul>
							<li class='item'><a href="{{ path('ZeegaEditorBundle_faq')}}">FAQ</a></li>
							<li class='item add-media' ><a href="#">Add Media</a></li>							
							<li class='drop-down clearfix item'>
								Logged in as <a href='#' class='drop-down-toggle'>{{displayname}}</a>
								<ul class='drop-down-menu'>	
									<li id="css-change"><a href="#">Presentation</a></li>
									<li><a href="{{ path('ZeegaEditorBundle_settings')}}">Settings</a></li>
									<li><a href='{{ path('_security_logout')}}'>Logout</a></li>
								</ul>
							</li>
						</ul>
					</div> <!-- #headerLoggedInWrapper -->
			</div> <!-- #header -->	
			{% endblock %}
		

			<div id="editor">
				{% block body %}{% endblock %}
		   
			<br><br><br>
				<div id="footer">
					{% block footer %}
						<div id="footerWrapper">
							<div id="footer">
						<a href="http://zeega.org">About Zeega</a> * Creative Commons Open Source License
							</div>
						</div>
					{% endblock %}
				</div>
			 </div> <!-- #editor -->	
         </div> <!-- #wrapper -->
         
         {% block extras %}
         
         {% endblock %}
         
         {% block scripts %}
			


		{% endblock %}
  
		
		
         
    </body>
</html>