<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
       	<meta name="robots" content="noindex,follow">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title %}Zeega Alpha{% endblock %}</title>
         
         
         {% block stylesheets %}
            <link rel="icon" type="image/png" href="http://zeega.org/images/zeega.ico">
			<meta name="robots" content="noindex,follow">
			<meta name="description" content="">
			<meta name="keywords" content="">
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			
			
			<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}"  type="text/css" media="screen">
			<link rel="stylesheet" href="{{ asset('js/lib/jquery/ui/css/custom-theme/jquery-ui-1.8.14.custom.css')}}" type="text/css" media="screen" />
			
			
			
			<link rel="stylesheet" media="screen" type="text/css" href="{{ asset('css/zeega.css')}}" />
			<link rel="stylesheet" href="{{ asset('js/lib/farbtastic/farbtastic.css')}}" />
			<link rel="stylesheet" href="{{ asset('js/lib/leaflet/leaflet.css')}}" />
		{% endblock %}
		{% block head %}
		{% endblock %}
		<script> 
			sessionStorage.setItem('directory', '{{directory}}');
			sessionStorage.setItem('hostname','{{hostname}}');
			sessionStorage.setItem('userid','{{user_id}}');
			sessionStorage.setItem('siteid','{{site.getId()}}');
		</script>
		
    </head>
  <body   {% block headerfix %} style="padding-top:10px;" {% endblock %}> 
  
<div id='add-media' style='width: 944px; height: 195px; padding: 30px; border-radius: 5px; position:absolute; z-index:100000; top:88px; left: 50%; margin-left: -502px; background-color: white; display:none;'>
			
			<span class="zicon orange zicon-close" style="position: absolute; right: 5px; top: 5px;"></span>

			To install the Zeega bookmarklet, follow the directions below:<br><br><br>
						
				<div id="book-one" style="float: left;">
					<img src="{{ asset('images/chrome-logo.gif') }}" style="margin-left: 25px;"/>
					<br>
					<br>
					Access Zeega from the<br>
					<a href="http://google.com/chrome" target="_blank">latest Chrome browser</a>
				</div>
				
				<div id="book-two" style="float: left; margin-left: 20px;">
					<img src="{{ asset('images/view-bookmarks.gif') }}" style="margin-left: 25px; margin-top: 25px;"/>
					<br><br><br>
					<span style="display: block; margin-left: 55px; margin-top: 2px;">
						Under the view menu, select<br>
						"Always show Bookmarks Bar"
					</span>
				</div>
				
				<div id="book-three" style="float: left; margin-left: 30px;">
					<a href="javascript:(function()%7Bvar%20head=document.getElementsByTagName('body')%5B0%5D,script=document.createElement('script');script.id='zeegabm';script.type='text/javascript';script.src='{{hostname}}{{directory}}js/widget/zeega.bookmarklet.js?'%20+%20Math.floor(Math.random()*99999);head.appendChild(script);%7D)();%20void%200"><img src="{{ asset('images/drag-zeega.gif') }}" style="margin-left: 25px; margin-top: 0px;" alt="Add to Zeega"/></a>
					<br>
					<span style="display: block; margin-left: 5px; margin-top: 10px;">
						Drag this icon to the<br>
						Bookmarks Bar within<br>
						the browser
					</span>

				</div>
				
				<div id="book-four" style="float: left; margin-left: 30px;">
					<img src="{{ asset('images/bookmark-confirm.gif') }}" style="margin-left: 35px; margin-top: 13px;"/>
					<br>
					<span style="display: block; margin-left: 17px; margin-top: 10px;">
						"Add to Zeega" will now appear in your Bookmarks<br> Bar. As you find media across the web, click this<br> to open the bookmarklet plugin.
					</span>

				</div>
				
			<div class="clear" style="clear: both;"></div>
			</div><!--#add-media-->
 	
    	
    	{% block header %}

    	<div id="wrapper" >

			<header>
				<div class="navbar navbar-fixed-top">
					<div class="navbar-inner">
						<div class="container">
							
							<a class="brand" href="{{path('ZeegaCoreBundle_home')}}">
								<img src="{{ asset('images/zeega-logo-header.png') }}"/>
							</a>
							
							<ul class="nav">
								
							{% if site%}
							
								{% if num_sites > 1 %}
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{title}}<b class="caret"></b></a>
									<ul class="dropdown-menu">
										{% for p in sites %}
											<li>
												<a href="{{ path('ZeegaCoreBundle_site', {'short': p.short }) }}">{{p.title}}</a>
											</li>
										{% endfor %}
									</ul>
								</li><!-- sites .dropdown -->
								{% else %}
								<li class="">
									<a href="{{ path('ZeegaCoreBundle_site', {'short': site.short }) }}">{{title}}</a>
								</li>
								{% endif %}
								
								<li><a href="{{ path('ZeegaCoreBundle_browser', {'short': site.short }) }}">Collections</a></li>
								
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										Projects
										<b class="caret"></b>
									</a>
									<ul class="dropdown-menu">
										
										<li><a class="new-project" href="#"><i class='zicon-new-document'></i> New Project</a></li>
										<li class="divider"></li>
										
										{% for project in myprojects %}
										<li>
											<a href="{{ path('ZeegaCoreBundle_editor', { 'id': project.id,'short': site.short }) }}">{{project.title}}</a>
										</li>
										{% endfor %}
										
									</ul>
								</li><!-- project .dropdown -->
								<li class="divider-vertical"></li>
								<li class='item add-media'><a href="#"><i class='zicon-add-media'></i> Add Media</a></li>
							
							{% else %} 
								<li class="divider-vertical"></li>
								<li class='item add-media'><a href="#"><i class='zicon-add-media'></i> Add Media</a></li>
								
							{% endif %} 
							
								{% if is_granted('ROLE_ADMIN') %}
								<li><a href="{{ path('fos_user_registration_register') }}"><i class='zicon-add-user'></i> Register User</a></li>
								{% endif %}
							</ul>
							
							<ul class="nav pull-right">
								<li><a href="{{ path('ZeegaCoreBundle_faq')}}">FAQ</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class='zicon-user'></i> {{displayname}}<b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="#">Presentation</a></li>
										<li><a href="{{ path('fos_user_change_password')}}">User Profile</a></li>
										<li><a href='{{ path('_security_logout')}}'>Logout</a></li>
									</ul>
								</li>
							</ul>
							
							
						</div>
					</div>
				</div>
			</header>
    			
    			
				
			{% endblock %}
		

			<div id="editor" class='clearfix'>
				
				{% block body %}{% endblock %}
		   
				<div id="footer">
					{% block footer %}
						<div id="footerWrapper">
							<div id="footer">
						&copy; <a href="http://zeega.org" target="_blank">Zeega.org</a> 2011 * <a href="http://www.gnu.org/licenses/gpl.html" target="_blank">GPL License</a>
							</div>
						</div>
					{% endblock %}
				</div>
			 </div> <!-- #editor -->	
         </div> <!-- #wrapper -->
         
         {% block extras %}
         
         {% endblock %}
         
         {% block scripts %}
			


		{% endblock %}
  
		
		
         
    </body>
</html>