{% set title = title | default('Unknown') %}
{% set user_id = user_id | default(-1) %}
{% set displayname = displayname | default('Unknown') %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" style="height:100%" lang="en-US">
    <head>
       	{% include "::meta.html.twig" %}
         
        {% block stylesheets %}			
	
			{% if app.environment == 'dev' %}
				<link rel="stylesheet/less" type="text/css" href="{{ asset('css/less/editor/bootstrap.less')}}">
				<script type="text/javascript" src="{{ asset('js//lib/less-1.3.0.min.js')}}"></script>
				<script> /* Provisory for dev environment: */ localStorage.clear(); </script>
			{% else %}
				<link rel="stylesheet" type="text/css" href="{{ asset('css/zeega.editor.css')}}">
			{% endif %}
			
		<!-- Including Google's Font -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
		
		{% endblock stylesheets %}
		
		{% include "::analytics.html.twig" %}


		<script>
			if (!window.console) console = {log: function() {}}; 
			sessionStorage.setItem('directory', '{{directory}}');
			sessionStorage.setItem('hostname','{{hostname}}');
			sessionStorage.setItem('userid','{{user_id}}');
		</script>
		
		{% block head %}
		{% endblock %}
    </head>
  	
  	<body> 
		<div id="wrapper">
	    	{% block header %}

			{% endblock header %}

		
			<div id="editor" class='clearfix'>
				{% block body %}
				{% endblock body %}
	        </div> <!-- #editor -->	
        </div> <!-- #wrapper -->
         
        {% block footer %}
        {% endblock footer %}
        
        {% block extras %}{% endblock extras %}

        {% block scripts %}{% endblock scripts %}
    </body>
</html>
