<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
       	<meta name="robots" content="noindex,follow">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title %}Zeega Alpha{% endblock %}</title>
         
         
         {% block stylesheets %}
            <link rel="icon" type="image/png" href="http://zeega.org/images/zeega.ico">
			<meta name="robots" content="noindex,follow">
			<meta name="description" content="">
			<meta name="keywords" content="">
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			
			
			<link rel="stylesheet" href="{{ asset('gamma/css/bootstrap.css')}}"  type="text/css" media="screen">
			<link rel="stylesheet" href="{{ asset('gamma/js/jquery/ui/css/custom-theme/jquery-ui-1.8.14.custom.css')}}" type="text/css" media="screen" />
			
			
			
			<link rel="stylesheet" media="screen" type="text/css" href="{{ asset('gamma/css/zeega.css')}}" />
			<link rel="stylesheet" href="{{ asset('gamma/js/jquery/plugins/colorpicker/css/colorpicker.css')}}" />
			<link rel="stylesheet" href="{{ asset('gamma/js/libraries/aloha-rc9/css/aloha.css') }}" type="text/css" media="screen" />
		{% endblock %}
		<script> 
			sessionStorage.setItem('directory', '{{directory}}');
			sessionStorage.setItem('hostname','{{hostname}}');
		</script>
		
    </head>
  <body   {% block headerfix %} style="padding-top:10px;" {% endblock %}> 
  
<div id='add-media' style='width: 944px; height: 195px; padding: 30px; position:absolute; z-index:100000; top:88px; left: 50%; margin-left: -502px; background-color: white; display:none;'>
			
			<span class="zicon orange zicon-close" style="position: absolute; right: 5px; top: 5px;"></span>

			To install the Zeega bookmarklet, follow the directions below:<br><br><br>
						
				<div id="book-one" style="float: left;">
					<img src="{{ asset('gamma/images/chrome-logo.gif') }}" style="margin-left: 25px;"/>
					<br>
					<br>
					Access Zeega from the<br>
					<a href="http://google.com/chrome" target="_blank">latest Chrome browser</a>
				</div>
				
				<div id="book-two" style="float: left; margin-left: 20px;">
					<img src="{{ asset('gamma/images/view-bookmarks.gif') }}" style="margin-left: 25px; margin-top: 25px;"/>
					<br><br><br>
					<span style="display: block; margin-left: 55px; margin-top: 2px;">
						Under the view menu, select<br>
						"Always show Bookmarks Bar"
					</span>
				</div>
				
				<div id="book-three" style="float: left; margin-left: 30px;">
					<a href="javascript:(function()%7Bvar%20head=document.getElementsByTagName('body')%5B0%5D,script=document.createElement('script');script.id='zeegabm';script.type='text/javascript';script.src='http://dev.zeega.org/kanarinka/web/gamma/js/widget/zeega.bookmarklet.js?'%20+%20Math.floor(Math.random()*99999);head.appendChild(script);%7D)();%20void%200"><img src="{{ asset('gamma/images/drag-zeega.gif') }}" style="margin-left: 25px; margin-top: 0px;" alt="Add to Zeega"/></a>
					<br>
					<span style="display: block; margin-left: 5px; margin-top: 10px;">
						Drag this icon to the<br>
						Bookmarks Bar within<br>
						the browser
					</span>

				</div>
				
				<div id="book-four" style="float: left; margin-left: 30px;">
					<img src="{{ asset('gamma/images/bookmark-confirm.gif') }}" style="margin-left: 35px; margin-top: 13px;"/>
					<br>
					<span style="display: block; margin-left: 17px; margin-top: 10px;">
						"Add to Zeega" will now appear in your Bookmarks<br> Bar. As you find media across the web, click this<br> to open the bookmarklet plugin.
					</span>

				</div>
				
			<div class="clear" style="clear: both;"></div>
			</div><!--#add-media-->
 	
    	
    	{% block header %}
    	<div id='header-bg'></div>
    	<div id="wrapper" >
    	
    			
    			
				<div id="header">
					
					<div id="header-title" style="margin-left: -30px;">
						<ul>
						
							<li ><a href="{{path('ZeegaEditorBundle_home')}}" class="dark"><img src="{{ asset('gamma/images/zeega-logo-header.png') }}" style="margin-top: -4px;"/></a></li>
							{% if playground %}
							<li class='drop-down clearfix' >
									<a  {% if num_playgrounds > 1 %} class='drop-down-toggle' {% endif %}  href="{{ path('ZeegaEditorBundle_playground', {'short': playground.short }) }}" class="dark">  {{title}} </a>
									{% if num_playgrounds > 1 %} 
									<ul class='drop-down-menu'>
									
										{% for p in playgrounds %}
												<li><a  href="{{ path('ZeegaEditorBundle_playground', {'short': p.short }) }}" class="dark">  {{p.title}} </a></li>
										{% endfor %}
									</ul>
									{% endif %} 
							</li>
							
							
							<li class=' clearfix' style="margin-left: 20px;">
									<a   href="{{ path('ZeegaEditorBundle_browser', {'short': playground.short }) }}" class="dark">Collections</a>
	
							</li>
							<li>|</li>
							<li class='drop-down clearfix' >
									<a  class='drop-down-toggle' href="#" class="dark">Projects</a>
									<ul class='drop-down-menu' style="width:200px;">
									
												<li><a id="new-project" href="#" style="font-size: 12px;">Create New Project</a></li><br>
												
												<hr>

									
										{% for project in myprojects %}
												<li><a href="{{ path('ZeegaEditorBundle_editor', { 'id': project.id,'short': playground.short }) }}" class="dark">{{project.title}}</a></li><br>
										{% endfor %}
									</ul>
							</li>
							<li>|</li>
							
							<li class='item add-media' ><a href="#">Add Media</a></li>							
							{% else %} 
							<li class='item add-media' style="margin-left: 45px;" ><a href="#">Add Media</a></li>
							{% endif %} 
							
						</ul>
						
						
						
					</div>
					
	
					<div id="header-nav">
		
						<ul>
							<li class='item'><a href="{{ path('ZeegaEditorBundle_faq')}}">FAQ</a></li>
							<li class='drop-down clearfix item'>
								Logged in as <a href='#' class='drop-down-toggle'>{{displayname}}</a>
								<ul class='drop-down-menu'>	
									<li id="css-change"><a href="#">Presentation</a></li>
									<li><a href="{{ path('ZeegaEditorBundle_settings')}}">Settings</a></li>
									<li><a href='{{ path('_security_logout')}}'>Logout</a></li>
								</ul>
							</li>
						</ul>
					</div> <!-- #headerLoggedInWrapper -->
			</div> <!-- #header -->	
			{% endblock %}
		

			<div id="editor" class='clearfix'>
				
				{% block body %}{% endblock %}
		   
				<div id="footer">
					{% block footer %}
						<div id="footerWrapper">
							<div id="footer">
						&copy; <a href="http://zeega.org" target="_blank">Zeega.org</a> 2011 * <a href="http://www.gnu.org/licenses/gpl.html" target="_blank">GPL License</a>
							</div>
						</div>
					{% endblock %}
				</div>
			 </div> <!-- #editor -->	
         </div> <!-- #wrapper -->
         
         {% block extras %}
         
         {% endblock %}
         
         {% block scripts %}
			


		{% endblock %}
  
		
		
         
    </body>
</html>