<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" style="height:100%">
    <head>
       	<link rel="icon" type="image/png" href="{{ asset('images/zeega.ico')}}">
       	<title>{% block title %}Zeega{% endblock %}</title>
         
       	<meta name="robots" content="noindex,follow">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        
        
         
         {% block fbshare %}
         
         
         <!-- FB -->
		
		<meta property="og:site_name" content="Zeega"/>
		<meta property="og:title" content="Zeega"/>
		<meta property="og:description" content="Zeega is a community of makers passionate about creating immersive experiences that combine original content with media from across the web."/>
   		<meta property="og:type" content="website"/>
   		<meta property="og:url" content="{{hostname}}"/>
    	<meta property="og:image" content="{{hostname}}images/z-logo-fb.png"/>
						
		<!-- END FB -->	
		
         
         {% endblock %}
         
         
         {% block stylesheets %}
			
<!-- css imports -->

			<!--

			<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}"  type="text/css" media="screen">
			-->
			<link rel="stylesheet" href="{{ asset('css/visualsearch-datauri.css')}}"  type="text/css" media="screen">
			<link rel="stylesheet" href="{{ asset('js/lib/jquery/ui/css/custom-theme/jquery-ui-1.8.14.custom.css')}}" type="text/css" media="screen" />
			<link rel="stylesheet" href="{{ asset('css/zeega.fancybox.css')}}" />
			<link rel="stylesheet" href="{{ asset('js/lib/farbtastic/farbtastic.css')}}" />
			<link rel="stylesheet" href="{{ asset('js/lib/leaflet/leaflet.css')}}" />
			
			
			{% if app.environment == 'dev' %}
				<link rel="stylesheet/less" type="text/css" href="{{ asset('css/less/editor/bootstrap.less')}}">
				<script type="text/javascript" src="{{ asset('js//lib/less-1.3.0.min.js')}}"></script>
				<script> /* Provisory for dev environment: */ localStorage.clear(); </script>
			{% else %}
				<link rel="stylesheet" type="text/css" href="{{ asset('css/zeega.editor.css')}}">
			{% endif %}
			
			<!-- Including Google's Font -->
			<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
<!-- end css imports -->
			
				
			
		{% endblock %}
		
		{% if app.environment == 'prod' %}
	        <script type="text/javascript">

                    var _gaq = _gaq || [];
                    _gaq.push(['_setAccount', 'UA-37456730-1']);
                    _gaq.push(['_trackPageview']);

                    (function() {
                        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                     })();
                </script>
		{% endif %}
                <script src="//d3nslu0hdya83q.cloudfront.net/dist/1.0/raven.min.js"></script>
		<script type="text/javascript" src="{{ asset('js//lib/leaflet/leaflet.js')}}"></script>	
		<script>
                        if (!window.console) console = {log: function() {}}; 
			sessionStorage.setItem('directory', '{{directory}}');
			sessionStorage.setItem('hostname','{{hostname}}');
			sessionStorage.setItem('userid','{{user_id}}');
			
			
{% block browser_detection %}
var BrowserDetect = {
	init: function () {
		this.browser = this.searchString(this.dataBrowser) || "An unknown browser";
		this.version = this.searchVersion(navigator.userAgent)
			|| this.searchVersion(navigator.appVersion)
			|| "an unknown version";
		this.OS = this.searchString(this.dataOS) || "an unknown OS";
		this.isMobile = navigator.userAgent.match(/(iPhone|iPod|iPad|Android|BlackBerry)/);
	},
	searchString: function (data) {
		for (var i=0;i<data.length;i++)	{
			var dataString = data[i].string;
			var dataProp = data[i].prop;
			this.versionSearchString = data[i].versionSearch || data[i].identity;
			if (dataString) {
				if (dataString.indexOf(data[i].subString) != -1)
					return data[i].identity;
			}
			else if (dataProp)
				return data[i].identity;
		}
	},
	searchVersion: function (dataString) {
		var index = dataString.indexOf(this.versionSearchString);
		if (index == -1) return;
		return parseFloat(dataString.substring(index+this.versionSearchString.length+1));
	},
	dataBrowser: [
		{
			string: navigator.userAgent,
			subString: "Chrome",
			identity: "Chrome"
		},
		{ 	string: navigator.userAgent,
			subString: "OmniWeb",
			versionSearch: "OmniWeb/",
			identity: "OmniWeb"
		},
		{
			string: navigator.vendor,
			subString: "Apple",
			identity: "Safari",
			versionSearch: "Version"
		},
		{
			prop: window.opera,
			identity: "Opera",
			versionSearch: "Version"
		},
		{
			string: navigator.vendor,
			subString: "iCab",
			identity: "iCab"
		},
		{
			string: navigator.vendor,
			subString: "KDE",
			identity: "Konqueror"
		},
		{
			string: navigator.userAgent,
			subString: "Firefox",
			identity: "Firefox"
		},
		{
			string: navigator.vendor,
			subString: "Camino",
			identity: "Camino"
		},
		{		// for newer Netscapes (6+)
			string: navigator.userAgent,
			subString: "Netscape",
			identity: "Netscape"
		},
		{
			string: navigator.userAgent,
			subString: "MSIE",
			identity: "Explorer",
			versionSearch: "MSIE"
		},
		{
			string: navigator.userAgent,
			subString: "Gecko",
			identity: "Mozilla",
			versionSearch: "rv"
		},
		{ 		// for older Netscapes (4-)
			string: navigator.userAgent,
			subString: "Mozilla",
			identity: "Netscape",
			versionSearch: "Mozilla"
		}
	],
	dataOS : [
		{
			string: navigator.platform,
			subString: "Win",
			identity: "Windows"
		},
		{
			string: navigator.platform,
			subString: "Mac",
			identity: "Mac"
		},
		{
			   string: navigator.userAgent,
			   subString: "iPhone",
			   identity: "iPhone/iPod"
	    },
		{
			string: navigator.platform,
			subString: "Linux",
			identity: "Linux"
		}
	]

};
		
		BrowserDetect.init();
{% endblock browser_detection %}
	//	if(BrowserDetect.browser!='Chrome'&&BrowserDetect.browser!='Safari') window.location = "{{ path('ZeegaCoreBundle_unsupportedBrowser') }}";
		
		</script>
		
		
		{% block head %}
		{% endblock %}
		
    </head>
  <body> 

	{% block header %}
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
	{% else %}
	{% endif %}	
	{% endblock %}
			<div class="modal hide fade" id="unsupported-browser">
				  <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal">×</button>
				    <h3>Oops! The Zeega Editor does not currently support the browser that you are using.</h3>
				  </div>
				  <div class="modal-body">
				    <p>We're working hard to add support for your browser. In the mean time, all published Zeegas are viewable on all major browsers. To use the editor, we recommend using one of the supported browsers.</p>
				    <div class="pull-left" style="width:46%;padding:5px;background-color:#fad0d0;margin:5px;border-radius:3px;height:134px;text-align:center"><h4>You are using</h4><span id="unsupported-browser-data" style="font-size:11px;"></span></div>
				    <div class="pull-left" style="width:46%;padding:5px;background-color:#d3fad0;margin:5px;border-radius:3px;height:134px;text-align:center"><h4>Zeega Editor supports </h4><a href="http://www.google.com/chrome/"><div class="browser-logo-chrome"></div></a><a href="http://www.apple.com/safari/"><div class="browser-logo-safari"></div></a><br/><span style="font-size:11px">Latest versions</span>

				    </div>
				  </div>
				  
			</div>
		
				{% block body %}{% endblock %}

        {% block extras %}
         
        {% endblock %}
         
        {% block scripts %}
		{% endblock %}
  
		
		
         
    </body>
</html>
