    <header class="ZEEGA-HEAD">
        
    	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <!-- logged in nav -->
        <ul class="head-nav nav-left">
            <li class="tab">
                <a href="{{ path('ZeegaCommunityBundle_home') }}" class="ZEEGA-tab">
                    <span class="ZTab-logo"></span>
                </a>
            </li>
            <li>
                <a  href="{{ path('ZeegaCommunityBundle_dashboard') }}" class="logged-in-user" data-bypass="true" >
                    <span class="profile-token" style="
                        background-image:url({{profile_thumb}});
                        background-size: cover;
                    "></span>
                </a>
            </li>
            <li>
                <a class="btnz login" href="{{ path('_security_logout') }}">Logout</a>
            </li>
        </ul>

        <ul class="head-nav nav-right">
            <li>
                <a class="btnz create-a-zeega" href="{{ path('ZeegaEditorBundle_new') }}" > Create A New Zeega</a>
            </li>
        </ul>
        <!--end logged in nav -->
        {% else %}
        	<!-- <a class="btnz login" href="{{ path('fos_user_security_login') }}">Login</a> -->
        {% endif %}
    </header>