<!DOCTYPE html>
<html>
    <head>
       	<meta name="robots" content="noindex,follow">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title %}Zeega Beta{% endblock %}</title>
        {% block stylesheets %}
            <link rel="icon" type="image/png" href="http://zeega.org/images/zeega.ico">
			<meta name="robots" content="noindex,follow">
			<meta name="description" content="">
			<meta name="keywords" content="">
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			<link rel="stylesheet" media="screen" type="text/css" href="{{ asset('css/bootstrap.min.css')}}" /> 
			<link rel="stylesheet" href="{{ asset('js/lib/jquery/ui/css/custom-theme/jquery-ui-1.8.14.custom.css')}}" type="text/css" media="screen" />
			<link rel="stylesheet" media="screen" type="text/css" href="{{ asset('css/zeega-bootstrap.css')}}" /> 
			<link rel="stylesheet" media="screen" type="text/css" href="{{ asset('css/zeega.css')}}" /> 
			<link rel="stylesheet" media="screen" type="text/css" href="{{ asset('css/zeega.widget.css')}}" /> 
			<link rel="icon" type="image/png" href="{{asset('images/zeega.ico')}}"> 
		{% endblock %}
		<script> 
			sessionStorage.setItem('directory', '{{directory}}');
			sessionStorage.setItem('hostname','{{hostname}}');

			// following purpose (though not the code) should be moved to widget.view.item.ingesting.js.  Inferring data state from HTML state is bad jQuery pattern
			var watchForCloseInterval = null;
			var successCount = 0;
			function watchForClose(){
				if(window.name=="ZeegaBookmarklet"){
					watchForCloseInterval = setInterval(_watchForClose, 1000);
				}
			}
			function _watchForClose(){
				var message_div = document.getElementById("message");
				if (message_div) {
					if(message_div.style.display == "block"){
						successCount++;
						if (successCount >= 4){
							window.close();
						}
					}
				}
			}
			watchForClose();
		</script>
				{% if app.environment == 'prod' %}
			<script type="text/javascript">
	
				  var _gaq = _gaq || [];
				  _gaq.push(['_setAccount', 'UA-33491977-1']);
				  _gaq.push(['_trackPageview']);
				
				  (function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				  })();
	
			</script>
		{% endif %}
    </head>
  <body   {% block headerfix %} style="padding-top:10px;" {% endblock %}> 
  
  
   		
		<header>
			<div class="navbar navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container" style='width:450px'>
						
						<a class="brand" >
							<img src="{{ asset('images/zeega-logo-header.png') }}"/>
						</a>
						
						<ul class="nav">
							<li class='active'>
								<a href='#'>Hello {{displayname}}!</a>
							</li>
							<li>
								<a href='{{ path('_security_logout') }}	'>( Not {{displayname}}? )</a>
							</li>
						</ul>

					</div>
				</div>
			</div>
		</header>
		

   		<div id="wrapper" style="width:450px; height: 100%;">
	
		
				
				{% block body %}{% endblock %}
		

					
		</div> <!-- #wrapper -->
		
		<footer style="position:fixed; bottom: 0px;">
			<div>&copy; <a href="http://zeega.org" target="_blank">Zeega</a> {{ "now"|date("Y")}} * <a href="http://www.gnu.org/licenses/gpl.html" target="_blank">GPL License</a></div>
		</footer>
         
	{% block extras %}{% endblock %}
         
    {% block scripts %}
		<!-- SCRIPTS -->
		<script data-main="{{ asset('js/loaders/widget.js')}}" src="{{ asset('js/lib/require-jquery.js')}}"></script>
	{% endblock %}

    </body>
</html>
