<!DOCTYPE html>
<html>
    <head>
       	<meta name="robots" content="noindex,follow">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title %}Zeega Alpha{% endblock %}</title>
        {% block stylesheets %}
            <link rel="icon" type="image/png" href="http://zeega.org/images/zeega.ico">
			<meta name="robots" content="noindex,follow">
			<meta name="description" content="">
			<meta name="keywords" content="">
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			<link rel="stylesheet" href="{{ asset('js/lib/jquery/ui/css/custom-theme/jquery-ui-1.8.14.custom.css')}}" type="text/css" media="screen" />
			<link rel="stylesheet" media="screen" type="text/css" href="{{ asset('css/zeega.css')}}" /> 
			<link rel="stylesheet" media="screen" type="text/css" href="{{ asset('css/zeega.widget.css')}}" /> 
			<link rel="icon" type="image/png" href="{{asset('images/zeega.ico')}}"> 
		{% endblock %}
		<script> 
			sessionStorage.setItem('directory', '{{directory}}');
			sessionStorage.setItem('hostname','{{hostname}}');
		</script>
		
    </head>
  <body   {% block headerfix %} style="padding-top:10px;" {% endblock %}> 
  
  <div id='add-media' style='border: solid 1px black; display:none; padding: 20px; background:white; font-size:16px; color:gray; position:absolute; z-index:100000; left:35%;top:10%; width:30%;'>  <h1> Drag this <a href="javascript:(function(){var head=document.getElementsByTagName('body')[0],script=document.createElement('script');script.type='text/javascript';script.src='{{hostname}}/web/js/widget/zeega.bookmarklet.js?' + Math.floor(Math.random()*99999);head.appendChild(script);})(); void 0" >Z</a> to your browser's bookmark bar and then simply click on the link whenever you come across media that you would like to add to your project. </h1></div>
  
   	{% block header %}
   		<div id='header-bg'></div>
   		<div id="wrapper" style="width:450px; height: 100%;">
			<div id="header" style="top:-20px;width:430px;">
				<div id="header-title">
					<ul>
						<li class='drop-down clearfix '>
							Hello <a href='#' >{{displayname}}</a>! (<a href='#' >Not {{displayname}}?</a>)
							<ul class='drop-down-menu'>
								<li><a href="#">Projects</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div id="header-nav" >
					<ul>
						<li >
							<a href='#' >X</a>
						</li>
					</ul>
				</div> <!-- #headerLoggedInWrapper -->
<!--
					<div id="header-title">
						<ul>
						
							
								<li><a class="dark"><img src="{{ asset('images/zeega-logo-header.png')}}" style="margin-top: -4px; margin-left:-20px;"></a></li>
								<li class='drop-down clearfix '>
									
									<a   href="#"> {playground.title}</a>
									<ul class='drop-down-menu'>
											<li><a href="#">Projects</a></li>
									</ul>
									
									
									
								</li>
						
						</ul>
						
						
						
					</div>
			

					<div id="header-nav" >
		
						<ul>
												
							<li >
								Logged in as <a href='#' >{{displayname}}</a>
							</li>
						</ul>
					</div> <!-- #headerLoggedInWrapper -->
	
			</div> <!-- #header -->	
	{% endblock %}
			<div id="editor" >
				
				{% block body %}{% endblock %}
		   		<div id="item-view"></div>
				<div id="collection-wrapper" style="margin-top:20px; color: white; font-size:14px;"> 
					<div  style="clear: both; border-top:dotted 1px red;  margin-top:20px;  margin-bottom:20px; margin-right:25px; width:100%; height:0px;"></div> 
					<b>My Zeega Collection</b>
					<div id="collection" style="margin-top:20px; width:426px;"> 
						<!--
						{% for item in mycollection %}
							<img style="border: solid 1px white;" title="{{item.title}}" src="{{item.thumbnail_url}}" width="80px" height="80px"/>
						{% endfor %}
						-->
					</div>
				</div>
				
				<br><br>

				<div id="footer">
					{% block footer %}
						<div id="footerWrapper">
							<div id="footer">
						&copy; <a href="http://zeega.org" target="_blank">Zeega.org</a> 2011 * <a href="http://www.gnu.org/licenses/gpl.html" target="_blank">GPL License</a>
							</div>
						</div>
					{% endblock %}
				</div>
			 </div> <!-- #editor -->	
         </div> <!-- #wrapper -->
         
	{% block extras %}{% endblock %}
         
    {% block scripts %}
		<!-- SCRIPTS -->
		<script data-main="{{ asset('js/loaders/widget.js')}}" src="{{ asset('js/lib/require-jquery.js')}}"></script>
	{% endblock %}

    </body>
</html>