{# src/Zeega/CommunityBundle/Resources/views/Notfound/notfound.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Tribeca Hacks Cambridge{% endblock %}


{%  block stylesheets %}
	<!-- FOR DEVELOPMENT ONLY - Less CSS files are cached in localStorage so we have to empty that or else your CSS changes will never take effect and you will beat your head on your keyboard and get a big bruise -->

	<style type="text/css">
	
		/*
			Background image code lives here, not in CSS, because this is specific to each page
			and could be made dynamic too (i.e. randomly picking a different image each load)
			quite easily. Exposing the code here should be helpful.
		*/
	
		html { 
		background: url({{ asset('images/about/makeday.gif')}}) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		
		}
		
	
	</style>
	
	
	{% if app.environment == 'dev' %}
		<link rel="stylesheet/less" type="text/css" href="{{ asset('css/less/community/bootstrap.less')}}">
		<script type="text/javascript" src="{{ asset('js//lib/less-1.3.0.min.js')}}"></script>
		<script> /* Provisory for dev environment: */ localStorage.clear(); </script>
	{% else %}
		<link rel="stylesheet" type="text/css" href="{{ asset('css/zeega.community.css')}}">
	{% endif %}
	
	<link href='http://fonts.googleapis.com/css?family=Podkova:400,700' rel='stylesheet' type='text/css'> <!-- Including Google's Font -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>

	
	
{% endblock %}

{% block scripts %}

	<script type="text/javascript" language="Javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script data-main="{{ asset('js/loaders/makeday') }}" src="{{ asset('js/lib/require.js') }}"></script>
	
	<script type="text/javascript" language="Javascript" src="{{ asset('js/lib/less-1.3.0.min.js') }}"></script>
	
	
{% endblock %}

{% block body %}

	<!-- Background Color Div - creates the transparent layer over the background image -->
	<div id="background-color">
	</div>
	<!-- Background Color Div ends -->
	<!-- Page Intro Begins -->
	
	
	
	<div class="container new-section">
	
		<div class="row">
	
			
		
			<div class="span13">
				
				<div class="row">
									<img src="{{ asset('images/events/tribecahacks.png') }}" />

					<div class="span13 makeday-form">

						<br><h1>Interactive Storytelling with Zeega</h1>
					</div>
					<div class="span13 hide makeday-thanks">
						<h1>Thanks for your submission!</h1>
					</div>
					
				</div>
				<div class="row">
					<div class="span9 makeday-form">
						<h2>November 3rd, 2012</h2><br>
						<p style="font-size: 16px; line-height: 20px;">
							The Tribeca Film Institute is holding a series of national hackathon/workshop events designed to increase understanding and broaden participation in the field of interactive storytelling. These workshops give creative media artists the insight and skills to create robust interactive projects that effectively engage with audiences and the chance to experiment with new tools and technologies. They also showcase innovation in this field for artists, funders and the public. A primary goal of the workshops is to build new relationships between media artists, technologists and designers.<br><br>

The first Tribeca Hacks workshop will be held in Cambridge in collaboration with Zeega, an open-source platform that came out of the idea that people should be able to make interactive stories on the internet without having to program. We don’t believe technical knowledge or budgets should be a constraint for exploring the creative possibilities of the web. Zeega’s team of journalists, documentary artists and interactive designers will share Zeega's latest tools and work with participants to create interactive experiences with original and web-based audio, photos, videos and text. <br><br>

<h4 style="line-height: 1.3;">9 am = Coffee/breakfast<br>
10 am = Start making<br>
6 pm = Showcase of Day's Projects<br>
8 pm = Dinner<br>
9 pm = Party in Zeega's grotto
</h4><br>

<h4 style="line-height: 1.3;">
Applications Due: October 15th<br>
Participants Notified: October 22nd<br>
</h4><br>

						</p>

				<form class="form-vertical">
					<fieldset>
						<div class="control-group">			
					    
						<div class="row">
					    	<div class="span3">
								<label class="control-label" for="name"><h4>Name</h4></label>
							</div>
							<div class="span4">
								<div class="required"></div>
								<div class="controls">
						    		
						    		<input type="text" id="makeday-name" name="name" required="required" maxlength="255"    class="input-xlarge-custom" />
								</div>
							</div>
						</div>
						<div class="row">
					    	<div class="span3">
						    	<label class="control-label" for="email"><h4>Email</h4></label>
							</div>
							<div class="span4">
								<div class="required"></div>			
								<div class="controls">
						    		
						    		<input type="email" id="makeday-email" name="email" required="required"    class="input-xlarge-custom" />
								</div>
							</div>
						</div>
						<div class="row">
					    	<div class="span3">
						    	<label class="control-label" for="youridea"><h4 style="line-height:22px">What project would you like to work on?</h4></label>
						    	<p class="sidebar">
								Answers should be brief. No more than 300 words. You don't need a team. Preference given to strong content and narrative concepts. 
								</p>
								<p class="sidebar">
									
								</p>
							</div>
							<div class="span4">
									<div class="required"></div>			
									<div class="controls">						
						    		
						    		<textarea id="makeday-idea" name="idea" required="required"  class="input-xlarge-custom" rows="6"></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="span3">
								<label class="control-label" for="youridea"></label>
							</div>
						</div>
					  
					    <div class="row">
							<div class="span4 offset3">
								<button id="makeday-submit" class="btn btn-success btn-custom"><h4>Submit</h4></button>
							</div>
						</div>
						<div class="row">
					    	<div class="span3">
							</div>
							<div class="span4">
								<div class="controls">
						    		
						    		
								</div>
							</div>
						</div>
					 </div>
				</fieldset>
				</form>
			
			<p><i>The Tribeca Hacks program is supported by the National Endowment for the Arts, and made possible through leadership support from the Ford Foundation. Special thanks to MIT’s Open Documentary Lab, our fantastic hosts.</i></p>
			
			<!-- Form Ends -->
						</div>
					<div class="span7 hide makeday-thanks">
						<h2>We'll be in touch shortly</h2>
					</div>
					
					<div class="span3 offset1">
						<div class="row">


							<h4 style="margin-top: 55px;">Details</h4>
							<p style="font-size: 12px; line-height: 16px; padding-top:10px">
							November 3rd, 2012<br>
							MIT Open Documentary Lab<br>
							21 Ames Street<br>
							Cambridge, MA 02139 USA<br>
							<a href="https://maps.google.com/maps?hl=en&q=21+ames+street+cambridge+ma&ie=UTF-8&hq=&hnear=0x89e370af2bd7d569:0x241b0015fd22d0b5,21+Ames+St,+Cambridge,+MA+02142&gl=us&ei=UMNHULPgKcPb0QHFyoHQCA&ved=0CB4Q8gEwAA">map</a>
							</p>
						</div>
						<br><br>
						<div class="row">
							<h4>Partners</h4>
							<p style="font-size: 12px; line-height: 16px; padding-top:10px">
							<a href="http://www.tribecafilminstitute.org/filmmakers/newmedia/" target="_blank">Tribeca Film Institute</a><br>
							<a href="http://opendoclab.mit.edu/" target="_blank">MIT Open Documentary Lab</a><br>
							</p>
						</div>
						<br><br>
						<div class="row">
							<h4>Questions?</h4>
							<p style="font-size: 12px; line-height: 16px; padding-top:10px">
							info@zeega.org<br>
							</p>
						</div>
					
						
					</div>
					
				</div>
			</div>
			
		
		</div>
	
	</div>

	
	<!-- Page Intro Ends -->
	
	
	


{% endblock %}
