<!doctype html>
<html>
	<head>
		<title>{{project.getTitle()}}</title> 
		<link rel="shortcut icon" type="image/x-icon" href="{{asset('images/zeega.ico')}}"> 
		
		{% if project.thumbnailUrl is defined and project.thumbnailUrl is not empty %}
            {% set thumbnailUrl = project.thumbnailUrl %}
        {% elseif project.coverImage is defined and project.coverImage is not empty %}
            {% set thumbnailUrl = project.coverImage %}
        {% else %}
            {% set thumbnailUrl = "http://zeega.com/images/default_cover.png" %}
        {% endif %}

		<!-- FB -->
		
		<meta property="og:site_name" content="Zeega"/>
		<meta property="og:title" content="{{project.getTitle()}}"/>
		<meta property="og:description" content="{{project.getDescription()}}"/>
   		<meta property="og:type" content="movie"/>
   		<meta property="og:url" content="{{hostname}}{{directory}}{{project.id}}"/>
		<meta property="og:image" content="{{thumbnailUrl}}"/>

		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>

		<!-- END FB -->		

    
		<style type="text/css">
			body {margin:0px}
			html {
				background: url({{thumbnailUrl}}) no-repeat center center fixed;				
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				color:white;
			}
			
			h1 {
				padding:10px;
				font-family: 'Open Sans Condensed',sans-serif;
			}
			h2 {
				font-size:12px; 
				padding:10px;
				font-family: 'Open Sans Condensed',sans-serif;
			}
			#text{width:100%;background-color:rgba(0,0,0,.5); position: absolute; bottom: 10%; }
			a{ width:100%; height:100%; z-index:1000; position:absolute;background:url({{ asset('images/embed_play.png')}}) center center no-repeat; background-size:12%;}
		</style>	

	
		{% if app.environment == 'prod' %}
 				    <script type="text/javascript">
                        var _gaq = _gaq || [];
                        _gaq.push(['_setAccount', 'UA-37456730-1']);
                        _gaq.push(['_trackPageview']);

                        (function() {
                            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                        })();

                    </script>
   
        {% endif %}

	</head>

	<body id="zeega-embed" >
		
		<a id="zeega-link" href="{{hostname}}{{directory}}{{project.id}}"></a>
		<div id="text">
			<h1>{{project.title}}</h1>
			<h2>{{project.user.displayName}}</h2>
		</div>
	</body>
</html>
