<!doctype html>
<html>
    <head>
        <meta charset="utf-8">

        <title>{{project.title}}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{asset('images/zeega.ico')}}"> 
        <meta name="description" content="{{project.description}}">
        <meta name="author" content="{{project.user.displayName}}">

        {% if project.thumbnailUrl is defined and project.thumbnailUrl is not empty %}
            {% set thumbnailUrl = project.thumbnailUrl %}
        {% elseif project.coverImage is defined and project.coverImage is not empty %}
            {% set thumbnailUrl = project.coverImage %}
        {% else %}
            {% set thumbnailUrl = "http://zeega.com/images/default_cover.png" %}
        {% endif %}

        <!-- FB -->
        
        <meta property="og:site_name" content="Zeega"/>
        <meta property="og:title" content="{{project.title}}"/>
        <meta property="og:description" content="{{project.description}}"/>
        <meta property="og:type" content="movie"/>
        <meta property="og:url" content="http:{{hostname}}{{directory}}{{project.id}}"/>
        <meta property="og:image" content="{{thumbnailUrl}}"/>
            
        <!-- END FB --> 

        <!-- Twitter -->

        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@zeega">
        {% if project.title == "" %}
        <meta name="twitter:title" content="">
        {% else %}
        <meta name="twitter:title" content="A Zeega by {{project.user.displayName}} &#9658; {{project.title}}">
        {% endif %}
        <meta name="twitter:description" content="Zeegas are a new format of interactive media, enabling anyone to easily combine animated GIFs, audio, images, text and video from across the web. Make the web you want.">
        <meta name="twitter:creator" content="">
        <meta name="twitter:image:src" content="{{thumbnailUrl}}">
        <meta name="twitter:domain" content="zeega.com">

        <!-- End Twitter -->
        

        <!-- STYLESHEETS -->
        {% block player_stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('js/app/player.standalone/dist/release/index.css') }}">
        {% endblock player_stylesheets %}
        <!-- END STYLESHEETS -->


        <meta name="zeega" content="zeega-player"
            data-user-thumbnail="{{project.user.thumbUrl}}"
            data-views="{{project.views | default(0)}}"
            data-directory="{{directory}}"
            data-hostname="{{hostname}}"
            data-user-id="{{project.user.id}}"
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            data-logged-in=true
            {% else %}
            data-logged-in=false
            {% endif %}
         />
         
        <script type="text/javascript" charset="utf-8" data-requirecontext="_" data-requiremodule="lib/swfobject" src="{{ asset('js/lib/swfobject.js') }}"></script>

        <script>
        {% if app.environment == 'prod' %}
            // Google analytics
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-37456730-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        {% endif %}


            // Because IE sucks
            if ( !window.console ) {
                console = {log: function() {}};
            }

            // Project data
            var projectJSON = "{{ project_data|e('js') }}";
        </script>
        {% block player_script %}
        <script src="{{ asset('js/app/player.standalone/dist/release/require.js') }}" ></script>
        {% endblock player_script %}
        <script src="//d3nslu0hdya83q.cloudfront.net/dist/1.0/raven.min.js"></script>
        <script>
        Raven.captureMessage('hello world!')

// capture an exception
try {
    errorThrowingCode();
} catch(err) {
    Raven.captureException(err);
}
        </script>
    </head>

    <body>
        <div role="main" id="main">
            <div id='overlays'></div>
            <div id='player'></div>
        </div>
        {% include '::eventlogger.base.html.twig' %}
    </body>
</html>
