{% extends '::base.html.twig' %}
{% block head %}
	<style type="text/css">	
	#password-form label {
		display: block;
		color: white;
		font-variant: small-caps;
		margin-top: 10px;
		font-weight: bold;
		text-align: left;
		font-size: 14px;

	}
	#password-form ul li
	{
		color: red;
		margin-left: 100px;
	}
	#password-change
	{
		clear;
	}
	#password-change-button
	{
		margin-left:0;
	}
	.fos_user_success
	{
		color: red;
	}
	</style>
{% endblock head %}

{% block body %}
	<div class="item-title user-editable" style="font-size: 24px; ">{{displayname}}</div>
	<div style="clear:both;"></div>
	<div class="item-title user-editable" style="font-size: 14px; ">{{email}}</div><br><br>
	<div style="clear:both;"></div>
	<br><br>
	<div id="user-info" style="color:white">
		<div id="user-thumb" style="width:100px; float:left; border: 2px solid white;" ><img width="96px" height="96px" src="{{thumb}}" /></div>
		<div id="user-bio" class='user-editable' style="padding-left: 20px; width:300px; height:100px; float:left" >{{ bio }}</div>
	</div>
    <!--style="display:none;"-->
	<div style="clear:both;"></div>
	<br><br>
	<div style="font-size: 16px; color: red;">Change password</div>
	<div id="password-change2">
		{% for key, message in app.session.getFlashes() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
        {% endfor %}
		
		<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password" id="password-form">
		    {{ form_widget(form) }}
			<div id="password-change-button" style="clear:both;">
				<div>
					<ul class="pill-buttons">
						<li style="margin-left:220px;"><a id="new-password" onclick="document.forms['password-form'].submit(); return false;"" href="#">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</a></li>
					</ul>
				</div>
			</div>		
		</form>
	</div>
	<br><br>

	<br><br>	
{% endblock %}	

{% block scripts %}
	<script data-main="{{ asset('js/main.settings.js') }}" src="{{ asset('js/libraries/require-jquery.js')}}"></script>
{% endblock %}