{% extends "FOSUserBundle::layout.html.twig" %}

{% block stylesheets %}
	<style type="text/css">
    
      
    
        html { 
            background: url({{asset("images/graphpaper.png")}});

        }
    
    </style>

	{% if app.environment == 'dev' %}
		<link rel="stylesheet/less" type="text/css" href="{{ asset('css/less/community/bootstrap.less')}}">
		<script type="text/javascript" src="{{ asset('js//lib/less-1.3.0.min.js')}}"></script>
		<script> /* Provisory for dev environment: */ localStorage.clear(); </script>
	{% else %}
		<link rel="stylesheet" type="text/css" href="{{ asset('css/zeega.community.css')}}">
	{% endif %}

	<link href='http://fonts.googleapis.com/css?family=Podkova:400,700' rel='stylesheet' type='text/css'> <!-- Including Google's Font -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
	<script type="text/javascript" language="Javascript" src="{{ asset('js/lib/less-1.3.0.min.js') }}"></script>
	
{% endblock stylesheets %}
{% block header %}

{% endblock header %}
{% block fos_user_content %}
<!-- Background Color Div - creates the transparent layer over the background image -->

	
	<div class="container sign-in">
	
				<div class='sign-in-head'>
					<a class="brand" href="{{path('ZeegaCommunityBundle_home')}}"><img src="{{ asset('images/zeega-logo-large.png') }}" alt="zeega-logo-large" width="251" height="79"></a>
					<h2>Make the web you want</h2>
				</div>
				<h2 class='message'>Success!</h2> 
				<h2 class='message'> An email has been sent to {{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }} with a link to reset your password.</h2>
				
	
	</div>

	

{% endblock %}
{% block footer %}

{% endblock footer %}
