{% form_theme form theme %}
<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
    {{ form_errors(form) }}
	
	
	{% for passwordField in form.new %}
	    <div class="form-field">
			<!-- the two lines below render the label (e.g. New Password) and the text box; changing the class changes the CSS class -->
	        {{ form_label(passwordField, null, { 'attr': {'class': 'form-label'} }) }}
	        {{ form_widget(passwordField, { 'attr': {'class': 'form-input'} }) }}
	    </div>
	{% endfor %}
	
	{{ form_rest(form) }}
	
	<div>
        <input type="submit" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
