<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- standard viewport tag to set the viewport to the device's width
        , Android 2.3 devices need this so 100% width works properly and
        doesn't allow children to blow up the viewport width-->
    <meta name="viewport" id="vp" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
    <!-- width=device-width causes the iPhone 5 to letterbox the app, so
        we want to exclude it for iPhone 5 to allow full screen apps -->
    <meta name="viewport" id="vp" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" />
    <!-- provide the splash screens for iPhone 5 and previous -->
    <link href="assets/splashs/splash_1096.png" rel="apple-touch-startup-image" media="(device-height: 568px)">
    <link href="assets/splashs/splash_iphone_2x.png" rel="apple-touch-startup-image" sizes="640x960" media="(device-height: 480px)">

    <link rel="icon" type="image/png" href="favicon.ico">
    <title>Zeega</title>

    <style>

        html {
            background: black;
            font-family: "Helvetica", sans-serif;
            color: white;
        }

        body {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            padding: 0;
            margin: 0;
            {% if project.getThumbnailUrl() == "../../../images/default_cover.png" %}
                background: url({{ asset('images/static-0.gif') }}) no-repeat center center fixed; 
            {% else %}
                background: url({{ project.getThumbnailUrl() }}) no-repeat center center fixed; 
            {% endif %}
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        header {
            padding:20px;
        }

        .title {
            font-size: 3em;
            line-height: 0.9em;
            margin-bottom: 0.5em;
        }

        .byline {
            margin-bottom: 1em;
        }

        .content {
            height: 100%;
            position: absolute;
            z-index: 1;
            text-shadow: 0 3px 5px black;
        }

        .action {
            position: absolute;
            text-align: center;
            bottom: 20px;
            display: inline-block;
            width: 100%;
        }

        .email {
            width: 25%;
            margin: 0 auto;
            display: block;
        }

        .bg-overlay {
            width: 100%;
            height: 100%;
            background: black;
            opacity: 0.5;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }

        a:link,
        a:hover,
        a:visited,
        a:active {
            color: white;
        }

    </style>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37456730-1']);
        _gaq.push(['_trackPageview']);

        (function() {
           var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
           ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

</head>

<body>

    <div class="content">
        <header>
            <div class="title">{{ project.getTitle() }}</div>
            <div class="byline">{{ project.getMediaCreatorRealName() }}</div>
        </header>
        <div class="action">
            <a href="mailto:your@email.com?subject=Check out this Zeega!&body=Enjoy this Zeega by {{ project.getMediaCreatorRealName() }} on a big screen. You'll love it! \nhttp://www.zeega.com/{{ project.getId() }}  \n\n- the friendly folks at Zeega">
                <img class="email" src="{{ asset('images/mobile/email-mobile.png') }}"/>
                <div>This Zeega loves big screens.<br/>Email a link to yourself!</div>
            </a>
        </div>
    </div>
    <div class="bg-overlay"></div>

</body>
</html>
