{% extends 'ZeegaUserBundle::layout.html.twig' %}

{% block head %}
	<title>Zeega Alpha</title>
	<link rel="shortcut icon" type="image/x-icon" href="http://zeega.org/images/zeega.ico"> 
	
	<style type="text/css">
	
		/*
			Background image code lives here, not in CSS, because this is specific to each page
			and could be made dynamic too (i.e. randomly picking a different image each load)
			quite easily. Exposing the code here should be helpful.
		*/
	
		html { 
		background: url({{asset("images/registration/login.gif")}}) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		}
	
	</style>
	

	<!-- Less -- LOAD variables.less FIRST and then other stuff and then style.less at the end -->
	{% if app.environment == 'dev' %}
		<link rel="stylesheet/less" type="text/css" href="{{ asset('css/less/community/bootstrap.less')}}">
		<script type="text/javascript" src="{{ asset('js//lib/less-1.3.0.min.js')}}"></script>
		<script> /* Provisory for dev environment: */ localStorage.clear(); </script>
	{% else %}
		<link rel="stylesheet" type="text/css" href="{{ asset('css/zeega.community.css')}}">
	{% endif %}

	<link href='http://fonts.googleapis.com/css?family=Podkova:400,700' rel='stylesheet' type='text/css'> <!-- Including Google's Font -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
	<script type="text/javascript" language="Javascript" src="{{ asset('js/lib/less-1.3.0.min.js') }}"></script>
	
{% endblock head%}

{% block header %}

{% endblock header %}

{% block fos_user_content %}
<!-- Background Color Div - creates the transparent layer over the background image -->
	<div id="background-color">
	</div>
	<!-- Background Color Div ends -->
	
	
	<!-- Page Content Begins -->
	
	<div class="container sign-in">
	
		<div class='sign-in-head'>
			<a class="brand" href="{{path('ZeegaCommunityBundle_home')}}">
			<img src="{{ asset('images/zeega-logo-large.png') }}" alt="zeega-logo-large" width="251" height="79">
			</a>
		
			<h2>Remake the Internet</h2>
		</div>
		
		<h2 class='message'>Hello, hello and welcome back!</h2>
		{% if error %}
	        <div class="error" style="color:red">{{ error }}</div>
	    {% endif %}
		
		<form class="form-vertical" action="{{ path("fos_user_security_check") }}" method="post">
		  <fieldset>
		  	<div class="control-group">	
		
		  		<h4>{{ 'Email'|trans({}, 'FOSUserBundle') }}</h4>
		  		
				<div class="controls">
					<input type="text" id="username" name="_username" value="{{ last_username }}" class="input-xlarge" style='width:100%'>
				</div>
				
		  		<h4>{{ 'Password'|trans({}, 'FOSUserBundle') }}</h4>
		  		
				<div class="controls" style="margin-bottom:0">
					<input  type="password" id="password" name="_password" class="input-xlarge" style='width:100%'>
				</div>
				
				<div class="pull-right">

					<a href="{{path("fos_user_resetting_request")}}" class="sidebar">Forgot password?</a>

				</div>
				
				<div>
				<button type="submit" class="btn btn-success btn-custom"><h4>Submit</h4></button>
				</div>

				
		  	</div>
		  </fieldset>
		</form>
	
	</div>

{% endblock fos_user_content %}

{% block footer %}
{% endblock footer %}
