{# src/Zeega/CoreBundle/Resources/views/Search/search.html.twig #}

{% extends '::editor.base.html.twig' %}

{% block title %}Media Library{% endblock %}








{% block body %}

<div id='zeega-editor-main'>

		<div id='zeega-action-column'>
			<div id='zeega-primary-nav' class='menu-bar menu-dark menu-tall'>
				<ul>
					<li class='menu-branding'><a href='{{path('ZeegaCommunityBundle_home')}}' class='zeega-primary-logo'><img src='{{ asset('images/zeega-logo-header.png') }}'/></a></li>
				</ul>
				<ul class='pull-right'>

					<li>

						<ul class='menu-dropdown'>
							<a href='#' class='menu-toggle'><i class='icon-user icon-white'></i></a>
							<ul class='user-action-menu'>
								<li><a href="{{ path('ZeegaCommunityBundle_dashboard')}}" target='blank'>User Profile</a></li>
								<!--<li><a href='{{ path('ZeegaCommunityBundle_faq')}}' target='blank' >FAQ</a></li>-->
								<li><a href='{{ path('_security_logout')}}'>Logout</a></li>
							</ul>
						</ul>

					</li>
					
					<li>

						<ul class='menu-dropdown'>
							<a href='#' class='menu-toggle'><i class='icon-folder-open icon-white'></i></a>
							<ul class='user-action-menu'>
								<li><a class="new-project" href="{{path('ZeegaEditorBundle_new')}}"><i class='icon-file'></i> New Project</a></li>
								<li class="divider"></li>
								{% for project in myprojects %}
								<li><a href="{{ path('ZeegaEditorBundle_editor', { 'id': project.id }) }}">{{project.title}}</a></li>
								{% endfor %}

							</ul>
						</ul>

					</li>

					<li><a href='{{ path('ZeegaCommunityBundle_faq')}}' target='blank' ><i class='icon-question-sign icon-white'></i></a></li>

					<!--<li><a id='zoom-interface' href='#'><i class='icon-zoom-out icon-white'></i></a></li>-->
					<li id='save-indicator' style='color:orangered'><a href='#'><i class='icon-blank'></i></a></li>
				</ul>


			</div>

			<div id='zeega-project-info'>
				<div id="zeega-discovery-title">Media Library</div>
				
								
					<div class="menu-bar menu-dark universe-toggle"  >
						<span class="just-me" data-universe="0" >Just Me</span>
						<span class="universe" data-universe="1" >Zeega Community</span>
					</div>
					<div class="menu-bar menu-dark collection-title-wrapper"  >
						<span id="collection-title" data-id="-1" >A sample Collection</span>
						<span class="collection-clear">x</span>
					</div>

				
			</div>
			
			<div id='zeega-add-item-type' class='menu-bar menu-dark' >
				<ul>
					<li><a href="#" id="create-collection" data-layer_type="Geo"><div class="menu-verbose-title">New</div><i  style = "background-position: -407px -97px;" class="icon-white"></i></a></li>
					<li><a href="#" id="create-dynamic-collection" data-layer_type="Geo"><div class="menu-verbose-title">Dynamic</div><i style = "background-position: -239px 0;"  class="icon-white"></i></a></li>
				</ul>	
				<div class='zeega-list-header'>COLLECTIONS</div>
			</div>

			<div class='collection-lists-container'  style="max-height:-webkit-calc(100% - 123px);">>
				<div id='zeega-collection-list' class='collection-list'></div>
			</div>

		</div><!-- zeega action column -->
		<div id='zeega-edit-column' style='width: -webkit-calc(100% - 300px);'>
			<div id="zeega-search-wrapper" class='clearfix'>
				<div class="btn-group" id="zeega-view-toggle">
					<a data-goto-view='thumb'><button id="thumb-button" class="btn btn-inverse active" rel="tooltip" title="Thumbnail View" style="border-radius:0"><i class="icon-th-large icon-white"></i></button></a>
					<a data-goto-view='list'><button id="list-button" class="btn btn-inverse" rel="tooltip" title="List View" style="4px 0 0 4px"><i class="icon-list icon-white"></i></button></a>
				</div>
				<div id="jda-search-button-group" style="display:none">
					<div id="search-bar" style="margin-right:5px">
						<div id="zeega-visual-search-container" class="pull-left"></div>
						<span id="select-wrap">
							<span id="select-wrap-text"  >All Formats</span>
							<div class="arrow-down"></div>
							<select id="zeega-content-type">
								<option value="all">All Formats</option>
								<option value="Image">Image</option>
								<option value="Video">Video</option>
								<option value="Audio">Audio</option>
								<option value="Collection">Collection</option>
								<option value="project">Projects</option>
							</select>
						</span>
					</div>
					<a href="#" id="go-button" class="btn btn-info btn-large">Go</a>
				</div>
			</div>
		
			<div id='zeega-results-wrapper' style="max-height:-webkit-calc(100% - 50px);">
				<div class="results-view-wrapper" id="results-thumb-wrapper">
					<ul id="zeega-items-thumb" class="results-wrapper" ></ul>
				</div>
				<div class="results-view-wrapper"  id="results-list-wrapper" >
					<table id="zeega-items-list" class="table results-wrapper"></table>
				</div>
				
			</div>

		</div>

	</div>

    

{% endblock %}




		{% block stylesheets %}
		
	
		
			<!-- css imports -->
		
					
					<link rel="stylesheet" href="{{ asset('js/lib/jquery/ui/css/custom-theme/jquery-ui-1.8.14.custom.css')}}" type="text/css" media="screen" />
					<link rel="stylesheet" href="{{ asset('css/zeega.fancybox.css')}}" />
					<link rel="stylesheet" href="{{ asset('js/lib/farbtastic/farbtastic.css')}}" />
					<link rel="stylesheet" href="{{ asset('js/lib/leaflet/leaflet.css')}}" />
					<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
			<!-- end css imports -->		
					
					{% if app.environment == 'dev' %}
						<link rel="stylesheet/less" type="text/css" href="{{ asset('css/less/discovery/bootstrap.less')}}">
						<script type="text/javascript" src="{{ asset('js//lib/less-1.3.0.min.js')}}"></script>
						<script> /* Provisory for dev environment: */ localStorage.clear(); </script>
					{% else %}
						<link rel="stylesheet" type="text/css" href="{{ asset('css/zeega.discovery.css')}}">
					{% endif %}		
					
					<link rel="stylesheet" href="{{ asset('css/visualsearch-datauri.css')}}"  type="text/css" media="screen">
					
			<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
				<!--[if lt IE 9]>
				<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			 <![endif]-->

      {% endblock %}    

      {% block scripts %}


			<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
			<script type="text/javascript" src="{{ asset('js//lib/leaflet/leaflet.js')}}"></script>
   			<script type="text/javascript" src="http://s3.documentcloud.org/viewer/loader.js"></script>
			
			{% if app.environment == 'dev' %}
			<!-- to load JS libraries separately -->
				<script src="{{ asset('js/lib/require-jquery.js') }}" data-main="{{ asset('js/loaders/discovery.js') }}"></script>
			{% else %}
				<!-- to load single aggregated JS library --> 
				<script src="{{ asset('js/lib/require-jquery.js') }}" data-main="{{ asset('js_min/discovery.js') }}"></script>
			{% endif %}

		{% endblock %}
