{# src/Zeega/EditorBundle/Resources/views/Editor/index.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Zeega Alpha{% endblock %}
{% block headerfix %} {% endblock %}
{% block body %}
 
			<input id="route-id" type="hidden" value="{{route.id}}"/>
			<input id="project-id" type="hidden" value="{{projectid}}"/>
		
		
			<div id="route-header" class='clearfix'>
				<div id='route-title'>{{projecttitle}}</div>
				<div id='route-publish'>
					
					<ul class='unstyled'>
						
						<li>
							<ul class='pill-buttons'>
								<li><a id='share-project' href='#'>Share</a></li>
								<!--
								<li><a id='embed' href='http://www.getjavascript.com' onclick='embedButton();return false;'>Export</a></li>
								-->
								<li><a id='preview' href='#' onclick='Zeega.previewRoute();return false;'
									title='Preview Anytime'
									data-content='Once you’re complete, you can select share to create a unique url for your project.'
								>Preview</a>
								</li>
								<li><a id='get-help' href='#'>?</a></li>
								
							</ul>
						</li>
						
						<li><span id='project-settings' class='zicon zicon-settings'></span></li>
						
					</ul>
				</div>
			</div>

			<a href="http://#"></a>


				<div id="frame-drawer"
					title='Add More Frames!'
					data-content='As your projects grow, you can select any frame to go back to editing the layers'
				>
					<ul id='frame-list' class='unstyled horizontal-list'></ul>
					<div id="add-node" title='Click to add a new Node or Drag to add several Nodes'><a href="#" onClick="Zeega.addNode();return false;"><img src="{{ asset('images/addnode.png') }}" height="25" width="25"/></a></div>
				</div>
				<div id="edit-drawer" class='clearfix'>
					
					<div id="sidebar" class='clearfix' >
					
						<div class="panel flat">
							<div id='new-layer-tray' class='panel-head'
								title='Add Maps, text and color layers!'
								data-content=''
								
							>
								<ul id='new-layer-list' class='unstyled horizontal-list'>
									<li>Add</li>
									<li title='Click to add new Geo Layer' ><a href="#" data-type='Geo'><img src="{{ asset('images/geo_layer.png') }}" height=20 width=20 /></a></li>
									<li title='Click to add new Text Layer' ><a href="#"data-type='Text'><img src="{{ asset('images/text_layer.png') }}" height=20 width=20 /></a></li>
									<li title='Click to add new Rectangle Layer' ><a href="#"data-type='Rectangle'><img src="{{ asset('images/rectangle-layer.png') }}" height=20 width=20 /></a></li>
								</ul>
							</div>
						</div>
					
					
						<div id='layer-panel' class='panel flat'
							title='Edit Your Layers'
							data-content="Once you've added layers, you can edit scale, opacity and more."
						>
							<div class='panel-head title'>
								Edit Layers
								<span class='info zicon zicon-info'
									data-placement = "right"
									data-original-title='Layers'
									data-content='This is where your media layers Appear. You can reorder and change their properties.'
								></span>
							</div>
							
							<div id='layers'>

								<ul id="layers-list-visual" class='unstyled'></ul>

							</div> <!-- layers -->
							
						</div><!-- #layer-panel -->
						


						<div id='transition-panel' class='panel tray expandable raised'>

							<div class='panel-head'>
								Edit Transitions
								<span class='info zicon zicon-info'
									data-placement = "right"
									data-original-title='Transitions'
									data-content='This is where you edit the way this frame transitions to the next frame.'
								></span>
							</div>

							<div class="panel-content inset-tray hidden">
								
								<ul id='advance-controls' class='unstyled'>
									<li><input type="radio" value='0' id="playback" name="advance"  /><label for="playback"> After playback</label></li>
									<li><input type="radio" value ='-1' id="manual" name="advance" /><label for="manual"> Manually</label></li>
									<li><input type="radio" value='10' id="time" name="advance" /><label for="time"> After <input id='advance-time' class='span1' type='text' name='time' value='10' size='3'/> seconds</label></li>
								</ul>
							</div><!-- panel-content -->
							
						</div><!-- #transition-panel -->
						
						
						
						<div id='database-panel' class='panel tray expandable raised'
							title='Find Media'
							data-content='Search your collections and filter for images, videos or sounds.'
						>
							
							<div class='panel-head'>
								<div>
									Add Media
									<span class='info zicon zicon-info'
										data-placement = "right"
										data-original-title='Items Database'
										data-content='This is where you can search items from your collections.'
									></span>
								</div>
								
								
								<div id="searchbar">
									
									<div id='search-filter'>
											<a class='menu-toggle' href='#'><span class='zicon zicon-searchdropdown'></span></a>
											<ul class='unstyled menu-items'>
												<li class='menu-title'>Filter by Format</li>
												<li class='divider'></li>
												<li><a data-search-filter='all' href='#'>All</a></li>
												<li><a data-search-filter='audio' href='#'>Audio</a></li>
												<li><a data-search-filter='image' href='#'>Images</a></li>
												<li><a data-search-filter='video' href='#'>Video</a></li>
											</ul>
									</div>
									
									<input id='database-search-text' type='text' name='database-search' placeholder='search database'/>
									
								</div><!-- searchbar -->

							</div>
							
							<div class='panel-content'>
								<div id="db-nav-controls">
									
									<select id='database-collection-filter' class=''>
									  <option value="all">All Collections</option>
									</select>
									
									<a href='#' id='grid-view'><span class='zicon zicon-grid orange'></span></a>
									<a href='#' id='list-view'><span class='zicon zicon-list'></span></a>

								</div><!-- db-nav-controls -->
							
								<input id="collection-id" type="hidden" value="{{collection_id}}"/>
								<ul id='database-item-list' class='unstyled grid-view inset-tray'></ul>
							</div><!-- database -->
						
						</div><!-- #database-panel -->
						
						
						
						

						</div>
						
						

					</div> <!-- sidebar -->
					
					
					<div id='workspace-wrapper'>
						
						<div id='visual-editor-wrapper' class='wrapper panel'>
							
							<div id='visualeditor-view-bar' class='panel-head'>

								<ul id='visual-icon-tray' class='unstyled horizontal-list icon-tray'></ul>
								<span class='info zicon zicon-info'
									data-placement = "left"
									data-original-title='The Visual Editor Window'
									data-content='This is where you can drop and arrange visual media. You can click the bar to close or expand the workspace.'
								></span>
							</div>
							
							<div id='workspace-outer-wrapper' class='clearfix'>
								<div id="visual-editor-workspace" class='workspace clearfix'
									title='Create a Project!'
									data-content='All projects consists of frames. You can add layers to frames by dragging media to this area.'
								></div>
							</div>
							
						</div>
						
						
					</div>
				</div>

			



{% endblock %}

{% block extras %}
	<div id='templates' class='hidden'>
		
		<div id="export" class='modal hidden' >
			<div class="modal-header">
				<a href='#' class='close'>x</a>
				<h3>Data Export</h3>
			</div>
			<div class="modal-body clearfix">
				<textarea id='export-json' rows="2" cols="20" readonly></textarea>
				<p>Copy and Paste the JSON into a text editor of your choice</p>
			</div>
			<div class="modal-footer">
				<span class='admin-submit'>
					<br />
					<a href='#' id='close-modal' class='btn secondary'>close</a>
				</span>
			</div>
		</div> <!-- modal -->
		
		<div id="project-settings-modal" class='modal hidden' >
			<div class="modal-header">
				<a href='#' class='close'>x</a>
				<h3>Project Settings</h3>
			</div>
			<div class="modal-body clearfix">
				
				<h3 class="">Screen Ratio</h3>
				<ul id='ratio-list' class='unstyled'>
					<li><a href="#" data-ratio-id='0'>3:2</a></li>
					<li><a href="#" data-ratio-id='1'>4:3</a></li>
				</ul>
			</div>
			<div class="modal-footer">
				<span class='admin-submit'>
					<br />
					<a href='#' id='close-modal' class='btn secondary'>close</a>
				</span>
			</div>
		</div> <!-- modal -->
		
		<div id="share-project-modal" class='modal hidden' >
			<div class="modal-header">
				<a href='#' class='close'>x</a>
				<h3>Share Your Project</h3>
			</div>
			<div class="modal-body clearfix">
				<p>Share your project: <b>{{projecttitle}}</b></p>
				<a href='{{hostname}}{{directory}}project/{{route.id}}/view' id='project-link' target='blank'>{{hostname}}{{directory}}project/{{route.id}}/view</a>
			</div>
			<div class="modal-footer">
				<span class='admin-submit'>
					<br />
					<a href='#' id='close-modal' class='btn secondary close-modal'>close</a>
				</span>
			</div>
		</div> <!-- modal -->
		
		<div id="node-item-template" class="">
			<div class='node-overlay'>
				<div class='node-update-overlay'></div>
			</div>
			<div class='node-background'></div>
			<a href='#' class='delete-node hidden'>&times;</a>
		</div>
	</div>
{% endblock %}

{% block scripts %}


			<script type="text/javascript" language="Javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
				<script src="http://s3.documentcloud.org/viewer/loader.js"></script>
			
			<script src="{{ asset('js/aloha-config.js') }}" language="javascript"></script>
			<script src="{{ asset('js/libraries/aloha-rc9/lib/aloha.js') }}" data-aloha-plugins="common/format,common/highlighteditables"></script>

			<script src="{{ asset('js/main.editor.js') }}"></script>

			<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
			
			<script type="text/javascript" language="Javascript">
				//bootstrapping data
				var itemsJSON = "{{ results|e('js') }}";
				//console.log('collection id= '+ {{collection_id}})
				
			</script>
			
{% endblock %}