{# src/Zeega/EditorBundle/Resources/views/Editor/index.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Zeega Alpha{% endblock %}
{% block headerfix %} {% endblock %}
{% block body %}
 
			<input id="sequence-id" type="hidden" value="{{sequence.id}}"/>
			<input id="project-id" type="hidden" value="{{projectid}}"/>
		
		
			<div id="sequence-header" class='clearfix'>
				
				<div id='sequence-cover-image'></div>
				
				<div id='sequence-title'>{{projecttitle}}</div>
					
				<div id='sequence-actions' class="btn-group pull-right">
				  <button id='preview' class="btn btn-inverse"><i class='zicon-preview raise-up'></i> Preview</button>
				  <button id='publish-project' class="btn btn-inverse"><i class='zicon-share raise-up'></i> Share</button>
				</div>
					
			</div>

			<a href="http://#"></a>

				<ul id='sequence-tabs' class="clearfix">
					<li class="active"><a href="#">&nbsp;</a></li>
				</ul>
				
				<div id="frame-drawer"
					title='Add More Frames!'
					data-content='As your projects grow, you can select any frame to go back to editing the layers'
				>
					<ul id='frame-list' class='unstyled horizontal-list'></ul>
					<div id="add-frame" title='Click to add a new Frame or Drag to add several Frames'><a href="#" id='add-node-button'><img src="{{ asset('images/addframe.png') }}" height="25" width="25"/></a></div>
				</div>
				<div id="edit-drawer" class='clearfix'>
					
					<div id="sidebar" class='clearfix' >
					
						<div class="panel flat">
							<div id='new-layer-tray' class='panel-head'
								title='Add Maps, text and color layers!'
								data-content=''
							>
								<ul id='new-layer-list' class='unstyled horizontal-list'>
									<li>Add</li>
									<li title='Click to add new Geo Layer' ><a href="#" data-type='Geo'><img src="{{ asset('images/geo_layer.png') }}" height=20 width=20 /></a></li>
									<li title='Click to add new Text Layer' ><a href="#"data-type='Text'><img src="{{ asset('images/text_layer.png') }}" height=20 width=20 /></a></li>
									<li title='Click to add new Rectangle Layer' ><a href="#"data-type='Rectangle'><img src="{{ asset('images/rectangle-layer.png') }}" height=20 width=20 /></a></li>
								</ul>
							</div>
						</div>
					
					
						<div id='layer-panel' class='panel flat'
							title='Edit Your Layers'
							data-content="Once you've added layers, you can edit scale, opacity and more."
						>
							<div class='panel-head title'>
								Edit Layers
								<i class='zicon-info info'
									data-placement = "right"
									data-original-title='Layers'
									data-content='This is where your media layers Appear. You can reorder and change their properties.'
								></i>
							</div>
							
							<div id='layers'>

								<ul id="layers-list-visual" class='unstyled'></ul>

							</div> <!-- layers -->
							
						</div><!-- #layer-panel -->
						

						<div id='transition-panel' class='panel tray expandable raised'>

							<div class='panel-head'>
								Edit Transitions
								<i class='zicon-info info'
									data-placement = "right"
									data-original-title='Transitions'
									data-content='This is where you edit the way this frame transitions to the next frame.'
								></i>
							</div>

							<div class="panel-content inset-tray hidden">
								
								<ul id='advance-controls' class='unstyled'>
									<li>
										<label class="radio">
											<input type="radio" name='optionsRadio' id='playback' value='0'> After playback
										</label>
									</li>
									<li>
										<label class="radio">
											<input type="radio" name='optionsRadio' value='-1' id='manual'> Manually
										</label>
									</li>
									<li>
										<label class="radio">
											<input type="radio" name='optionsRadio' value='10' id='time'> After <input id='advance-time' class='span1' type='text' name='time' value='10' size='3'/> seconds
										</label>
									</li>
								</ul>
							</div><!-- panel-content -->
							
						</div><!-- #transition-panel -->
						
						
						
						<div id='database-panel' class='panel tray expandable raised'
							title='Find Media'
							data-content='Search your collections and filter for images, videos or sounds.'
						>
							
							<div class='panel-head'>
								<div>
									Add Media
									<i class='zicon-info info'
										data-placement = "right"
										data-original-title='Items Database'
										data-content='This is where you can search items from your collections.'
									></i>
								</div>
								
								<div class="visual_search"></div>
								
								<div class='well filter-list hidden'>
									<ul class="nav nav-list">
										<li class="nav-header">Filter Media By</li>
										<li><a data-search-filter='all' href='#'>All</a></li>
										<li><a data-search-filter='audio' href='#'>Audio</a></li>
										<li><a data-search-filter='image' href='#'>Images</a></li>
										<li><a data-search-filter='video' href='#'>Video</a></li>
									</ul>
								</div>
								
							</div>
							
							<div class='panel-content'>
								<div id="db-nav-controls">
									
									<select id='database-collection-filter' class=''>
									  <option value="all">My Collections</option>
									</select>
									
									<a href='#' id='grid-view'><span class='zicon zicon-grid orange'></span></a>
									<a href='#' id='list-view'><span class='zicon zicon-list'></span></a>

								</div><!-- db-nav-controls -->
							
								<input id="collection-id" type="hidden" value="{{collection_id}}"/>
								<ul id='database-item-list' class='unstyled grid-view inset-tray'></ul>
							</div><!-- database -->
						
						</div><!-- #database-panel -->
						
						
						
						

						</div>
						
						

					</div> <!-- sidebar -->
					
					
					<div id='workspace-wrapper'>
						<div id='edit-panel'></div>
						<div id='visual-editor-wrapper' class='wrapper panel'>
							
							<div id='visualeditor-view-bar' class='panel-head'>

								
								<div id='make-connection' class="btn-group pull-left">
									<button data-action='newFrame' class="btn btn-inverse action" href='#'><img src='{{ asset('images/multi-linear.png') }}' height='15px'/></button>
									<button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
											<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a data-action='newFrame' class='action' href='#'><i class='zicon-new-frame small'></i>  New Frame</a></li>
										<li><a data-action='existingFrame' class='action' href='#'><i class='zicon-old-frame small'></i>  Existing Frame</a></li>
										<li class='divider'></li>
										<li><a data-action='advanced' class='action' href='#'><i class='zicon-options small'></i>  Advanced</a></li>
									</ul>
								</div>
								<div id='connection-confirm' class='pull-left hidden'>
									<button data-action='cancel' class='btn btn-danger btn-small'>Cancel</button>
									<button data-action='ok' class='btn btn-success btn-small'>OK</button>
								</div>
								
								<i class='zicon-info info'
									data-placement = "left"
									data-original-title='The Visual Editor Window'
									data-content='This is where you can drop and arrange visual media. You can click the bar to close or expand the workspace.'
								></i>
							</div>
							
							<div id='workspace-outer-wrapper' class='clearfix'>
								<div id="visual-editor-workspace" class='workspace clearfix'
									title='Create a Project!'
									data-content='All projects consists of frames. You can add layers to frames by dragging media to this area.'
								></div>
							</div>
							
						</div>
						
						
					</div>
				</div>

			



{% endblock %}

{% block extras %}

 <!-- modal -->
	<div id="publish-project-modal" class="modal hide"></div>
	<div id="share-project-modal" class='modal hidden' >
			<div class="modal-header">
				<a href='#' class='close close-modal'>x</a>
				<h3>Share Your Project</h3>
			</div>
			<div class="modal-body clearfix">
				<p>Share your project: <b>{{projecttitle}}</b></p>
				<a href='{{hostname}}{{directory}}project/{{project.id}}/view' id='project-link' target='blank'>{{hostname}}{{directory}}project/{{project.id}}/view</a>
			</div>
			<div class="modal-footer">
				<span class='admin-submit'>
					<br />
					<a href='#' id='close-modal' class='btn secondary close-modal'>close</a>
				</span>
			</div>
		</div> 


	<div id='templates' class='hidden'>
		
		<div id="export" class='modal hidden' >
			<div class="modal-header">
				<a href='#' class='close'>x</a>
				<h3>Data Export</h3>
			</div>
			<div class="modal-body clearfix">
				<textarea id='export-json' rows="2" cols="20" readonly></textarea>
				<p>Copy and Paste the JSON into a text editor of your choice</p>
			</div>
			<div class="modal-footer">
				<span class='admin-submit'>
					<br />
					<a href='#' id='close-modal' class='btn secondary'>close</a>
				</span>
			</div>
		</div> <!-- modal -->
		
		
		
		
		
		<div id="frame-item-template" class="">
			<div class='frame-overlay'>
				<div class='frame-update-overlay'></div>
			</div>
			<div class='frame-background'></div>
			<a href='#' class='delete-frame hidden'>&times;</a>
		</div>
	</div>
{% endblock %}

{% block scripts %}


			<script type="text/javascript" language="Javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
			<script src="http://s3.documentcloud.org/viewer/loader.js"></script>

			<script src="{{ asset('js/lib/require.js') }}" data-main="{{ asset('js/loaders/editor.js') }}"></script>

			<script src="{{ asset('js/lib/jquery.tagsinput.min.js')}}"></script>
			<link rel="stylesheet" type="text/css" href="{{ asset('js/lib/jquery.tagsinput.css')}}" />

			<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
			
			<script type="text/javascript" language="Javascript">
				//bootstrapping data
				var itemsJSON = "{{ results|e('js') }}";
				var collectionsJSON = "{{ user_collections| json_encode | e('js') }}";
				var projectJSON = "{{ project_data|e('js') }}";
				//var projectJSON = '{"project":{"id":151,"title":"UntitledProject","attr":{"author":"joseph","cover_image":"http:\/\/dev.zeega.org\/joseph\/web\/images\/default_cover.png"},"date_created":"05/07/2012","tags":"","enabled":true,"published":true,"layers":[{"id":616,"type":"Image","text":null,"attr":{"id":"246","site_id":2,"title":"BoengTrabekPumpingStation","user_id":2,"description":"","text":null,"uri":"http:\/\/farm8.staticflickr.com\/7037\/7003531588_c8bfb5966b_b.jpg","attribution_uri":"http:\/\/www.flickr.com\/photos\/ny_sed\/7003531588\/","date_created":{"date":"2012-05-0713:57:36","timezone_type":3,"timezone":"America\/New_York"},"archive":"Flickr","media_type":"Image","layer_type":"Image","thumbnail_url":"http:\/\/farm8.staticflickr.com\/7037\/7003531588_c8bfb5966b_s.jpg","child_items_count":0,"media_geo_latitude":0,"media_geo_longitude":0,"location":null,"media_date_created":null,"media_date_created_end":null,"media_creator_username":"ShelbyElizabeth","media_creator_realname":"","license":null,"attributes":[],"tags":[],"enabled":true,"published":true,"url":"none","left":1.1363636363636,"top":-1.9189765458422,"height":100,"width":100,"opacity":1,"aspect":1.33,"citation":true,"linkable":true}},{"id":617,"type":"Text","text":null,"attr":{"title":"Text","content":"Text","left":21.306818181818,"top":46.481876332623,"color":"#ffffff","opacity":0.9,"fontSize":200,"overflow":"visible","width":36.505681818182,"linkable":true,"contentEditable":true}},{"id":618,"type":"Image","text":null,"attr":{"id":"245","site_id":2,"title":"MoonsetoverNewYorkCity","user_id":2,"description":"","text":null,"uri":"http:\/\/farm5.staticflickr.com\/4043\/4490338975_03fff4548a_b.jpg","attribution_uri":"http:\/\/www.flickr.com\/photos\/jbergen\/4490338975\/","date_created":{"date":"2012-05-0312:31:35","timezone_type":3,"timezone":"America\/New_York"},"archive":"Flickr","media_type":"Image","layer_type":"Image","thumbnail_url":"http:\/\/farm5.staticflickr.com\/4043\/4490338975_03fff4548a_s.jpg","child_items_count":0,"media_geo_latitude":0,"media_geo_longitude":0,"location":null,"media_date_created":null,"media_date_created_end":null,"media_creator_username":"neutralSurface","media_creator_realname":"","license":null,"attributes":[],"tags":["postcard","postcards","nyc","newyorkcity","city","moon"],"enabled":true,"published":true,"url":"none","left":0,"top":0,"height":100,"width":100,"opacity":1,"aspect":1.33,"citation":true,"linkable":true}},{"id":619,"type":"Link","text":null,"attr":{"title":"LinkLayer","to_frame":null,"from_frame":547,"left":25,"top":25,"height":50,"width":50}},{"id":620,"type":"Link","text":null,"attr":{"title":"LinkLayer","to_frame":null,"from_frame":546,"left":25,"top":25,"height":50,"width":50}}],"frames":[{"id":549,"sequence_index":0,"layers":[616,617,620],"attr":null,"thumbnail_url":"http:\/\/mlhplayground.org\/gamma-james\/images\/thumb.png","enabled":null},{"id":550,"sequence_index":1,"layers":null,"attr":{"advance":0},"thumbnail_url":"http:\/\/dev.zeega.org\/joseph\/web\/content\/images\/frames\/croppedThumb_aZqzGLpv.jpg","enabled":true},{"id":548,"sequence_index":null,"layers":[618,619],"attr":null,"thumbnail_url":"http:\/\/mlhplayground.org\/gamma-james\/images\/thumb.png","enabled":null},{"id":546,"sequence_index":0,"layers":[616,617,620],"attr":{"advance":0},"thumbnail_url":"http:\/\/dev.zeega.org\/joseph\/web\/content\/images\/frames\/croppedThumb_Snd84Iov.jpg","enabled":null},{"id":547,"sequence_index":1,"layers":[618,619],"attr":{"advance":0},"thumbnail_url":"http:\/\/dev.zeega.org\/joseph\/web\/content\/images\/frames\/croppedThumb_dFsoBAdP.jpg","enabled":true}],"sequences":[{"id":226,"title":"UntitledProject","attr":[],"frames":[546,547]},{"id":227,"title":"Sequence2","attr":[],"frames":[548]},{"id":228,"title":"Sequence3","attr":[],"frames":[549,550]}]}}'
			</script>
			
{% endblock %}
