<!doctype html>
<html>
<head>
	<meta charset="utf-8">

	<title></title>
	 <link rel="icon" type="image/png" href="http://zeega.org/images/zeega.ico">
	<meta name="robots" content="noindex,follow">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" href="{{ asset('js/lib/leaflet/leaflet.css')}}" />
	<link rel="stylesheet" href="{{ asset('css/zeega.css')}}">
	
	<script src="http://s3.documentcloud.org/viewer/loader.js"></script>

	<script type="text/javascript" charset="utf-8" data-requirecontext="_" data-requiremodule="lib/swfobject" src="{{ asset('js/lib/swfobject.js') }}"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script> 
		sessionStorage.setItem('directory', '{{directory}}');
		sessionStorage.setItem('hostname','{{hostname}}');
		sessionStorage.setItem('projectId','{{projectId}}');
	</script>

	
</head>

<body>


{{project.getId()}}<br>
{{project.getTitle()}}<br>



</body>
</html>
