{# src/Zeega/EditorBundle/Resources/views/Editor/index.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Zeega Alpha{% endblock %}



{% block body %}
	
<div id="faq" style='color:white; padding:10px;'> 


<h1>FAQ</h1>


<ul id='faq-list' class='unstyled'>

	<li>
		<div class="expander"><h3><a href='#'>this is the first FAQ question</a></h3></div>
		<div class="faq-content">
			<p class="">this is the faq answer</p>
		</div>
	</li>
	<li>
		<div class="expander"><h3><a href='#'>this is the second FAQ question</a></h3></div>
		<div class="faq-content">
			<p class="">this is the faq answer</p>
		</div>
	</li>

</ul>






<div style="color: #65CAFC; font-size: 24px;">How do I add media to Zeega?</div>

You can add images, videos, sounds and more from the web to Zeega with our <a href="#" class="add-media" style="font-size: 12px;">bookmarklet plugin</a>. 
After the bookmarklet is installed, you will see "Add to Zeega" within your bookmarks bar. Once you're on a webpage where you can add media (see next question for details on which sites and types of pages), you click on "Add to Zeega" within the bookmarks bar. You will then see the plugin animate from the right side of the browser with options to add an item.<br><br>
<img src="{{ asset('images/faq/bookmarklet.jpg') }}" width="970px"/>

<div style="color: #65CAFC; font-size: 24px;">How can I view media I've added to Zeega?</div>

Once you have added items, they are visible in collections and in the items viewer of the projects editor.<br><br>
<div style="float: left;"><span style="color: white;">Collections<br>
<img src="{{ asset('images/faq/media-in-browser.jpg') }}" width="475px" />
</div>
<div style="float: right; margin-right: 15px;"><span style="color: white;">Editor<br>
<img src="{{ asset('images/faq/media-in-editor.jpg') }}" width="475px" />
</div>
<div style="clear: both;"></div>

<div style="color: #65CAFC; font-size: 24px;">From which websites can I add media to Zeega?</div>

You can add media to the database from:<br><br>

- <a href="http://www.flickr.com/photos/fgsemedo/6307192013/" target="_blank" style="color: red;">Individaul Flickr images</a> (support for sets, groups and photostreams coming soon)<br>
- <a href="http://www.youtube.com/watch?v=La-8RhnKDNs" target="_blank" style="color: red;">Individual YouTube videos</a> (support for channels coming soon)<br><i>*You will need to uninstall the Youtube plugin that comes with Chrome. To do this, open a new tab. Right click on the Youtube icon and select "uninstall." Then confirm the uninstall. You should be all set!</i><br>
- <a href="http://soundcloud.com/landescape/movie-man" target="_blank" style="color: red;">Individaual SoundCloud tracks</a> and <a href="http://soundcloud.com/loveod/sets/mental-overdrive-the-man-with/" target="_blank" style="color: red;">SoundCloud sets</a><br>
- <a href="http://www.archive.org/details/17DaysTh1945" target="_blank" style="color: red;">Videos on archive.org</a><br>
- URLs that end in .jpg, .png, .mp3 and .mp4.<br><br>

<div style="color: #65CAFC; font-size: 24px;">Something is not working. What should I do?</div>

1) Refresh your browser (command R).<br>
2) If that doesn't work, clear your cache (command/shift/delete or "Clear Browsing Data" from the Chrome menu).<br>
3) Email bugs@zeega.org describing the issue as precisely as possible. We will get back to you within 24 hours.<br><br>

Soon there will be an awesome forum!<br><br>

<div style="color: #65CAFC; font-size: 24px;">How can I change the scale and opacity of media in a frame?</div>

When you drag media to the workspace, it automatically creates a layer under "Edit Layers." Click on this layer to see the layer-specific controls, which include sliders for scale and opacity.<br>

<img src="{{ asset('images/faq/edit-layer.jpg') }}" />

<div style="color: #65CAFC; font-size: 24px; ">How can I clip videos and audio?</div>

You can create clips from any audio or video in Zeega. Drag an audio or video item to the workspace, and then click on the layer under "Edit Layers." The item will load and then you can select the in/out points.<br>

<img src="{{ asset('images/faq/clip-video.jpg') }}" />

<div style="color: #65CAFC; font-size: 24px;">How exact can my audio/video edits be?</div>

For an .mp4 video or .mp3 audio file you can edit frame by frame. Open the audio or video layer control in the "Edit Layers" menu and double-click on the playhead, which will turn yellow. Then use the right/left arrow keys to adjust the in/out point. YouTube videos can only be excerpted up to 1/2 second.<br><br>

<div style="color: #65CAFC; font-size: 24px;">Can I create nonlinear links?</div>

Yes. Any layer can be linked to a unique URL. These URLs might be frames within a Zeega project (all frames have a unique URL you can copy when you view the link under "share") or any URL on the web. You can add this link by opening the specified layer in the "Edit Layers" menu and clicking on the "Link" icon at the bottom.<br><br>

<img src="{{ asset('images/faq/link-layer.jpg') }}" /><br><br>

<div style="color: #65CAFC; font-size: 24px;">Can I edit my profile or password?</div>

You can edit your password by clicking "User Profile" under your name in the upper-right. We're sorry the styling on this page isn't the most beautiful : )<br><br>

<div style="color: #65CAFC; font-size: 24px;">Can I import texts (e.g. PDFs)?</div>

Currently, there is no support for importing documents. Coming soon!<br><br>

<div style="color: #65CAFC; font-size: 24px;">Where did the name Zeega come from?</div>

Zeega is an intentional misspelling of Dziga Vertov, one of our favorite media artists. Born Denis Kaufman, Vertov chose to rename himself "dziga" because the word means spinning top in Russian and also makes the sound of a turning camera. Vertov is one of the pioneers of visionary, experimental media practice, starting a "Laboratory of Hearing" in 1918; founding a collaborative documentary team called the "Kinoks"; instigating public projections; and pioneering database-driven forms of documentary. He is most well-known for his groundbreaking 1927 film <a href="http://video.google.com/videoplay?docid=-2809965914189244913#" target="_blank" style="color: red;"><i>Man with a Movie Camera</i></a>. One of the best essays written on Vertov and <i>Man with a Movie Camera</i> is Annette Michelson's <a href="http://zeega.org/downloads/Michelson_EpistemologisttoMagician.pdf" target="_blank" style="color: red;">"From Magician to Epistemologist"</a> (1971), and Lucy Fischer has written on Vertov's radio work in her essay <a href="http://zeega.org/downloads/KinoEyetoRadioEye.pdf" style="color: red;">"Enthusiasm: From Kino-Eye to Radio-Eye"</a> (1977).<br /><br /> 
<br /><br /> 
</p> 
</div> 
 
 
 
	
	
	
</div> <!-- FOR FAQ-->	

{% endblock %}				
{% block scripts %}
	<script type="text/javascript" language="Javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script data-main="{{ asset('js/loaders/main.faq.js') }}" src="{{ asset('js/lib/require-jquery.js')}}"></script>
{% endblock %}