<!DOCTYPE html>
<html>

	<head>

		<title>Frame Viewer</title>
		<meta name="robots" content="noindex,follow">
		<link rel="icon" type="image/png" href="http://zeega.org/images/zeega.ico">
		<meta name="robots" content="noindex,follow">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script> 
			sessionStorage.setItem('directory', '{{directory}}');
			sessionStorage.setItem('hostname','{{hostname}}');
			sessionStorage.setItem('frameId','{{frameId}}');
		</script>
		
		
		<style type="text/css">
			body
			{
				padding:0;
				margin:0;
				background:#000000;
			}
		</style>

		<script data-main="{{ asset('js/main.frame.js')}}" src="{{ asset('js/libraries/require-jquery.js')}}"></script>
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
			
	</head>

	<body>
		<div id="zeega-player" style="position:absolute;overflow:hidden;width:600px; height:400px"></div>
	</body>

</html>