<!doctype html>
<html>
<head>
	<meta charset="utf-8">

	<title></title>
	 <link rel="icon" type="image/png" href="http://zeega.org/images/zeega.ico">
	<meta name="robots" content="noindex,follow">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" href="{{ asset('css/zeega.css')}}">
	<script src="http://s3.documentcloud.org/viewer/loader.js"></script>

	<script type="text/javascript" charset="utf-8" data-requirecontext="_" data-requiremodule="lib/swfobject" src="{{ asset('js/lib/swfobject.js') }}"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script> 
		sessionStorage.setItem('directory', '{{directory}}');
		sessionStorage.setItem('hostname','{{hostname}}');
		sessionStorage.setItem('projectId','{{projectId}}');
	</script>
	
	<script data-main="{{ asset('js/loaders/main.sequence-viewer.js')}}" src="{{ asset('js/lib/require-jquery.js')}}"></script>
	
	
</head>

<body>



	<script type="text/javascript" language="Javascript">
		$('.citation-tab').click(function(){
			
			$('#citation').animate({ height : '100px' })
			
			closeOpenCitationTabs();
			
			$(this).closest('li').find('.citation-content').fadeIn();
		})
		

		$('#citation').mouseleave(function(){
			closeCitationBar();
		})
		
		function closeCitationBar()
		{
			$('#citation').animate({ height : '20px' })
			//$('#hide-citation').fadeOut();
			closeOpenCitationTabs();
		}
		
		function closeOpenCitationTabs()
		{
			$('.citation-tab').closest('ul').children('li').each(function(i,el){
				if($(el).find('.citation-content').is(':visible')) $(el).find('.citation-content').hide();
			})	
		}


	</script> 
	
	<script type="text/javascript" language="Javascript">
		//bootstrapping data
		var projectJSON = "{{ project_data|e('js') }}";
		//console.log(itemsJSON)
		//console.log(projectJSON)
		
	</script>

</body>
</html>
