

{# src/Zeega/IngestBundle/Resources/views/Widget/fail.widget.html.twig #}

{% extends '::widget.base.html.twig' %}

{% block title %}Zeega Alpha {% endblock %}

{% block body %}

	
	<div id="widget-wrapper"  data-id="{% for widget_id in widget_ids %}{{widget_ids}}{%endfor%}" style="margin-top:20px; color: white; font-size:14px;"> 
		<h>Import Media: {{title}}</h>
		<div style="width:100%; margin-left:25px; margin-top:35px; margin-right:25px;">
			<div style="position:relative;  height: 200px; float:left;">
		<div id="import-item" data-count="{{count}}" style='text-align:left; width:400px;'>
			{% for thumb_url in thumb_urls %}
				<img data-id="{{thumb_url.widgetId}}" style="border: solid 1px white; width:40px; height:40px; margin:2px" id="image" src="{{thumb_url.thumbUrl}}" class="scaled" />
			{%endfor%}
		</div>
	</div>

		
			<div id="item-add" style="clear:both" >
					<ul class="pill-buttons">
						<li><a id="add-item" href="#">Add to Collection</a></li>
					</ul>
			</div>

		</div>	
	</div>
{% endblock %}		
	

{% block scripts %}
     <script type="text/javascript" src="{{asset('gamma/js/widget/zeega.batch.js')}}"></script>  
{% endblock %}	