

{# src/Zeega/IngestBundle/Resources/views/Widget/fail.widget.html.twig #}

{% extends '::widget.base.html.twig' %}

{% block title %}Zeega Alpha{% endblock %}

{% block body %}

	<br><br>
	<div id="message" style='color: white; width:100%;' text-align:center">This {{content_type}} has already been uploaded to the {{playground.title}} playground.</div>
	<br><br>

<div id="mediaThumb" style="width:450px; max-height:350px">
	{% if image is defined %}
	
	<img id="image" width="450" src="{{item_url}}" class="widget-image">
	{% endif %}
	{% if video is defined %}
	
	<video width="450" controls="true">
  		<source src="{{item_url}}" type="video/mp4; codecs=&quot;avc1.64001E, mp4a.40.2&quot;">
  	</video>
  	{% endif %}
  	
  	{% if audio is defined %}
  	<audio class="extAudio" controls="true" src="{{item_url}}"></audio>
	{% endif %}
	
	
</div>
	

			


{% endblock %}	
{% block scripts %}
     <script type="text/javascript" src="{{asset('gamma/js/widget/widget.js')}}"></script>  
{% endblock %}