

{# src/Zeega/IngestBundle/Resources/views/Widget/fail.widget.html.twig #}

{% extends '::widget.base.html.twig' %}

{% block title %}Zeega Alpha {% endblock %}

{% block body %}

	<div id="widget-wrapper" data-id="{{widget_id}}"> 
		<div id="media-item" >
			<div id="import-item" style="position:relative; float:left;">
				
			</div>
		</div><!--#import-media-->
		

		<div id="item-view">
			<!--
			<img style="border: solid 1px white; max-width:150px; max-height:150px;" id="item-image" src="http://farm3.staticflickr.com/2037/2163470598_fb7571cdab_s.jpg" class="item-image" />
			<div id="item-add" style="position:relative; width:250px; float:right;">
				<ul class="pill-buttons-widget">
					<li><a id="add-item" href="#">Add to My Media</a></li><br>
				</ul>
			</div>
			<div style="clear:both;"></div>
			<input type="text" class="widget-textbox" id="widget-title"/>
			<input type="text" class="widget-textbox" id="widget-creator"/>
			<textarea rows="10" cols="30" class="widget-textbox" id="widget-description"></textarea>
			-->
			<img style="border: solid 1px white; max-width:150px; max-height:150px;" id="item-image" src="http://farm3.staticflickr.com/2037/2163470598_fb7571cdab_s.jpg" class="item-image" />
			<div id="item-add" style="position:relative; width:250px; float:right;">
				<ul class="pill-buttons-widget">
					<li><a id="add-item" href="#">Add to My Media</a></li><br>
				</ul>
			</div>
			<div style="clear:both;">&nbsp;</div>
			<span id="widget-title">&nbsp;</span></br>
			<span id="widget-creator">&nbsp;</span></br>
			<p id="widget-description" class="widget-textbox">description</p>
		</div>
		<div id='message' style="color: red;"></div>
	</div><!--#widget-wrapper-->
{% endblock %}		
 
{% block scripts %}
	<script data-main="{{ asset('gamma/js/main.widget.js')}}" src="{{ asset('gamma/js/libraries/require-jquery.js')}}"></script>
	<script type="text/javascript" language="Javascript">
		//bootstrapping data
		var itemJSON = "{{item|e('js')}}";
		var itemCollectionJSON = "{{mycollection|e('js')}}";
	</script>	
{% endblock %}
