

{# src/Zeega/\CoreBundle\/Resources/views/Widget/fail.widget.html.twig #}

{% extends '::widget.base.html.twig' %}

{% block title %}Zeega Alpha {% endblock %}

{% block body %}

	<div id="widget-wrapper" data-id="{{widget_id}}"> 
		<div id="results-count">1 set of {{child_items_count}} items found</div>
		<div id="item-view">
			<img style="border: solid 1px white; max-width:150px; max-height:150px;" id="item-image" class="item-image" />
			<div id="item-add" class="add-button">
				<ul class="pill-buttons-widget">
					<li><a id="add-item" href="#">Add Set as Collection</a></li><br>
				</ul>
				<div id="widget-added-text">
					<span class="widget-title-added">Title: <span id="widget-title-added-text">hello</span></span><br/>
					<span class="widget-creator-added">Creator: <span id="widget-creator-added-text">b</span></span>
				</div>
			</div>
			
			<div style="clear:both;">&nbsp;</div>
			<div id="message"></div>
			<div id="widget-title">&nbsp;</div>
			<div id="widget-creator">&nbsp;</div>
			<a href="." id="btn-more">view more</a>
			<a href="." id="btn-less" style="display:none">view less</a>
			<div id="description">
				<p id="widget-description" class="widget-textbox" >description</p>
			</div>
		</div>
		
	</div><!--#widget-wrapper-->
{% endblock %}		
 
{% block scripts %}
	<script data-main="{{ asset('js/loaders/widget.js')}}" src="{{ asset('js/lib/require-jquery.js')}}"></script>
	<script type="text/javascript" language="Javascript">
		//bootstrapping data
		var itemJSON = "{{item|e('js')}}";
		var itemCollectionJSON = "{{mycollection|e('js')}}";
	</script>	
{% endblock %}
