{# src/Zeega/\CoreBundle\/Resources/views/Widget/duplicate.widget.html.twig #}

{% extends '::widget.base.html.twig' %}

{% block title %}Zeega Alpha{% endblock %}

{% block body %}

	<div id="widget-wrapper" data-id="{{widget_id}}"> 
		<h>This {{media_type}} has already been added to Zeega.</h><br><br>
		<div id="item-view">
			<img style="border: solid 1px white; max-width:150px; max-height:150px;" id="item-image" class="item-image" />
			
			<div style="clear:both;">&nbsp;</div>
			<div id="message"></div>
			<div id="widget-title">&nbsp;</div>
			<div id="widget-creator">&nbsp;</div>
			<a href="." id="btn-more">view more</a>
			<a href="." id="btn-less" style="display:none">view less</a>
			<div id="description">
				<p id="widget-description" class="widget-textbox" >description</p>
			</div>
		</div>
		
	</div><!--#widget-wrapper-->
{% endblock %}	

{% block scripts %}
	<script data-main="{{ asset('js/loaders/widget.js')}}" src="{{ asset('js/lib/require-jquery.js')}}"></script>
	<script type="text/javascript" language="Javascript">
		//bootstrapping data
		var itemJSON = "{{item|e('js')}}";
		var itemCollectionJSON = "{{mycollection|e('js')}}";
	</script>	
{% endblock %}



