

{# src/Zeega/\CoreBundle\/Resources/views/Widget/fail.widget.html.twig #}

{% extends '::widget.base.html.twig' %}

{% block title %}Zeega Alpha {% endblock %}

{% block body %}

	<div id="widget-wrapper" data-id="{{widget_id}}"> 
		<div id="item-view">
			<img style="border: solid 1px white; max-width:150px; max-height:150px;" id="item-image" src="http://farm3.staticflickr.com/2037/2163470598_fb7571cdab_s.jpg" class="item-image" />
			<div id="item-add" style="position:relative; width:250px; float:right;">
				<ul class="pill-buttons-widget">
					<li><a id="add-item" href="#">Add to My Media</a></li><br>
				</ul>
			</div>
			<div style="clear:both;">&nbsp;</div>
			<span id="widget-title">&nbsp;</span></br>
			<span id="widget-creator">&nbsp;</span></br>
			<div id="btn-more">More</div>
			<div id="description" style="display:none; height:400px;">
				<p id="widget-description" class="widget-textbox" >description</p>
			</div>
		</div>
		<div id='message' style="color: red;"></div>
	</div><!--#widget-wrapper-->
{% endblock %}		
 
{% block scripts %}
	<script data-main="{{ asset('js/loaders/main.widget.js')}}" src="{{ asset('js/lib/require-jquery.js')}}"></script>
	<script type="text/javascript" language="Javascript">
		//bootstrapping data
		var itemJSON = "{{item|e('js')}}";
		var itemCollectionJSON = "{{mycollection|e('js')}}";
	</script>	
{% endblock %}
