<!doctype html>
<html>
	<head>
		<title>{{project.getTitle()}}</title> 
		<link rel="shortcut icon" type="image/x-icon" href="http://zeega.org/images/zeega.ico"> 
		<style type="text/css">
			body {margin:0px}
			html {
				{% if project.getThumbnailUrl() is defined %}
				background: url({{project.getThumbnailUrl()}}) no-repeat center center fixed;
				{% elseif project.getCoverImage() is defined %}
				background: url({{project.getCoverImage()}}) no-repeat center center fixed;
				{% else %}
				background: url({{asset('images/default_cover.png')}}) no-repeat center center fixed;
				{% endif %}
				
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				color:white;
			}
			
			h1 {padding:10px;}
			h2 {font-size:12px; padding:10px;}
			#text{width:100%;background-color:rgba(0,0,0,.5); position: absolute; bottom: 10%; }
			a{ width:100%; height:100%; z-index:1000; position:absolute;background:url({{ asset('images/embed_play.png')}}) center center no-repeat; background-size:12%;}

		</style>	
	</head>

	<body>
		<a href="{{hostname}}{{directory}}project/{{projectId}}/view" target= "_blank"></a>
		<div id="text">
			<h1>{{project.getTitle()}}</h1>
			{% if project.getMediaCreatorRealname() is defined %}<h2>{{project.getMediaCreatorRealname() }}</h2>
			{% elseif project.getAuthor() is defined %}<h2>{{project.getAuthor() }}</h2>
			{% endif %}
		</div>
	</body>
</html>
