

{# src/Zeega/\CoreBundle\/Resources/views/Widget/fail.widget.html.twig #}

{% extends '::widget.base.html.twig' %}

{% block title %}Zeega Alpha {% endblock %}

{% block body %}

	<div id="widget-wrapper" data-id="{{widget_id}}"> 
		
		{% if archive == 'Dropbox' %}
			{% if child_items_count == 0 %} <div id="results-count"><h3>Nothing new to add from Dropbox!</h3></div> 		
			{% elseif child_items_count == 1 %} <div id="results-count"><h3>1 New Item Found</h3></div> 
			{% else %} <div id="results-count"><h3>{{child_items_count}} New Items Found</h3></div>
			{% endif %}
		{% else %}
			{% if child_items_count == 0 %} <div id="results-count"><h3>1 Item Found</h3></div> 
			{% else %} <div id="results-count"><h3>{{child_items_count}} Items Found</h3></div>
			{% endif %}
		{% endif %}
		
		<div id="item-view">
			<div style="height:150px;">
			
			<img style="max-width:150px; max-height:150px;" id="item-image" class="item-image" src="{{ thumbnail_url }}" />
			
			<div id="item-add" class="add-button">
				
				
				{% if archive == 'Dropbox' %}  {% if child_items_count != 0 %}  <button id="add-item" class='btn btn-success'><i class="icon-inbox icon-white"></i>Add Dropbox Media  </i></button>{% endif %}
				{% elseif update == '1' %} <button id="add-item" class='btn btn-success'><i class="icon-inbox icon-white"></i> Update Media </button>
				{% elseif update == '1' %} <button id="add-item" class='btn btn-success'><i class="icon-inbox icon-white"></i> Update Media </button>
				{% else %} <button id="add-item" class='btn btn-success'><i class="icon-inbox icon-white"></i> Add to My Media </button>
				{% endif %}
				
				

			</div>
			</div>
			<div style="clear:both;">&nbsp;</div>
			<div class='widget-message' id="begin-message"></div>
			
			{% if archive == 'Dropbox' %}
			<div class='widget-message' id="message">Dropbox media successfully added to your Zeega Collection.</div>
			{% else %}
			<div class='widget-message' id="message">Media successfully added to your Zeega Collection.</div>
			<div style="clear:both;">&nbsp;</div>
			<div id="message"></div>
			<h3>Title:</h3>
			<div id="widget-title" class='ingest-info'>&nbsp;</div>
			<h3>Author:</h3>
			<div id="widget-creator" class='ingest-info'>&nbsp;</div>
			<h3>Description:</h3>
			<div id="description">
					<p id="widget-description" class="widget-textbox ingest-info" >description</p>
			</div>
			
			{% endif %}
			
		</div>
		
	</div><!--#widget-wrapper-->
{% endblock %}		
 
{% block scripts %}
	{% if app.environment == 'dev' %}
	<!-- to load JS libraries separately -->
		<script src="{{ asset('js/lib/require.js') }}" data-main="{{ asset('js/loaders/widget.js') }}"></script>
	{% else %}
		<!-- to load single aggregated JS library --> 
		<script src="{{ asset('js/lib/require.js') }}" data-main="{{ asset('js_min/widget.js') }}"></script>
	{% endif %}
	
	<script type="text/javascript" language="Javascript">
		//bootstrapping data
		var itemJSON = "{{item|e('js')}}";
	</script>	
{% endblock %}
