{% extends "FOSUserBundle::layout.html.twig" %}

{% block head %}
    <title>Zeega</title>
    <link rel="shortcut icon" type="image/x-icon" href="http://zeega.org/images/zeega.ico"> 
    
    <style type="text/css">
        html { 
            background: url({{asset("images/graphpaper.png")}});

        }    
    </style>
    

    <!-- Less - LOAD variables.less FIRST and then other stuff and then style.less at the end -->
    {% if app.environment == 'dev' %}
        <link rel="stylesheet/less" type="text/css" href="{{ asset('css/less/community/bootstrap.less')}}">
        <script type="text/javascript" src="{{ asset('js//lib/less-1.3.0.min.js')}}"></script>
        <script> /* Provisory for dev environment: */ localStorage.clear(); </script>
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/zeega.community.css')}}">
    {% endif %}

    <link href='https://fonts.googleapis.com/css?family=Podkova:400,700' rel='stylesheet' type='text/css'> <!-- Including Google's Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
    {% include 'ZeegaUserBundle:Shared:facebook.html.twig' %}
{% endblock head%}


{% block body %}
<form id="register-social" action="{{ path('fos_user_registration_extra',{id: id}) }}" method="POST" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <a href="#" onclick="document.getElementById('register-social').submit();" class="btnz btnz-submit">Do it!</a>
</form>
{% endblock body %}