{% block body %}
<!-- Background Color Div - creates the transparent layer over the background image -->
	<div id="background-color-lightest">
	</div>
	<!-- Background Color Div ends -->

	
	<div class="container new-section">
	
		<div class="row">
	
			<div class="page-intro span11">
			
				<h1>Join the Zeega Movement!</h1>
				<h2>Make the web you want with fellow storytellers, musicians, mememakers, educators, artists and other adventurers.</h2>			
			</div>
		
		</div>
	
	</div>
	
	<!-- Page Intro Ends -->
	<!-- Page Content Begins -->
	
	<div class="container new-section">
	
		<div class="row">
		
			<div class="span7" style="width:980px;">

				<div style="float: left;">

        		<a href="#" onclick="fbLogin();" class="login-social" ><img src="{{asset("images/registration/signup-facebook.png")}}"/></a><br/><br>
				<a href="{{ path("ZeegaSocialBundle_twitter_connect") }}" class="login-social" ><img src="{{asset("images/registration/signup-twitter.png")}}"/></a> <br/>

				

			
				{% for key, message in app.session.getFlashes() %}
				<div class="{{ key }}">
				    {{ message|trans({}, 'FOSUserBundle') }}
				</div>
				{% endfor %}

				</div>

				<div style="float:right;">

				<h2 class='message'>Or Sign Up with Email</h2><br>

				<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-vertical">
					<fieldset>
						<div class="control-group">			
					    {{ form_errors(form) }}
						<div class="row">
					    	<div class="span3">
								<label class="control-label" for="name"><h4>Name</h4></label>
							</div>
							<div class="span4">
								<div class="required"></div>
								<div class="controls">
						    		{{ form_errors(form.display_name) }}
						    		{{ form_widget(form.display_name, { 'attr': {'class': 'input-xlarge-custom'} }) }}
								</div>
							</div>
						</div>
						<div class="row">
					    	<div class="span3">
						    	<label class="control-label" for="email"><h4>Email</h4></label>
							</div>
							<div class="span4">
								<div class="required"></div>			
								<div class="controls">
						    		{{ form_errors(form.email) }}
						    		{{ form_widget(form.email, { 'attr': {'class': 'input-xlarge-custom'} }) }}
								</div>
							</div>
						</div>

						<div class="row">
					    	<div class="span3">
						    	<label class="control-label" for="password"><h4>Password</h4></label>
							</div>
							<div class="span4">
								<div class="required"></div>			
								<div class="controls">
									{{ form_errors(form.plainPassword.first) }}
						    		{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'input-xlarge-custom'} }) }}
								</div>
							</div>
						</div>
						<div class="row">
					    	<div class="span3">
						    	<label class="control-label" for="password-verification"><h4>Verify Password</h4></label>
							</div>
							<div class="span4">
								<div class="required"></div>			
								<div class="controls">
									{{ form_errors(form.plainPassword.second) }}
						    		{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'input-xlarge-custom'} }) }}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="span3">
								<br/>
							</div>
							<div class="span4">
								By signing up, I agree to Zeega's <a href="{{path("ZeegaCommunityBundle_terms")}}">Terms of Use</a>
							</div>
						</div>
					    {{ form_rest(form) }}

					    <div class="row">
							<div class="span4 offset3">
								<button type="submit" class="btn btn-success btn-custom"><h4>Join</h4></button>
							</div>
						</div>
					 </div>
				</fieldset>
				</form>

				</div>
				<div style="clear:both;"></div>
			
			</div>
			
			<!-- Form Ends -->
			
			
		
		</div>
	
	</div>
	
	<!-- Page Content Ends -->
	
{% endblock %}	

