
{% block head %}
	<script type="text/javascript">
		window.localStorage.clear();
	</script>
	<style type="text/css">	
		body{
			background-color: transparent;
		}
	/*.fos_user_registration_register label {
		display: block;
		color: white;
		font-variant: small-caps;
		margin-top: 10px;
		font-weight: bold;
		text-align: left;
		font-size: 14px;

	}
	.fos_user_registration_register ul li
	{
		color: red;
		margin-left: 100px;
	}
	#password-change
	{
		clear;
	}
	#password-change-button
	{
		margin-left:0;
	}
	.fos_user_success
	{
		color: red;
	}*/
	</style>
	<link rel="shortcut icon" type="image/x-icon" href="http://zeega.org/images/zeega.ico"> 
	
	<!-- DEV ONLY This block is for less to clear its stupid cache. Take out in production -->
	<script type="text/javascript">
		window.localStorage.clear();
	</script>
	<!-- end DEV ONLY -->

	<style type="text/css">
	
		/*
			Background image code lives here, not in CSS, because this is specific to each page
			and could be made dynamic too (i.e. randomly picking a different image each load)
			quite easily. Exposing the code here should be helpful.
		*/
	
		html { 
		background: url(http://farm4.staticflickr.com/3155/2910519886_a67ce605e5_o.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		}
	
	</style>

	<link rel="stylesheet/less" type="text/css" href="{{ asset('css/less/community/bootstrap.less')}}">

	<link href='http://fonts.googleapis.com/css?family=Podkova:400,700' rel='stylesheet' type='text/css'> <!-- Including Google's Font -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
	<script type="text/javascript" language="Javascript" src="{{ asset('js/lib/less-1.3.0.min.js') }}"></script>
	
{% endblock head %}

{% block body %}


<!-- Background Color Div - creates the transparent layer over the background image -->
	<div id="background-color">
	</div>
	<!-- Background Color Div ends -->
	
	<!-- Header & Nav Begins -->
	<div class="container header new-section">
	
		<div class="row">
		
			<div class="span6">
				<img src="{{ asset('images/zeega-logo.png') }}" alt="zeega-logo" width="134" height="43">
				<div class="strapline">
				Remake The Internet
				</div>
			</div>
			
			<div class="span8">
				<div class="navigation">	
					<div>
						<p><a href="">About</a><a href="">SignUp</a><a href="">Login</a></p>
					</div>
				</div>
			</div>
	
		</div>
	
	</div>
	<!-- Header & Nav Ends -->
	<!-- Page Intro Begins -->
	
	<div class="container new-section">
	
		<div class="row">
	
			<div class="page-intro span11">
			
				<h1>Sign Up For A Zeega Invite</h1>
				<h2>Got an idea? It starts here. Tell us a little bit about what you’ve got in mind and, in return, we’ll add your name to the alpha list. As soon as a spot opens, we’ll invite you in.</h2>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Page Intro Ends -->
	<!-- Page Content Begins -->
	
	<div class="container new-section">
	
		<div class="row">
		
			<div class="span7">
			
				<form class="form-vertical" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
				  <fieldset>
				  
				    <div class="control-group">			
			
				    	<!-- Row Begins -->
				    	
				    	<div class="row">
				
					    	<div class="span3">
				
						    	<label class="control-label" for="fos_user_registration_form_display_name"><h4>Name</h4></label>

							</div>
				    
							<div class="span4">
							
								<div class="required"></div>
								
								<div class="controls">
									<input type="text" id="fos_user_registration_form_display_name" name="fos_user_registration_form[display_name]" class="input-xlarge-custom" id="firstname" required="required" maxlength="255">
									
								</div>				    
							
							</div>
							
						</div>
						
						<!-- Row Ends -->		
						
				    	<!-- Row Begins -->
				    	
				    	<div class="row">
				
					    	<div class="span3">
				
						    	<label class="control-label" for="fos_user_registration_form[username]"><h4>Email</h4></label>

							</div>
				    
							<div class="span4">
							
								<div class="required"></div>
								
								<div class="controls">
									<input type="text" class="input-xlarge-custom"  id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required="required" maxlength="255" pattern=".{2,255}">

								</div>				    
							
							</div>
							
						</div>
						
						<!-- Row Ends -->
						

				    	<!-- Row Begins -->
				    	
				    	<div class="row">
				
					    	<div class="span3">
				
						    	<label class="control-label" for="confirm-email"><h4>Confirm Email</h4></label>

							</div>
				    
							<div class="span4">
							
								<div class="required"></div>
								
								<div class="controls">
									<input type="text" class="input-xlarge-custom"  id="fos_user_registration_form_username_confirm" name="fos_user_registration_form[username_confirm]" required="required" maxlength="255" pattern=".{2,255}">
								</div>				    
							
							</div>
							
						</div>
						
						<!-- Row Ends -->
						
					
				    	<!-- Row Begins -->
				    	
				    	<div class="row">
				
					    	<div class="span3">
				
						    	<label class="control-label" for="youridea"><h4>Your Idea</h4></label>
						    	
						    	<p class="sidebar">
						    	Already have something in mind? Tell us a little more, we'd love to hear about it.
						    	</p>

							</div>
				    
							<div class="span4">
								
								<div class="controls">
									<textarea type="text" class="input-xlarge-custom longform" id="youridea" rows="5"></textarea>
								</div>				    
							
							</div>
							
						</div>
						
						<!-- Row Ends -->
						

						
						<!-- Row Begins -->
						
						<div class="row">
						
							<div class="span4 offset3">
							
								<button type="submit" class="btn btn-success btn-custom"><h4>{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</h4></button>
							
							</div>
							
						</div>	
						
						

												
				    </div>
				    
				  </fieldset>
				</form>
			
			</div>
			
			<!-- Form Ends -->
			
			<div class="span6 offset1">
			
				<img src="http://www.placehold.it/400x225&text=VIDEO">
				<p class="sidebar">Still looking for a little more info? Watch this short video we made.</p>
			
			</div>
			
		
		</div>
	
	</div>
	
	<!-- Page Content Ends -->
	
	
	
	
	
	
	

	
	<!-- Footer Begins -->
	
	<div class="footer">
	
		<div class="container">
		
			<div class="row">
			
			<div class="span5">
				<img src="{{asset('images/zeega-logo.png')}}" alt="zeega-logo" width="134" height="43">
				<div class="strapline">
				Remake The Internet
				</div>
				<p><small>Zeega is a non-profit dedicated to inventing new forms of interactive storytelling. We are passionate about beautiful, surprising, immersive digital experiences that foster curiosity and enrich understanding of the world around us.</small></p>
				<p><small>
					Send us a message: <a href="mailto:info@zeega.org">info@zeega.org</a><br>
					Maybe tweet us: <a href="http://www.twitter.com/zeega">@zeega</a><br>
					Or send a package: 364a Broadway, Cambridge MA 02139
				</small></p>
			</div>
			
			<div class="footer-navigation span3 offset6">
				<div>
					<p><a href="http://www.zeega.org">Home</a></p>
					<p><a href="">About</a></p>
					<p><a href="">Signup</a></p>
					<p><a href="">Login</a></p>
				</div>
			</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Footer Ends -->
<!--
{% for key, message in app.session.getFlashes() %}
<div class="{{ key }}">
    {{ message|trans({}, 'FOSUserBundle') }}
</div>
{% endfor %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
-->
{% endblock %}	

